.row
  .user-kind
    Chef
  .span5.user-image
    =link_to image_tag("Food 6.jpg"), "#"
.row.user-first-row
  %table
    %tr
      %td.span1.user-profile-image
        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "User Name", "class" => "user-card-name"
      %td.span3.user-name-and-blurb
        %a{:href => "#"} Neeharika Bharitya
        %p Gimme that recipe!
      %td.span1.unfollow-button
        %a.btn.btn-warning{:href => "#"} Follow
    