.profiles
  .user-profile
    #profile-carousel.carousel.slide
      .carousel-inner
        .active.item
          =image_tag "Food 17.jpg"
        .item
          =image_tag "Food 18.jpg"
        .item
          =image_tag "Food 22.jpg"
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#profile-carousel"}
      %li{"data-slide-to" => "1", "data-target" => "#profile-carousel"}
      %li{"data-slide-to" => "2", "data-target" => "#profile-carousel"}
    .container
      .row.user-overview{'ng-controller' => 'ProfileEditCtrl'}
        .span1          
        .span4
          %table
            %tr
              %td.profile-photo
                =image_tag "Favicon.png"
              %td.user-title
                %h1
                  Samovar Tea Lounge
            %tr
              %td.user-summary{:colspan => '2'}
                %h2 
                  Your Haven from the World 
                  -if current_user.kind == "chef"
                    <sup><a href = "#user-about", class = "read-more", data-target = "#user-about-detail", data-toggle = "collapse"> Read More </a></sup>
                -# if foodie, just show neighborhood + city + zip; if host, show full address
                %h3
                  123 Mission Street
                %h3
                  San Francisco, CA 94109
                -if current_user.kind == "chef"
                  %table.user-social-stats
                    %tr
                      %td
                        %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                      %td
                        %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                      %td
                        %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
                    %tr.user-stats
                      %td 190
                      %td 190
                      %td Tell
                    %tr.user-stat-labels
                      %td followers
                      %td reviews
                      %td a friend
                  -else
                    %table.user-social-stats
                      %tr
                        %td
                          %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                        %td
                          %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                        %td
                          %a.sb.heart.circle.no-border.no-shadow.green{:href=>"#"}
                      %tr.user-stats
                        %td 190
                        %td 190
                        %td 190
                      %tr.user-stat-labels
                        %td points
                        %td followers
                        %td following
        .span1.edit-button
          %button.btn.btn-warning{'ng-click' => 'edit=1'} Edit
        .span1
        .span4 
          -if current_user.kind == "chef"
            .user-summary-edit.clearfix{'ng-show' => 'edit==1'}
              %input{:type=>"text", :placeholder =>"Name"}
              %input{:type=>"text", :placeholder =>"Blurb"}
              %input{:type=>"text", :placeholder =>"Address"}
              %input{:type=>"text", :placeholder =>"City"}
              %select#state
                %option{:disabled => "disabled", :selected => "selected", :value => ""} State
              %input{:type=>"text", :placeholder =>"Zip Code"}
              %button.btn Hook up Yelp
              %button.btn.btn-warning{'ng-click' => 'edit=2'} Save Changes
              %button.btn.btn-warning{'ng-click' => 'edit=0', 'ng-hide' => 'edit==0'} Never Mind
            -else
              .user-summary-edit.clearfix{'ng-show' => 'edit==1'}
                %input.name{:type=>"text", :placeholder =>"Name"}
                %input.blurb{:type=>"text", :placeholder =>"Blurb"}
                %input.address{:type=>"text", :placeholder =>"Address (we'll only show your neighborhood)"}
                %input.city{:type=>"text", :placeholder =>"City"}
                %select#state
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} State
                %input.zip{:type=>"text", :placeholder =>"Zip Code"}
                %button.btn.btn-warning{'ng-click' => 'edit=2'} Save Changes
                %button.btn.btn-warning{'ng-click' => 'edit=0', 'ng-hide' => 'edit==0'} Never Mind
                
        .span1
  -if current_user.kind == "chef"
    .container
      .row.section-header
        .span12#user-announcements
          %a{:href => "#user-announcements", 'data-target'=>"#user-announcements-detail", 'data-toggle'=>"collapse"} Announcements <span class="caret collapsed"></span>
    .user-announcements
      .container
        .row
          .span1
          .span10
            #user-announcements-accordion.accordion
              #user-announcements-detail.accordion-body.collapse.in
                .accordion-inner
                  %p
                    Announcements
          .span1
    .container
      .row.section-header
        .span12
          %h1 Events
          %ul
            %li 
              %a{:href=>"#"} Upcoming
            %li 
              %a{:href=>"#"} Past
            %li 
              %a{:href=>"#"} Create New
            %li 
              %a{:href=>"#"} Hearted
    .user-events
      .container
        .row
          .span1
          .span10
            =render "layouts/singleeventdash"
            =render "layouts/singleeventdash"
    .user-following
      .container
        .row
          .span1
          .span10
            .row
              .span5.single-following
                =render "layouts/singleuserdash"
              .span5.single-following
                =render "layouts/singleuserdash"
            .row
              .span5.single-following
                =render "layouts/singleuserdash"
              .span5.single-following
                =render "layouts/singleuserdash"
    .container
      .row.section-header
        .span12#user-chatter
          %a{:href => "#user-chatter", 'data-target'=>"#user-chatter-detail", 'data-toggle'=>"collapse"} Sample Chatter <span class="caret collapsed"></span>
          %ul
            %li 
              %a{:href=>"#"} Hide Participants
            %li 
              %a{:href=>"#"} Turn Off Chatter
    .user-chatter
      .container
        .row
          .span1
          .span10
            #user-chatter-accordion.accordion
              #user-chatter-detail.accordion-body.collapse.in
                .accordion-inner
                  .row.conversants
                    .span12
                      =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
                      =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
                      =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
                      =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
                      =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
                  .row.comments
                    .span12
                      %table
                        %tr
                          %td
                            =link_to image_tag("Favicon.png"), "#"
                          %td
                            Comment blahblahblahblah
                        %tr
                          %td
                            =link_to image_tag("Favicon.png"), "#"
                          %td
                            Comment blahblahblahblah
                      %table.response-level1.offset1
                        %tr
                          %td
                            =link_to image_tag("Favicon.png"), "#"
                          %td
                            Comment blahblahblahblah
                      %table.response-level2.offset2
                        %tr
                          %td
                            =link_to image_tag("Favicon.png"), "#"
                          %td
                            Comment blahblahblahblah
          .span1
    .container
      .row.section-header
        .span12#user-about
          %a{:href => "#user-about", 'data-target'=>"#user-about-detail", 'data-toggle'=>"collapse"} Our Story <span class="caret collapsed"></span>
    .user-about
      .container
        .row
          .span1
          .span10
            #user-about-accordion.accordion
              #user-about-detail.accordion-body.collapse
                .accordion-inner
                  %p
                    About
          .span1


  -else
    .container
      .row
        .span2.badges
          =image_tag "Favicon.png"
          =image_tag "Favicon.png"
          =image_tag "Favicon.png"
          =image_tag "Favicon.png"
          =image_tag "Favicon.png"
          =image_tag "Favicon.png"
          =image_tag "Favicon.png"
        .span10
          .row.section-header
            .span10
              %h1 Events
              %ul
                %li 
                  %a{:href=>"#"} Upcoming
                %li 
                  %a{:href=>"#"} Past
                %li 
                  %a{:href=>"#"} Hearted
          .row.user-events
            .span10
              =render "layouts/singleeventdash"
              =render "layouts/singleeventdash"
          .row.section-header
            .span10
              %h1 Campaigns
              %ul
                %li 
                  %a{:href=>"#"} Ongoing
                %li 
                  %a{:href=>"#"} Successful
          .row.user-campaigns
            .span10
              .row
                .span5.single-campaign
                  =render "campaigns/singlecampaigndash"
                .span5.single-campaign
                  =render "campaigns/singlecampaigndash"
              .row
                .span5.single-campaign
                  =render "campaigns/singlecampaigndash"
                .span5.single-campaign
                  =render "campaigns/singlecampaigndash"
          .row.section-header
            .span10
              %h1 Following
              %ul
                %li 
                  %a{:href=>"#"} Restaurants
                %li 
                  %a{:href=>"#"} Foodies
          .row.user-following
            .span10
              .row
                .span5.single-following
                  =render "layouts/singleuserdash"
                .span5.single-following
                  =render "layouts/singleuserdash"
              .row
                .span5.single-following
                  =render "layouts/singleuserdash"
                .span5.single-following
                  =render "layouts/singleuserdash"


-#  
  = render 'form'
    
  = link_to 'Back', profiles_path