=content_for :title, "simmr | hosts"

.events-index
  .events
    .container
      .row.section-header
        .span12.profiles-index-header
          %h1 Featured Businesses in San Francisco  

    -# check and filter for only businesses               
            
    .container
      -biz_profiles = @biz_profiles
      -while biz_profiles.length > 1
        -profile = biz_profiles.pop
        .row.events-row
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
          -profile = biz_profiles.pop
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
      -if biz_profiles.length == 1
        -profile = biz_profiles.pop
        .row.events-row
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
          .span6

  -#
    .container
      .row.section-header
        .span12.events-index-header
          %h1 Foodies in San Francisco  

    -# check and filter for only foodies               
            
    .container
      -foodie_profiles = @foodie_profiles
      -while foodie_profiles.length > 1
        -profile = foodie_profiles.pop
        .row.events-row
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
          -profile = foodie_profiles.pop
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
      -if foodie_profiles.length == 1
        -profile = foodie_profiles.pop
        .row.events-row
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
          .span6