=content_for :title, "simmr | people"

.events-index
  .events
    .container
      .row.section-header
        .span12.profiles-index-header
          %h1 Featured Businesses in San Francisco  

    -# check and filter for only businesses               
            
    .container
      -all_profiles = @profiles
      -while all_profiles.length > 1
        -profile = all_profiles.pop
        .row.events-row
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
          -profile = all_profiles.pop
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
      -if all_profiles.length == 1
        -profile = all_profiles.pop
        .row.events-row
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
          .span6


    .container
      .row.section-header
        .span12.events-index-header
          %h1 Foodies in San Francisco  

    -# check and filter for only foodies               
            
    .container
      -all_profiles = @profiles
      -while all_profiles.length > 1
        -profile = all_profiles.pop
        .row.events-row
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
          -profile = all_profiles.pop
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
      -if all_profiles.length == 1
        -profile = all_profiles.pop
        .row.events-row
          .span6.single-event
            =render "profiles/singleuser", :profile => profile
          .span6