.profiles
  .user-profile
    #profile-carousel.carousel.slide
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#profile-carousel"}
        %li{"data-slide-to" => "1", "data-target" => "#profile-carousel"}
        %li{"data-slide-to" => "2", "data-target" => "#profile-carousel"}
      .carousel-inner
        .active.item
          =image_tag "Food 17.jpg"
        .item
          =image_tag "Food 18.jpg"
        .item
          =image_tag "Food 22.jpg"
    %a.carousel-control.left{"data-slide" => "prev", :href => "#profile-carousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#profile-carousel"} ›
    .container
      .row.user-overview{'ng-controller' => 'ProfileEditCtrl'}
        .span1
        .span4
          .user-summary
            %h1
              Samovar Tea Lounge
            %h2 
              Your Haven from the World
            %h3
              123 Mission Street.
              San Francisco, CA 94109
            %table.user-social-stats
              %tr
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.twitter.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.user-stats
                %td 190
                %td 190
                %td 190
                %td Tell
              %tr.user-stat-labels
                %td likes
                %td followers
                %td reviews
                %td a friend
        .span1.edit-button
          %a.btn.btn-warning{'ng-click' => 'edit=1'} Edit
        .span1
        .span4 
          .user-summary-edit{'ng-show' => 'edit==1'}
            %input{:type=>"text", :placeholder =>"Name"}
            %input{:type=>"text", :placeholder =>"Blurb"}
            %input{:type=>"text", :placeholder =>"Address"}
            %input{:type=>"text", :placeholder =>"City"}
            %select
              %option{:disabled => "disabled", :selected => "selected", :value => ""} State
            %input{:type=>"text", :placeholder =>"Zip Code"}
            %table.user-social-stats
              %tr
                %td
                  %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.twitter.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.user-stats
                %td 190
                %td 190
                %td 190
                %td Tell
              %tr.user-stat-labels
                %td likes
                %td followers
                %td reviews
                %td a friend
            .btn.btn-warning Done
        .span1
  .container
    .row.section-header
      .span12#user-announcements
        %a{:href => "#user-announcements", 'data-target'=>"#user-announcements-detail", 'data-toggle'=>"collapse"} Announcements <span class="caret collapsed"></span>
  .user-announcements
    .container
      .row
        .span1
        .span10
          #user-announcements-accordion.accordion
            #user-announcements-detail.accordion-body.collapse.in
              .accordion-inner
                %p
                  Announcements
        .span1 
  .container
    .row.section-header
      .span12#user-about
        %a{:href => "#user-about", 'data-target'=>"#user-about-detail", 'data-toggle'=>"collapse"} Our Story <span class="caret collapsed"></span>
  .user-about
    .container
      .row
        .span1
        .span10
          #user-about-accordion.accordion
            #user-about-detail.accordion-body.collapse.in
              .accordion-inner
                %p
                  About
        .span1
  .container
    .row.section-header
      .span12
        %h1 Events
        %ul
          %li 
            %a{:href=>"#"} Upcoming
          %li 
            %a{:href=>"#"} Past
          %li 
            %a{:href=>"#"} Hearted
  .user-events
    .container
      .row
        .span1
        .span10
          .row
            .span5.single-event
              =render "layouts/singleevent"
            .span5.single-event-actions
              %ul
                %li 
                  %a.action Cancel / Go / Edit Event
                %li 
                  %a.action Feedback & FU / Event Comms
              %ul
                %li 
                  %a.action Edit Tkt Info / Event Stats
                %li 
                  %a.action Edit Pmt Info / Feedback & FU
          .row
            .span5.single-event
              =render "layouts/singleevent"
            .span5.single-event-actions
              %ul
                %li 
                  %a.action Cancel/Go/Edit Event
                %li 
                  %a.action Feedback & FU / Event Comms
              %ul
                %li 
                  %a.action Edit Tkt Info / Event Stats
                %li 
                  %a.action Edit Pmt Info / Feedback & FU
  .container
    .row.section-header
      .span12
        %h1 Campaigns
        %ul
          %li 
            %a{:href=>"#"} Ongoing
          %li 
            %a{:href=>"#"} Successful
  .user-campaigns
    .container
      .row
        .span1
        .span10
          .row
            .span5.single-campaign
              =render "layouts/singlecampaigndash"
            .span5.single-campaign
              =render "layouts/singlecampaigndash"
          .row
            .span5.single-campaign
              =render "layouts/singlecampaigndash"
            .span5.single-campaign
              =render "layouts/singlecampaigndash"
  .container
    .row.section-header
      .span12
        %h1 Following
        %ul
          %li 
            %a{:href=>"#"} Restaurants
          %li 
            %a{:href=>"#"} Foodies
  .user-following
    .container
      .row
        .span1
        .span10
          .row
            .span5.single-following
              =render "layouts/singleuserdash"
            .span5.single-following
              =render "layouts/singleuserdash"
          .row
            .span5.single-following
              =render "layouts/singleuserdash"
            .span5.single-following
              =render "layouts/singleuserdash"
  .container
    .row.section-header
      .span12#user-chatter
        %a{:href => "#user-chatter", 'data-target'=>"#user-chatter-detail", 'data-toggle'=>"collapse"} Sample Chatter <span class="caret collapsed"></span>
        %ul
          %li 
            %a{:href=>"#"} Hide Participants
          %li 
            %a{:href=>"#"} Turn Off Chatter
  .user-chatter
    .container
      .row
        .span1
        .span10
          #user-chatter-accordion.accordion
            #user-chatter-detail.accordion-body.collapse.in
              .accordion-inner
                .row.conversants
                  .span12
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
                .row.comments
                  .span12
                    %table
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                    %table.response-level1.offset1
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                    %table.response-level2.offset2
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
        .span1


-#
  %h1 New profile
  
  = render 'form'
  
  = link_to 'Back', profiles_path