.profiles
  .user-profile
    #profile-carousel.carousel.slide
      .carousel-inner
        .active.item
          =image_tag "Food 17.jpg"
        .item
          =image_tag "Food 18.jpg"
        .item
          =image_tag "Food 22.jpg"
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#profile-carousel"}
      %li{"data-slide-to" => "1", "data-target" => "#profile-carousel"}
      %li{"data-slide-to" => "2", "data-target" => "#profile-carousel"}
    .container
      .row.user-overview
        .span1          
        .span4
          %table
            %tr
              %td.profile-photo
                =image_tag "Favicon.png"
              %td.user-title
                %h1
                  Samovar Tea Lounge
            %tr
              %td.user-summary{:colspan => '2'}
                %h2 
                  Your Haven from the World 
                  -if current_user.kind == "chef"
                    <sup><a href = "#user-about", class = "read-more", data-target = "#user-about-detail", data-toggle = "collapse"> Read More </a></sup>
                %h3
                  123 Mission Street
                %h3
                  San Francisco, CA 94109
                -if current_user.kind == "chef"
                  %table.user-social-stats
                    %tr
                      %td
                        %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                      %td
                        %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                      %td
                        %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
                    %tr.user-stats
                      %td 190
                      %td 190
                      %td Tell
                    %tr.user-stat-labels
                      %td followers
                      %td reviews
                      %td a friend
                  -else
                    %table.user-social-stats
                      %tr
                        %td
                          %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                        %td
                          %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                        %td
                          %a.sb.heart.circle.no-border.no-shadow.green{:href=>"#"}
                      %tr.user-stats
                        %td 190
                        %td 190
                        %td 190
                      %tr.user-stat-labels
                        %td points
                        %td followers
                        %td following
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.black
        .span1
        .span4 
        .span1
  -if current_user.kind == "chef"
    .container
      .row
        .span2.scroll-menu.chef
          %ul.nav.nav-list.scroll-menu-items{"data-spy" => "affix", "data-offset-top" => "700", "data-offset-bottom"=> "150"}
            %li 
              %a{:href=>"#news"} News
            %li 
              %a{:href=>"#events"} Events
            %li   
              %a{:href=>"#following"} Following
            %li 
              %a{:href=>"#chatter"} Chatter
            %li 
              %a{:href=>"#about"} About
        .span10
          .row.section-header#news
            .span10#user-news
              %a{:href => "#user-news", 'data-target'=>"#user-news-detail", 'data-toggle'=>"collapse"} News <span class="caret collapsed"></span>
          .row.user-news
            .span10
              #user-news-accordion.accordion
                #user-news-detail.accordion-body.collapse.in
                  .accordion-inner
                    %p
                      News
      .row
        .span10.offset2
          .row.section-header#events
            .span10
              %h1 Events
              %ul
                %li 
                  %a{:href=>"#"} Upcoming
                %li 
                  %a{:href=>"#"} Past
                %li 
                  %a{:href=>"#"} Hearted
          .row.user-events
            .span10
              .row.events-row
                .span5.single-event
                  =render "layouts/singleevent"
                .span5.single-event
                  =render "layouts/singleevent"
              .row.events-row
                .span5.single-event
                  =render "layouts/singleevent"
                .span5.single-event
                  =render "layouts/singleevent"
          .row.section-header#following
            .span10
              %h1 Following
              %ul
                %li 
                  %a{:href=>"#"} Restaurants
                %li 
                  %a{:href=>"#"} Foodies
          .row.user-following
            .span10
              .row
                .span5.single-following
                  =render "layouts/singleuser"
                .span5.single-following
                  =render "layouts/singleuser"
              .row
                .span5.single-following
                  =render "layouts/singleuser"
                .span5.single-following
                  =render "layouts/singleuser"
          .row.section-header#chatter
            .span10#user-chatter
              %a{:href => "#user-chatter", 'data-target'=>"#user-chatter-detail", 'data-toggle'=>"collapse"} Chatter <span class="caret collapsed"></span>
          .row.user-chatter
            .span10
              #user-chatter-accordion.accordion
                #user-chatter-detail.accordion-body.collapse.in
                  .accordion-inner
                    .row.conversants
                      .span10
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
                    .row.comments
                      .span10
                        %table
                          %tr
                            %td
                              =link_to image_tag("Favicon.png"), "#"
                            %td
                              Comment blahblahblahblah
                          %tr
                            %td
                              =link_to image_tag("Favicon.png"), "#"
                            %td
                              Comment blahblahblahblah
                        %table.response-level1.offset1
                          %tr
                            %td
                              =link_to image_tag("Favicon.png"), "#"
                            %td
                              Comment blahblahblahblah
                        %table.response-level2.offset2
                          %tr
                            %td
                              =link_to image_tag("Favicon.png"), "#"
                            %td
                              Comment blahblahblahblah
          .row.section-header#about
            .span10#user-about
              %a{:href => "#user-about", 'data-target'=>"#user-about-detail", 'data-toggle'=>"collapse"} Our Story <span class="caret collapsed"></span>
          .row.user-about
            .span10
              #user-about-accordion.accordion
                #user-about-detail.accordion-body.collapse
                  .accordion-inner
                    %p
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
  -else
    .container
      .row
        .span2.scroll-menu
          %ul.nav.nav-list.scroll-menu-items{"data-spy" => "affix", "data-offset-top" => "720", "data-offset-bottom"=> "150"}
            %li 
              %a{:href=>"#badges"} Badges
            %li 
              %a{:href=>"#events"} Events
            %li 
              %a{:href=>"#campaigns"} Campaigns
            %li 
              %a{:href=>"#following"} Following
        .span10
          .row.section-header#badges
            .span10
              %h1 Badges
          .row.badges
            .span10
              .row.badges-row
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
              .row.badges-row
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
              .row.badges-row
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
                .span2.single-badge
                  =image_tag "Favicon.png"
      .row
        .span10.offset2
          .row.section-header#events
            .span10
              %h1 Events
              %ul
                %li 
                  %a{:href=>"#"} Upcoming
                %li 
                  %a{:href=>"#"} Past
                %li 
                  %a{:href=>"#"} Hearted
          .row.user-events
            .span10
              .row.events-row
                .span5.single-event
                  =render "layouts/singleevent"
                .span5.single-event
                  =render "layouts/singleevent"
              .row.events-row
                .span5.single-event
                  =render "layouts/singleevent"
                .span5.single-event
                  =render "layouts/singleevent"
          .row.section-header#campaigns
            .span10
              %h1 Campaigns
              %ul
                %li 
                  %a{:href=>"#"} Ongoing
                %li 
                  %a{:href=>"#"} Successful
          .row.user-campaigns
            .span10
              .row
                .span5.single-campaign
                  =render "campaigns/singlecampaign"
                .span5.single-campaign
                  =render "campaigns/singlecampaign"
              .row
                .span5.single-campaign
                  =render "campaigns/singlecampaign"
                .span5.single-campaign
                  =render "campaigns/singlecampaign"
          .row.section-header#following
            .span10
              %h1 Following
              %ul
                %li 
                  %a{:href=>"#"} Restaurants
                %li 
                  %a{:href=>"#"} Foodies
          .row.user-following
            .span10
              .row
                .span5.single-following
                  =render "layouts/singleuser"
                .span5.single-following
                  =render "layouts/singleuser"
              .row
                .span5.single-following
                  =render "layouts/singleuser"
                .span5.single-following
                  =render "layouts/singleuser"