.container{'ng-controller' => 'UserRegisterCtrl', 'ng-init' => "user=#{resource.to_json}"}
  .row.devisecontainer
    .span12
      %h1 Sign up
      = devise_error_messages!
      %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users", :method => "post", :name => "new_registration"}
        %div{:style => "margin:0;padding:0;display:inline"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}
          %input{:name => "authenticity_token", :type => "hidden", :value => "8792VebFEYKWEUkvc3eA2+ivbuej0mznMWB+l+1w7eA="}
        %div
          %input#user_first_name{:autofocus => "autofocus", :name => "user[first_name]", :placeholder => "first name", :size => "30", :type => "text", :required => "required", 'ng-model' => 'user.first_name'}
          %span.help-inline{"ng-show" => "new_registration['user[first_name]'].$error.required"} Required
        %div
          %input#user_last_name{:name => "user[last_name]", :placeholder => "last name", :size => "30", :type => "text", :required => "required", 'ng-model' => 'user.last_name'}
          %span.help-inline{"ng-show" => "new_registration['user[last_name]'].$error.required"} Required
        %div
          %input#user_email{:name => "user[email]", :placeholder => "email", :size => "30", :type => "email", :required => "required", 'ng-model' => 'user.email'}
          %span.help-inline{"ng-show" => "new_registration['user[email]'].$error.required"} Required
          %span.help-inline{"ng-show" => "new_registration['user[email]'].$error.email"} Please enter a valid email
        %div
          %input#user_password{:name => "user[password]", :placeholder => "password", :size => "30", :type => "password", :required => "required", 'ng-pattern' => '/^[a-zA-Z0-9@&#$.\s]{8,30}$/', 'ng-model' => 'user.password'}
          %span.help-inline{'ng-show' => 'new_registration["user[password]"].$error.required'} Required
          %span.help-inline{'ng-show' => 'new_registration["user[password]"].$error.pattern'} Please enter password with min 8 characters
        %div
          %input#user_password_confirmation{:name => "user[password_confirmation]", :placeholder => "retype password", :size => "30", :type => "password", :required => "required", 'ui-validate' => '"$value==user.password"', 'ui-validate-watch' => '"user.password"', 'ng-model' => 'user.password_confirmation'}
          %span.help-inline{'ng-show' => 'new_registration["user[password_confirmation]"].$error.required'} Required
          %span.help-inline{'ng-show' => 'new_registration["user[password_confirmation]"].$error.validator'} Passwords must match

        %div
          %input{:name => "user[chef]", :checked => "", :type => "radio", :value => "0"}
          Foodie
          %br
          %input{:name => "user[chef]", :type => "radio", :value => "1"}
          Food Business
        %button.usersignup.btn.btn-warning{'ng-disabled' => 'new_registration.$invalid', :type => "submit"} Sign Up
      = render "devise/shared/links"