.launch
  %h1
    love at first bite
  .hero
    .copy
      %h2 
        be the first 
        %br 
        to find out about 
        %br 
        exclusive events with chefs
      %h4
        %br
        What is good food without friends to share it with?
        %br
        The more you share, the better the meal.
      -#%p
      -#  %br
      -#  share socially
      -#  %br
      -#  %br
      -#  %a.sb.facebook.gradient.text{:href =>"#"} Facebook
      -#  %a.sb.twitter.gradient.text{:href =>"#"} Twitter
      -#  %br
      -#  %br
      -#  share by email
      -#.emails
      -#%br
      -#%a.sb.email.gradient.text{:href => "#"} Email