.beta
  %table
    %tr
      %td.logo{:align => 'center'}
        %a{:href => 'http://www.simmr.co'}
          =image_tag "beta_logo_final.png"
  %table.welcome
    %tr
      %td.copy
        %p
          Life is too short to not make every day amazing. We curate unique experiences at the restaurants and bars you love, so you can be more than a customer.
        %p 
          We're in private beta, so there's a line, but fear not! The more friends you invite, the earlier we seat your party. Eating alone sucks anyway. 

    %tr
      %td.upcoming-events{:align => 'center'}
        %button.btn.btn-warning Invite Friends

    %tr
      %td.teaser
        %p
          Here's a small taste of what awaits you at the end of the line ;)

  %table.single-event
    %tr
      %td{:align => 'center'}
        -#
          -if event.covers.present?
            =link_to (image_tag event.covers.first.image), event_path(event)
          -else
        =link_to image_tag("Food 26.jpg")
    %tr.event-info
      %td
        Event Title
  %table.footer
    %tr.social-media
      %td{:align => 'center'}
        %a.sb.facebook.circle.no-border.no-shadow{:href => "http://www.facebook.com/simmrco"}
      %td{:align => 'center'}
        %a.sb.twitter.circle.no-border.no-shadow{:href => "http://www.twitter.com/simmrco"}