.email
  %table
    %tr
      %td.logo{:align => 'center'}
        %a{:href => 'http://www.simmr.co'}
          =image_tag "beta_logo_final.png"
  %table.welcome
    %tr
      %td.welcome-copy
        %p intro copy/update for the week (2-3 sentences) - can be article or tip
        %p there are more relevant stats we can put here - new followers? money made on simmr so far? number of other engagement metrics so far?
    %tr
      %td.upcoming-events{:align => 'center'}
        %button.btn.btn-warning Check Your Events
  %table.single-event
    %tr
      %td{:align => 'center', :colspan => '3'}
        -#
          -if event.images.present?
            =link_to (image_tag event.images.first.image), event_path(event)
          -else
        =link_to image_tag("Food 26.jpg")
    %tr.event-info
      %td
        Event Title
      %td
        XX seats sold
      %td
        $XX in revenue
  %table.single-event
    %tr
      %td{:align => 'center', :colspan => '3'}
        -#
          -if event.images.present?
            =link_to (image_tag event.images.first.image), event_path(event)
          -else
        =link_to image_tag("Food 26.jpg")
    %tr.event-info
      %td
        Event Title
      %td
        XX seats sold
      %td
        $XX in revenue
  %table.single-event
    %tr
      %td{:align => 'center', :colspan => '3'}
        -#
          -if event.images.present?
            =link_to (image_tag event.images.first.image), event_path(event)
          -else
        =link_to image_tag("Food 26.jpg")
    %tr.event-info
      %td
        Event Title
      %td
        XX seats sold
      %td
        $XX in revenue
  %table.footer
    %tr.social-media
      %td{:align => 'center'}
        %a.sb.facebook.circle.no-border.no-shadow{:href => "http://www.facebook.com/simmrco"}
      %td{:align => 'center'}
        %a.sb.twitter.circle.no-border.no-shadow{:href => "http://www.twitter.com/simmrco"}