Hi, #{@user.first_name}!
%br
Thank's for registering for <%=HOST%>'s <%=TITLE%> event on <%=DATE%>! We're glad you can make it. Now all you have to do is show up and give your name at the door.
%br
Eating is best in the company of good friends, so spread the word and bring friends!
%br
Your event details: www.simmr.co/events/#{EVENT ID}
%br
Get excited!
Neeharika and Wendy
http://www.simmr.co
%br
P.S. As always, please don't hesitate to reach out to us directly by replying to this email.