.email
  %table
    %tr
      %td.logo{:align => 'center'}
        %a{:href => 'http://www.simmr.co'}
          =image_tag "beta_logo_final.png"
  %table.welcome
    %tr
      %td.welcome-copy
        %p
          The opposite of the daily deal, we seek to work with you to create unique, chatter-worthy experiences for passionate customers who want to forge a deeper relationship. 
        %p 
          We'll be reaching out to you shortly to talk about your goals and answer any questions. We look forward to growing your business with you.

    %tr
      %td.business-actions{:align => 'center'}
        %button.btn.btn-warning Finish Your Public Profile
        %button.btn.btn-warning Create an Event
      

  %table.case-study
    %tr
      %td
        %blockquote
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
  %table.testimonial
    %tr
      %td
        %blockquote
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
  %table.testimonial
    %tr
      %td
        %blockquote
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
  %table.footer
    %tr.social-media
      %td{:align => 'center'}
        %a.sb.facebook.circle.no-border.no-shadow{:href => "http://www.facebook.com/simmrco"}
      %td{:align => 'center'}
        %a.sb.twitter.circle.no-border.no-shadow{:href => "http://www.twitter.com/simmrco"}