<html>
  <head> 
    
  </head>
  <body style = "background:black;">
    <table class="email-template" style="-webkit-box-shadow: 0px 0px 4px 0px #000;box-shadow: 0px 0px 4px 0px #000;width: 70%;margin: 10px auto;.single-event{
          width: 70%;">
      <tr>
        <table style="width: 100%;">
          <tr>
            <td class="logo" , align="center" style="padding: 3em 0;">
              <a href="http://www.simmr.co" style="color: rgb(255, 178, 35);text-decoration: none;"><img src="http://www.simmr.co/assets/beta_logo_final.png" style="width: 25%;"></a>
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class="welcome" style="width: 100%;">
          <tr>
            <td class="welcome-copy" style="padding: 1em 6em;text-align: center;">
              <p style="line-height: 1.5em;color: white;font-weight: 100;"><em> Psst, <%= @user.first_name %>, you're in! </em></p>
              <p style="line-height: 1.5em;color: white;font-weight: 100;"> Life is too short to not make every day amazing. We curate unique experiences at the restaurants and bars you love, so you can experience them as no customer has ever before.
              </p><p style="line-height: 1.5em;color: white;font-weight: 100;"> Come right this way. </p>
            </td>
          </tr>
          <tr>
            <td class="upcoming-events" align="center" style="padding: 1em 0;">
              <button class="btn btn-warning" style="width: 35%;height: 2.5em;font-size: 24px;font-weight: 100;"> See Upcoming Events </button>
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class="single-event" style="margin: 3em auto;width: 100%;">
          <tr>
            <td align="center">
              <a href="http://www.simmr.co/events" style="color: rgb(255, 178, 35);text-decoration: none;"><img src="http://www.simmr.co/assets/Food 26.png" style="width: 25%;"></a>
            </td>
          </tr>
          <tr class="event-info" style="color: white;height: 5em;background: black;">
            <td style="font-size: 20px;font-weight: 100;padding-left: 2em;">
              Event Title
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class="single-event" style="margin: 3em auto;width: 100%;">
          <tr>
            <td align="center">
              <a href="http://www.simmr.co/events" style="color: rgb(255, 178, 35);text-decoration: none;"><img src="http://www.simmr.co/assets/Food 26.png" style="width: 25%;"></a>
            </td>
          </tr>
          <tr class="event-info" style="color: white;height: 5em;background: black;">
            <td style="font-size: 20px;font-weight: 100;padding-left: 2em;">
              Event Title
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class="single-event" style="margin: 3em auto;width: 100%;">
          <tr>
            <td align="center">
              <a href="http://www.simmr.co/events" style="color: rgb(255, 178, 35);text-decoration: none;"><img src="http://www.simmr.co/assets/Food 26.png" style="width: 25%;"></a>
            </td>
          </tr>
          <tr class="event-info" style="color: white;height: 5em;background: black;">
            <td style="font-size: 20px;font-weight: 100;padding-left: 2em;">
              Event Title
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class="footer" style="width: 100%;margin: 0 auto;">
          <tr class="social-media" style="height: 6em;">
            <td align="center">
              <a class="sb facebook circle no-border no-shadow" href="http://www.facebook.com/simmrco" style="color: rgb(255, 178, 35);text-decoration: none;"></a>
            </td>
            <td align="center">
              <a class="sb twitter circle no-border no-shadow" href="http://www.twitter.com/simmrco" style="color: rgb(255, 178, 35);text-decoration: none;"></a>
            </td>
          </tr>
        </table>           
      </tr>
    </table>
  </body>
</html>