<html>
  <head> 
  </head>
  <body>
    <table class = "email-template">
      <tr>
        <table>
          <tr>
            <td class = "logo", align = "center">
              <a href = "http://www.simmr.co"><img src = "/assets/beta_logo_final.png"/></a>
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class = "welcome">
          <tr>
            <td class = "welcome-copy">
              <p><em> Psst, <%= @user.first_name %>, you're in! </em></p>
              <p> Life is too short to not make every day amazing. We curate unique experiences at the restaurants and bars you love, so you can experience them as no customer has ever before.
              <p> Come right this way. </p>
            </td>
          </tr>
          <tr>
            <td class = "upcoming-events" align = "center">
              <button class = "btn btn-warning"> See Upcoming Events </button>
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class = "single-event">
          <tr>
            <td align = "center">
              =link_to image_tag("Food 26.jpg")
            </td>
          </tr>
          <tr class = "event-info">
            <td>
              Event Title
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class = "single-event">
          <tr>
            <td align = "center">
              =link_to image_tag("Food 26.jpg")
            </td>
          </tr>
          <tr class = "event-info">
            <td>
              Event Title
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class = "single-event">
          <tr>
            <td align = "center">
              =link_to image_tag("Food 26.jpg")
            </td>
          </tr>
          <tr class = "event-info">
            <td>
              Event Title
            </td>
          </tr>
        </table>
      </tr>
      <tr>
        <table class = "footer">
          <tr class = "social-media">
            <td align = "center">
              <a class = "sb facebook circle no-border no-shadow" href = "http://www.facebook.com/simmrco"></a>
            </td>
            <td align = "center">
              <a class = "sb twitter circle no-border no-shadow" href = "http://www.twitter.com/simmrco"></a>
            </td>
          </tr>
        </table>           
      </tr>
    </table>
  </body>
</html>