.notification
  The opposite of the daily deal, we seek to work with you to create unique, chatter-worthy experiences for passionate customers who want to forge a real relationship with you. 

  Stay tuned - we're launching soon. 
  %br
  You're the cookies to our milk,
  %p
  Wendy & Neeharika
  %br
  www.simmr.co
  %br
  P.S. As always, please don't hesitate to reach out to us directly by replying to this email.