.notification
  Life is too short to not make every day amazing. We curate unique experiences at the restaurants and bars you love, so you can experience them as no customer has ever before.

  We're in private beta, so there's a line, but fear not - we'll be seating you soon! Meanwhile, why not tell your friends? Eating alone sucks.
  %br
  Cheers,
  %p
  Wendy & Neeharika
  %br
  www.simmr.co
  %p
  P.S. As always, please don't hesitate to reach out to us directly by replying to this email.