.notification
  Thank you for signing up to hear first about events with chefs! Eating alone sucks, so why not share the news with friends?
  %br
  We love you like a fat kid loves cake ;),
  %p
  Wendy & Neeharika
  %br
  www.simmr.co
  %p