%body.container.devise
  .navbar.navbar-fixed-top
    = render "layouts/header"

  .devisecontainer
    %h1 Forgot your password?
    %form#new_pass{"accept-charset" => "UTF-8", :action => "/users/password", :method => "post"}
      %div{:style => "margin:0;padding:0;display:inline"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "bakqW+41reaR0EEjB0noRbFHFLFXOfC4gt6jk85LCiw="}/
      %div
        %input{:autofocus => "autofocus", :name => "user[email]", :size => "30", :type => "email", :placeholder => "email"}/
      %button.newpass.btn.btn-warning Send me reset password instructions
    = render "devise/shared/links" 
