.container
  .row.devisecontainer
    .span12
      %h1 Forgot your password?
      %form#new_pass{"accept-charset" => "UTF-8", :action => "/users/password", :method => "post", :name => "new_pass"}
        %div{:style => "margin:0;padding:0;display:inline"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "bakqW+41reaR0EEjB0noRbFHFLFXOfC4gt6jk85LCiw="}/
        %div
          %input{:autofocus => "autofocus", :name => "user_email", :size => "30", :type => "email", :placeholder => "Email", "ng-model" => "user.email", :required => "required"}
          %span.help-inline{'ng-show' => 'new_pass.user_email.$error.required'} Required
          %span.help-inline{'ng-show' => 'new_pass.user_email.$error.email'} Please enter a valid email
        %button.newpass.btn.btn-warning{'ng-disabled' => 'new_pass.$invalid'} Send me reset password instructions
      = render "devise/shared/links" 