%form#new_user_email{"accept-charset" => "UTF-8", :action => "/users", :method => "post", :name => "new_email"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "?"}/
  %p
    Already a member? <a data-dismiss = "modal" data-toggle='modal' href= "#sign_in">Sign in</a>
  %br
  .email-login-form
    %input#user_email{:required => "required", :placeholder => "email", :name => "user[email]", :size => "30", :type => "email", 'ng-model' => 'user.email', 'ng-class' => "{error: new_foodie['user[email]'].$invalid}"}
    .help-block{"ng-show" => "new_email['user[email]'].$error.email"} Please enter a valid email
    %button.usersignup.emailbutton.btn.btn-warning Sign Up