%form#new_user{"accept-charset" => "UTF-8", :action => "/users", :method => "post", :name => "new_foodie"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "?"}/
  = link_to "Facebook", user_omniauth_authorize_path(:facebook), :class => "sb facebook text black"
  = link_to "Twitter", user_omniauth_authorize_path(:twitter), :class => "sb twitter text black"
  %hr.or-line
  %p.strong.sign-up-text
    Sign up with email
  %input#user_first_name{:required => "required", :placeholder => "first name", :autofocus => "autofocus", :name => "user[first_name]", :size => "30", :type => "text", 'ng-model' => 'user.first_name', 'ng-class' => "{error: new_foodie['user[first_name]'].$invalid}"}
  %input#user_last_name{:required => "required", :placeholder => "last name", :name => "user[last_name]", :size => "30", :type => "text", 'ng-model' => 'user.last_name', 'ng-class' => "{error: new_foodie['user[last_name]'].$invalid}"}

  %input#user_email{:required => "required", :placeholder => "email", :name => "user[email]", :size => "30", :type => "email", 'ng-model' => 'user.email', 'ng-class' => "{error: new_foodie['user[email]'].$invalid}"}

  %input#user_password{:required => "required", :placeholder => "password", :name => "user[password]", :size => "30", :type => "password", 'ng-pattern' => '/^[a-zA-Z0-9@&#$.\s]{8,30}$/', 'ng-model' => 'user.password', 'ng-class' => "{error: new_foodie['user[password]'].$invalid}"}

  %input#user_password_confirmation{:required => "required", :placeholder => "retype password",:name => "user[password_confirmation]", :size => "30", :type => "password", 'ui-validate' => "'$value==user.password'", 'ui-validate-watch' => '"user.password"', 'ng-model' => 'user.password_confirmation', 'ng-class' => "{error: new_foodie['user[password_confirmation]'].$invalid}"}
  .help-block{'ng-show' => 'new_foodie["user[password]"].$error.pattern'} Please enter password with min 8 characters
  .help-block{"ng-show" => "new_foodie['user[email]'].$error.email"} Please enter a valid email
  .help-block{'ng-show' => 'new_foodie["user[password_confirmation]"].$error.validator'} Passwords must match
  .help-block{'ng-show' => 'new_foodie["user[password_confirmation]"].$error.required || new_foodie["user[first_name]"].$error.required || new_foodie["user[last_name]"].$error.required || new_foodie["user[email]"].$error.required || new_foodie["user[password]"].$error.required'} All fields are required!
-#
  %div
    %label.radio.inline
      %input#optionsRadios1{:name => "user[chef]", :checked => "", :type => "radio", :value => "0"}
      Foodie
    %label.radio.inline
      %input#optionsRadios2{:name => "user[chef]", :type => "radio", :value => "1"}
      Food Business
    %br
    %br
  -# %div
  -#   %button.btn{:name => "commit", :type => "submit"} Sign Up
  -#
    = link_to "LinkedIn", user_omniauth_authorize_path(:linkedin), :class => "sb linkedin text black"
