%form#new_user_session{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post", :name => "new_session"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "?"}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "ASVH9mq4sf3rNjnwtoJ8kgxIzVor0TuOn/jEAyV3mGc="}
  = link_to "Log In with Facebook", user_omniauth_authorize_path(:facebook), :class => "sb facebook text black"
  %p.sign-up-text
    or you can <a href = "" ng-click = 'appear = "emailLogin"'>log in with email</a> 
  .email-login-form{'ng-show'=>'appear=="emailLogin"'}
    %input#user_login_email{:autofocus => "autofocus", :required => "required", :name => "user[email]", :size => "30", :type => "email", :placeholder => "email", 'ng-model' => 'user.email', 'ng-class' => "{error: new_session['user[email]'].$invalid}"}
    
    %input#user_password{:required => "required", :placeholder => "password", :name => "user[password]", :size => "30", :type => "password", 'ng-model' => 'user.password', 'ng-class' => "{error: new_session['user[password]'].$invalid}"}
    
    .help-block{"ng-show" => "new_session['user[email]'].$error.email"} Please enter a valid email
    .help-block{"ng-show" => "new_session['user[password]'].$error.required || new_session['user[email]'].$error.required"} Both fields are required!
    -#%input#user_remember_me{:name => "user[remember_me]", :type => "hidden", :value => "0"}
    %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}
    %label{:for => "user_remember_me"} Remember me
-#  %div
-#    %a{"data-toggle" => "modal", :href => "#sign_up", :role=>"button"} Sign Up

-#  %div
-#    %input{:name => "commit", :type => "submit", :value => "Sign in"}
-#
  = link_to "LinkedIn", user_omniauth_authorize_path(:linkedin), :class => "sb linkedin text black"