%form#new_user_session{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post", :name => "new_session"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "?"}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "ASVH9mq4sf3rNjnwtoJ8kgxIzVor0TuOn/jEAyV3mGc="}
  = link_to "Facebook", user_omniauth_authorize_path(:facebook), :class => "sb facebook text black"
  = link_to "Twitter", user_omniauth_authorize_path(:twitter), :class => "sb twitter text black"
  %hr.or-line
  %p.strong
    Log in with email
  %br
  %div
    %input#user_email{:autofocus => "autofocus", :required => "required", :name => "user_email", :size => "30", :type => "email", :placeholder => "email", 'ng-model' => 'user.email'}
  .help-block{'ng-show' => 'new_session.user_email.$error.required'} Required
  .help-block{'ng-show' => 'new_session.user_email.$error.email'} Please enter a valid email
  %div
    %input#user_password{:required => "required", :placeholder => "password", :name => "user_password", :size => "30", :type => "password", 'ng-pattern' => '/^[a-zA-Z0-9@&#$.\s]{8,30}$/', 'ng-model' => 'user.password'}
  .help-block{'ng-show' => 'new_session.user_password.$error.required'} Required
  .help-block{'ng-show' => 'new_session.user_password.$error.pattern'} Please enter password with min 8 characters
  %div
    %input#user_remember_me{:name => "user[remember_me]", :type => "hidden", :value => "0"}
    %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}
    %label{:for => "user_remember_me"} Remember me
-#  %div
-#    %a{"data-toggle" => "modal", :href => "#sign_up", :role=>"button"} Sign Up

-#  %div
-#    %input{:name => "commit", :type => "submit", :value => "Sign in"}
-#
  = link_to "LinkedIn", user_omniauth_authorize_path(:linkedin), :class => "sb linkedin text black"