#sign_up_business.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign Up for simmr
  .modal-body
    %h3 Expand your client base through memorable events.
    %p Leverage your existing fanbase and allow new customers to easily find you on Facebook / Twitter. We'll never share your info, spam you, or post without your permission. 
    %p By signing up, you are agreeing to our<a href = "/home/tos"> Terms of Service </a>
    %p
      = render "shared/business_signup_form"
  .modal-footer
    %button.usersignup.bizbutton.btn.btn-warning{'ng-show'=>'appear=="bizSignup"'} Sign Up

#sign_up_foodie.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign Up for simmr
  .modal-body
    %h3 Experiences recommended by your friends.
    %p See what events friends have attended and their thoughts. We'll never share your info or post without your permission. 
    %p By signing up, you are agreeing to our<a href = "/home/tos"> Terms of Service </a>
    %p
      = render "shared/foodie_signup_form"
  .modal-footer{'ng-show'=>'appear=="foodieSignup"'}
    %button.usersignup.foodiebutton.btn.btn-warning Sign Up