%form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users", :method => "post"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "?"}/
  %div
    %input#user_email{:placeholder => "email", :autofocus => "autofocus", :name => "user[email]", :size => "30", :type => "email", :value => ""}/
  %div
    %input#user_password{:placeholder => "password", :name => "user[password]", :size => "30", :type => "password"}/
  %div
    %input#user_password_confirmation{:placeholder => "retype password",:name => "user[password_confirmation]", :size => "30", :type => "password"}/
  %div
    %label.radio.inline
      %input#optionsRadios1{:checked => "", :name => "user[kind]", :type => "radio", :value => "Investor"}/
      Investor
    %label.radio.inline
      %input#optionsRadios2{:checked => "", :name => "user[kind]", :type => "radio", :value => "Entrepreneur"}/
      Entrepreneur
    %br/
    %br/
  %div
    %button.btn{:name => "commit", :type => "submit"} Sign Up
    %br/
    = link_to "Log In With Facebook", user_omniauth_authorize_path(:facebook)
    %br/
    = link_to "Log In With LinkedIn", user_omniauth_authorize_path(:linkedin)
    %br/
    = link_to "Log In With Twitter", user_omniauth_authorize_path(:twitter)