#sign_up_business.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign Up for Simmr
  .modal-body
    %h3 Get new, loyal customers while making a profit
    %p Simmr makes it effortless to create and put on ticketed special events that customers love
    %p By signing up, you are agreeing to our <a href = "/home/tos">Terms of Service </a>
    %p
      = render "shared/business_signup_form"
  .modal-footer{'ng-show'=>'appear=="bizSignup"'} 
    %button.usersignup.bizbutton.btn.btn-warning Sign Up

#sign_up_foodie.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign Up for Simmr
  .modal-body
    %h3 Insider access to top restaurants and bars
    %p Cooking classes, kitchen tours, special tastings -- just for you. We'll never share your info, spam you, or post without your permission.
    %p By signing up, you are agreeing to our<a href = "/home/tos"> Terms of Service </a>
    %p
      = render "shared/foodie_signup_form"
  .modal-footer{'ng-show'=>'appear=="foodieSignup"'}
    %button.usersignup.foodiebutton.btn.btn-warning Sign Up

#sign_up_generic.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sign Up for Simmr Updates
  .modal-body
    %h3 Get notified of insider experiences at top restaurants and bars
    %p Cooking classes, kitchen tours, special tastings -- just for you. We'll never share your info or spam you. 
    = render "shared/email_signup_form"

#referral.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Get Simmr Credit
  .modal-body
    %h3 Get $5 for every friend who joins and attends an event!
    -if user_signed_in?
      %a.sb.facebook.text.black.facebook-share{:href => "#", 'ng-click'=>'trackThis("Clicked Facebook Share")'} Share on Facebook
    -else
      %p.sign-up-text
        <a data-dismiss = "modal" data-toggle = "modal" href = "#sign_in">Log In</a> or <a data-dismiss = "modal" data-toggle = "modal" href = "#sign_up_foodie">Sign Up</a> so We Can Give You Credit!
  