-if !event.upcoming?
  -if event.covers.present?
    =link_to (image_tag event.covers.first.image), event_path(event)
  -else
    =link_to image_tag("Food 26.jpg"), event_path(event)
  %a.caption{:href => event_path(event)}
    .caption-text
      %h4 #{event.title}
      %p #{event.host.profile.biz_name}
-else
  -if event.covers.present?
    =image_tag event.covers.first.image
  -else
    =image_tag("Food 26.jpg")
  %a.caption
    .caption-text
      %h4 #{event.title}
      %p Coming soon!
