-if event.images.present?
  =link_to (image_tag event.images.first.image), event_path(event)
-else
  =link_to image_tag("Food 26.jpg"), event_path(event)
%a.caption{:href => event_path(event)}
  .caption-text
    %h4 #{event.title}
    %p #{event.description}
    -if event.location.present?
      %p #{event.location.neighborhood}
