%body.container.staticpages
  .navbar.navbar-fixed-top
    = render "layouts/header"

  .hero-unit
    .copycontainer
      .darkbox.contactus
        .copy
          %h1 blog
          %h2 blahblahblah 
    #myCarousel.carousel.slide.contactus
      .carousel-inner
        .active.item 
          =image_tag "Food 12.jpg"
        .item
          =image_tag "Food 19.jpg"
        .item
          =image_tag "Food 24.jpg"
        .item
          =image_tag "Food 25.jpg"
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›