=content_for :title, "simmr | how it works"

= render 'layouts/primary_header'
.home{'ng-controller'=>'HomeIndexCtrl'}
  .container
    .row.section-header
      .span12#how-it-works
        %h1 How It Works
        -#
          .logo
            =image_tag "logo_final.png"
        %ul.user-type
          %li{'ng-click' => 'type = "foodie"'}
            %a{:href => '#how'}
              .foodie
                =image_tag "Foodie-Default-Profile-Image.png"
              %p I'm a Foodie

          %li{'ng-click' => 'type="business"'}
            %a{:href => '#how-chef'}
              .chef
                =image_tag "Chef-Default-Profile-Image.png"
              %p I'm a Business
            
  .section
    .container
      .row
        .span2
        .span8.how-it-works#how{'ng-show' => 'type == "foodie"'}
          %h1.title For Foodies
          .row.how-it-works-event-infographic
            .span4.offset1.step.browse
              .step-description
                %h1 1. browse
                %p We bring you food-related events and experiences that are like nothing you've experienced before.
          .row.how-it-works-event-infographic
            .span4.offset3.step.register
              .step-description
                %h1 2. register
                %p See something you like? Book it! But wait - the event doesn't happen until the minimum number of tickets is sold. Help make this happen by inviting your favorite people!
          .row.how-it-works-event-infographic
            .span4.offset1.step.tilt
              .step-description
                %h1 3. enjoy
                %p Woohoo, party time! All you have to do is show up and have a blast.
          .row.how-it-works-event-infographic
            .span4.offset2.step.return
              .step-description
                %h1 4. return
                %p Did you have an awesome time? Businesses depend on loyal customers like you who return and help spread the word. We make sure your support is rewarded with further involvement and unique experiences. 
          .row.how-it-works-event-infographic
            .span4.offset3.step.get-started
              .step-description
                -if user_signed_in?
                  %a{:href => "/events", :"data-toggle" =>"modal"} get started
                -else
                  %a{:href => "#sign_up_foodie", :"data-toggle" =>"modal"} get started
        

        .span8.how-it-works#how-chef{'ng-show' => 'type == "business"'}
          %h1.title For Businesses
          .row.how-it-works-event-infographic
            .span4.step.attract
              .step-description
                %h1 1. attract
                %p It's hard to find and attract high quality, long-term customers. Even today, most small businesses do so with discounts. We help you find quality customers who are interested in building a long-term relationship with you.
          .row.how-it-works-event-infographic
            .span4.offset4.step.engage
              .step-description
                %h1 2. engage
                %p We help you engage your customers to become more loyal by helping you track, communicate with, and reward them in unique, thoughtful ways. 
          .row.how-it-works-event-infographic
            .span4.offset1.step.club
              .step-description
                %h1 3. start a club
                %p Your biggest fans want a deeper relationship and what better way than as a member in your club? You get regular, predictable cash flow and they get the chance to be "VIP" at a business they love! Don't worry, we help make managing this a breeze.
          .row.how-it-works-event-infographic
            .span4.offset3.step.get-started
              .step-description
                -if user_signed_in?
                  %a{:href => "/events", :"data-toggle" =>"modal"} get started
                -else
                  %a{:href => "#sign_up_business", :"data-toggle" =>"modal"} get started

= render 'layouts/footer'
= render 'shared/signup_modals'
= render 'shared/signin_modal'