=content_for :title, "simmr | how it works"

= render 'layouts/primary_header'
.home{'ng-controller'=>'HomeIndexCtrl', 'ng-init' => 'type=""'}
  .container
    .row.section-header
      .span12#how-it-works
        %h1 How It Works
        -#
          .logo
            =image_tag "logo_final.png"
        %ul.user-type
          %li{'ng-click' => 'type = "foodie"'}
            %a{:href => '#how'}
              .foodie
                =image_tag "Foodie-Default-Profile-Image.png"
              %p I'm a Foodie

          %li{'ng-click' => 'type="business"'}
            %a{:href => '#how-chef'}
              .chef
                =image_tag "Chef-Default-Profile-Image.png"
              %p I'm a Business
            
  .container
    .row
      .span12.how-it-works#how{'ng-show' => 'type == "foodie"'}
        %h1.title For Foodies
        %h2.title What are Simmr events like?
        .row
          .span12
            =image_tag "How-It-Works.jpg", :class => "how-it-works-event-infographic"
        .row.how-it-works-event-infographic
          .span4.offset5.step.get-started
            .step-description
              -if user_signed_in?
                %a{:href => "/events", :"data-toggle" =>"modal"} get started
              -else
                %a{:href => "#sign_up_foodie", :"data-toggle" =>"modal"} get started

      .span12.how-it-works#how-chef{'ng-show' => 'type == "business"'}
        %h1.title For Businesses
        %h2.title What are Simmr events like?
        .row
          .span12
            =image_tag "How-It-Works-Biz.jpg", :class => "how-it-works-event-infographic"
        .row.how-it-works-event-infographic
          .span4.offset5.step.get-started
            .step-description
              -if user_signed_in?
                %a{:href => "/events", :"data-toggle" =>"modal"} get started
              -else
                %a{:href => "#sign_up_foodie", :"data-toggle" =>"modal"} get started

= render 'layouts/footer'
= render 'shared/signup_modals'
= render 'shared/signin_modal'