%h1 home page here
%p add all home page content here, changes needed:
%p 1. log in and sign up buttons need to appear white even though they are links
%p 2. everything shouldn't be right up against the edges, need a border of whitespace around page
%p :-/ 

-# Uncomment the below to have the log in credential form rendered into this page
-# =render "shared/login"