%body.container
  .navbar
    = render "layouts/header"

    .hero-unit.clearfix
      .copy
        %h1 love at first bite
        %h3 be the first to find out about <br> exclusive events with chefs
        %form.navbar-search.pull-left
          %input.search-query{:placeholder => "Find a Chef", :type => "text"}


          

#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Carousel items
  .carousel-inner
    .active.item …
    .item …
    .item …
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


  .belowfold
    .row.points
      .span3 
        %h1 Discover 
        %p lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
      .span3
        %h1 Impact 
        %p lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
      .span3
        %h1 Diversify 
        %p lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet
      .span3
        %h1 Share 
        %p lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet

    #sign_up.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %h3#myModalLabel Sign Up for MainStreet
      .modal-body
        %p<
          Find the best places to visit recommended by your friends.&nbsp
          %a.learn_more_link{"data-toggle"=>"tooltip", "data-placement"=>"right", :href=>"#", :title=>"See where friends have visited and their reviews"}> Learn More
        %p.strong.sign-up-text
          Sign up with
        %p
          -if user_signed_in? == false
            = render "shared/signup"
      .modal-footer
        %button.usersignup.btn.btn-warning Sign Up

:javascript
  $('.learn_more_link').tooltip('toggle');


-# Uncomment the below to have the log in credential form rendered into this page
-# =render "shared/login"