%body
  .container
    = render "layouts/header"

%h1 home page here
.row
  .span8
    %p add all home page content here
  .span4
    -if user_signed_in? == false
      = render "shared/signup"


-# Uncomment the below to have the log in credential form rendered into this page
-# =render "shared/login"