%body.container.home 
  .navbar.navbar-fixed-top
    = render "layouts/header"

  .hero-unit
    .darkbox 
      .copy
        %h1 love at first bite
        %h3 be the first to find out about <br> exclusive food events
    #myCarousel.carousel.slide
      .carousel-inner
        .active.item 
          %img{:alt => "HSC 2", :src => "http://thescenicroute0.files.wordpress.com/2013/03/food-1-hsc1.jpg"}
        .item
          %img{:alt => "HSC 3", :src => "http://thescenicroute0.files.wordpress.com/2013/03/food-3-hsc.jpg"}
        .item
          %img{:alt => "HSC 7", :src => "http://thescenicroute0.files.wordpress.com/2013/03/food-7-hsc.jpg"}
        .item
          %img{:alt => "HSC 8", :src => "http://thescenicroute0.files.wordpress.com/2013/03/food-8-hsc.jpg"}
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
  .events
    %h1 Events in San Francisco
    %p Don't see your fave? <a href="#">Request</a> an event or see <a href="#">Request Campaigns</a>
    %ul.eventlisting
      %li.listing-card
        %a.listing-card-image{:href => "#"}
          =image_tag "event_stock_image.jpg"
        %table.listing-card-text
          %tr
            %td.listing-card-avatar
              =link_to image_tag("Favicon.png"), "#"
            %td.listing-card-event
              <a href="#">4 Course "Liberty Duck" Dinner with Chefs</a>
            %td.listing-card-price
              $120
          %tr.bottom
            %td
            %td.seatsleft
              5 seats left
              .progress.progress-warning
                .bar{:style => "width: 60%;"}
            %td.action
              .btn.btn-warning Go!
      %li.listing-card
        %a.listing-card-image{:href => "#"}
          =image_tag "event_stock_image.jpg"
        %table.listing-card-text
          %tr
            %td.listing-card-avatar
              =link_to image_tag("Favicon.png"), "#"
            %td.listing-card-event
              <a href="#">4 Course "Liberty Duck" Dinner with Chefs</a>
            %td.listing-card-price
              $120
          %tr.bottom
            %td
            %td.seatsleft
              5 seats left
              .progress.progress-warning
                .bar{:style => "width: 60%;"}
            %td.action
              .btn.btn-warning Go!
      %li.listing-card
        %a.listing-card-image{:href => "#"}
          =image_tag "event_stock_image.jpg"
        %table.listing-card-text
          %tr
            %td.listing-card-avatar
              =link_to image_tag("Favicon.png"), "#"
            %td.listing-card-event
              <a href="#">4 Course "Liberty Duck" Dinner with Chefs</a>
            %td.listing-card-price
              $120
          %tr.bottom
            %td
            %td.seatsleft
              5 seats left
              .progress.progress-warning
                .bar{:style => "width: 60%;"}
            %td.action
              .btn.btn-warning Go!
    .more.btn.btn-large.btn-warning More Events

  #sign_up.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %h3#myModalLabel Sign Up for simmr
    .modal-body
      %p<
        Find the best events to attend recommended by your friends.&nbsp
        %a.learn_more_link{"data-toggle"=>"tooltip", "data-placement"=>"right", :href=>"#", :title=>"See where friends have visited and their reviews"}> Learn More
      %p.strong.sign-up-text
        Sign up with
      %p
        -if user_signed_in? == false
          = render "shared/signup"
    .modal-footer
      %button.usersignup.btn.btn-warning Sign Up

  #sign_in.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %h3#myModalLabel Log In
    .modal-body
      %p<
        Find the best events to attend recommended by your friends.&nbsp
        %a.learn_more_link{"data-toggle"=>"tooltip", "data-placement"=>"right", :href=>"#", :title=>"See where friends have visited and their reviews"}> Learn More
      %p.strong.sign-up-text
        Log in with
      %p
        -if user_signed_in? == false
          = render "shared/login"
    .modal-footer
      %button.userlogin.btn.btn-warning Log In


-# Uncomment the below to have the log in credential form rendered into this page
-# =render "shared/login"

-#  %form.navbar-search.pull-left.clearfix
-#    %input.search-query{:placeholder => "Find a Chef or Restaurant", :type => "text"}