%body.container.home 
  .navbar.navbar-fixed-top 
    = render "layouts/header"

  .hero-unit
    .darkbox 
      .copy
        %h2 make your life more &nbsp <h1> delicious </h1>
        %h3 be the first to find out about exclusive food events
        %a.btn.btn-large.btn-warning{:href => "../home/howitworks", :tabindex => "-1"} how does it work?
    #myCarousel.carousel.slide
      .carousel-inner
        .active.item 
          =image_tag "Food 17.jpg"
        .item
          =image_tag "Food 18.jpg"
        .item
          =image_tag "Food 22.jpg"
        .item
          =image_tag "Food 23.jpg"
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
  .events
    %h1 Events in San Francisco
    %p Don't see your fave? <a href="#">Request</a> an event or see <a href="#">Request Campaigns</a>
    %ul.eventlisting
      %li.listing-card
        %a.listing-card-image{:href => "#"}
          =image_tag "event_stock_image.jpg"
        %table.listing-card-text
          %tr
            %td.listing-card-avatar
              =link_to image_tag("Favicon.png"), "#"
            %td.listing-card-event
              <a href="#">4 Course "Liberty Duck" Dinner with Chefs</a>
            %td.listing-card-price
              $120 
          %tr.bottom
            %td.seatsleft{:colspan=>"2"}
              5 seats left
              .progress.progress-warning
                .bar{:style => "width: 60%;"}
            %td.action
              .btn.btn-warning Go!
      %li.listing-card
        %a.listing-card-image{:href => "#"}
          =image_tag "event_stock_image.jpg"
        %table.listing-card-text
          %tr
            %td.listing-card-avatar
              =link_to image_tag("Favicon.png"), "#"
            %td.listing-card-event
              <a href="#">4 Course "Liberty Duck" Dinner with Chefs</a>
            %td.listing-card-price
              $120
          %tr.bottom
            %td.seatsleft{:colspan=>"2"}
              5 seats left
              .progress.progress-warning
                .bar{:style => "width: 60%;"}
            %td.action
              .btn.btn-warning Go!
      %li.listing-card
        %a.listing-card-image{:href => "#"}
          =image_tag "event_stock_image.jpg"
        %table.listing-card-text
          %tr
            %td.listing-card-avatar
              =link_to image_tag("Favicon.png"), "#"
            %td.listing-card-event
              <a href="#">4 Course "Liberty Duck" Dinner with Chefs</a>
            %td.listing-card-price
              $120
          %tr.bottom
            %td.seatsleft{:colspan=>"2"}
              5 seats left
              .progress.progress-warning
                .bar{:style => "width: 60%;"}
            %td.action
              .btn.btn-warning Go!
    .more.btn.btn-large.btn-warning More Events


-# Uncomment the below to have the log in credential form rendered into this page
-# =render "shared/login"

-#  %form.navbar-search.pull-left.clearfix
-#    %input.search-query{:placeholder => "Find a Chef or Restaurant", :type => "text"}