.home 
  .hero-unit
    #homeCarousel.carousel.slide
      .carousel-inner
        .active.item
          =image_tag "Food 17.jpg"
        .item
          =image_tag "Food 18.jpg"
        .item
          =image_tag "Food 22.jpg"
        .item
          =image_tag "Food 23.jpg"
      
      %a.carousel-control.left{"data-slide" => "prev", :href => "#homeCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#homeCarousel"} ›
    .container
      .copy.row
        .span1
        .span4
          %h1 We want to make your life more delicious
          %a.btn.btn-warning{:href => "#how-it-works-accordian", "data-target" => "#how-it-works-accordian", "data-toggle" => "collapse", :type => "link"} How Does It Work?
          %a.btn.btn-warning{:href => "#sign_up", :"data-toggle" =>"modal"} Get Started
          %p Already a member?
          %a{:href => "#sign_in", :"data-toggle" =>"modal"} Sign In
        .span7
      .row
        .span1
        .span10
          %h1 How It Works
        .span1
    .row
      .span1
      .span10
        #how-it-works-accordian.accordion
          .accordion-group
            .accordion-heading
              %a.accordion-toggle{"data-parent" => "#how-it-works-accordian", "data-toggle" => "collapse", :href => "#collapseOne"}
                Read
            #collapseOne.accordion-body.collapse
              .accordion-inner
                %p
                  We want to make you more than a customer by connecting you more meaningfully with your fave food businesses and helping you be the first to discover new ones
                .row
                  .span3
                    %h1 browse
                  .span3
                    %h1 register
                  .span3
                    %h1 attend
                  .span3
                    %h1 share
      .span1
    .container
      .row
        .span1
        .span11
          %h1 Featured Events in San Francisco
    .row
      .span1
      .span10
        %p Don’t see your favorite?
        %p <a href = "#">Request an event</a> or <a href = "#">join a Request Campaign</a>
      .span1
    .container
      =render "layouts/singleevent"
      =render "layouts/singleevent"
      =render "layouts/singleevent"
      =render "layouts/singleevent"
      .row
        .span4.offset4
          .btn.btn-warning More

-# Uncomment the below to have the log in credential form rendered into this page
-# =render "shared/login"

-#  %form.navbar-search.pull-left.clearfix
-#    %input.search-query{:placeholder => "Find a Chef or Restaurant", :type => "text"}