=content_for :title, "simmr | our philosophy"

= render 'layouts/primary_header'

.home{'ng-controller'=>'HomeIndexCtrl'}
  .container
    .row.section-header
      .span12
        %h1 we're forging real relationships between people and where they eat
        %p rest of content to come haha
        
= render 'layouts/footer'