=content_for :title, "simmr | our philosophy"

= render 'layouts/primary_header'

.home{'ng-controller'=>'HomeIndexCtrl'}
  .container
    .row.section-header
      .span12
        %h1 we're forging real relationships between people and where they eat
    .row
      .span6.offset3.philosophy
        %p We're all about connecting you with the small businesses that feed you.
        %p Running a restaurant, bar, or cafe isn't easy. The small business owners that create awesome food and experiences for us are passionate, hard-working, and often anonymous.
        %p We at Simmr want to shine a spotlight on them. We want to help you build a relationship with the places where you eat - to become more than a customer and be a part of the "family" of the small businesses that you love.
        %p We do this by helping businesses put on exciting experiences. We make sure these experiences are small enough that you get to interact personally with the people behind the business. We believe that upon forming a real relationship with these people, you are much more likely to revisit and help spread the word -- both things that business owners really depend on to thrive. In exchange, we work with business owners to make sure your support is rewarded with further involvement, personal touches, and unique experiences.
        
= render 'layouts/footer'