=content_for :title, "Philosophy"


.home{'ng-controller'=>'HomeIndexCtrl'}
  .philosophy-all
    #philosophy-carousel.carousel.slide.hidden-phone
      .carousel-inner
        .item.active
          =image_tag "TavaProfile2.jpg"
    -#
      %a.carousel-control.left.hidden-phone{"data-slide" => "prev", :href => "#home-carousel"} ‹
      %a.carousel-control.right.hidden-phone{"data-slide" => "next", :href => "#home-carousel"} ›
    .container
      .row
        .span6.philosophy
          %h3 a better way to eat out
 
          %p At Simmr, we want to help you get to know your favorite restaurants and discover new ones through behind the scenes experiences like cooking classes, kitchen tours, and special tastings. 

          %p We believe that upon having a memorable experience at a business and making friends with the people behind it, you are more likely to spread the word, and all of your subsequent visits will be different because you now know "the guy behind the counter."

          %p We do this all in a way that is profitable for the business. After all, running a restaurant, bar, or cafe isn't easy. The small business owners that create exceptional food and unforgettable experiences for us are passionate, hard-working, and often unthanked. Join us in helping them thrive.

          %p 
            %a.foodiesignup{:href => "#sign_up_foodie", :"data-toggle" =>"modal"}  Check out experiences at the businesses you love.

          %p
            %a.bizsignup{:href => "#sign_up_business", :"data-toggle" =>"modal"} Or, if you're a business owner, start getting more loyal customers.
