-# temporary
= render 'layouts/primary_header'

.container.team-jobs
  .row
    .span12
      %h1 Let's taco 'bout us
      %h3 Join us in building a platform that forges real relationships between people and where they eat
  .row
    .span8.offset2
      =image_tag "wendyandneeharika.png"
  .row
    .span12
      %h1 At Simmr we
  .row
    .span3
      %h3.point-heading Work Hard, Move Fast
      %p We're nimble, passionate, and determined. There is no shortage of responsibility and we want you to have a voice in everything we do.
    .span3
      %h3.point-heading Have Fun
      %p It's not a job if you're having fun :)
    .span3
      %h3.point-heading Stay Humble
      %p We put aside egos for the sake of learning.
    .span3
      %h3.point-heading Make a Difference
      %p We're fundamentally changing the relationship between a customer and a small business. These businesses make up the fabric of our lives and economies.
  .row
    .span12 
      %h1 We're always looking for great people
      %h2 If you're interested, <a href="mailto:hello@simmr.co">drop us a line</a>

-# temporary
= render 'layouts/footer'