=content_for :title, "Team & Jobs"


.container.team-jobs
  .row
    .span12
      %h1 Let's taco 'bout us
      %h3 Join us in building a platform that forges real relationships between people and where they eat.
  .row
    .span10.offset1.wendyandnee
      =image_tag "wendyandneeharika.png"
  .row
    .span12
      %h1 At Simmr we
  .row
    .company-culture
      .span3
        .step
          %h3.point-heading Work Hard <br>Move Fast
          .step-description
            %p We're nimble, passionate, and determined. There is no shortage of responsibility and we want you to have a voice in everything we do.
      .span3
        .step
          %h3.point-heading#have-fun Have Fun
          .step-description
            %p It's not a job if you're having fun :)
      .span3
        .step
          %h3.point-heading#stay-humble Stay Humble
          .step-description
            %p We put aside egos for the sake of learning.
      .span3
        .step
          %h3.point-heading#difference Make a Difference
          .step-description
            %p We're fundamentally changing the relationship between a customer and a small business. These businesses make up the fabric of our lives and economies.
  .row
    .span12 
      %h1 We're always looking for great people
      %h2 If you're interested, <a href="mailto:hello@simmr.co">drop us a line!</a>