=content_for :title, "simmer | terms of service"

-# temporary
= render 'layouts/primary_header'

.container.tos
  .row
    .span12
      %h1 Terms of Service
      %h3 Date of last revision: 21 August 2013
      %br
      %p
        Simmr Inc. (“Simmr” or “we”) provides an online platform which facilitates the discovery of and engagement with local businesses through special events in selected cities and the sharing of such experiences (the “Services”) through social media outlets and our website, accessible at www.simmr.co (the “Site”). Through our Site and Services, users can develop relationships with local businesses and find unique experiences. Please read carefully the following terms and conditions (“Terms”). These Terms govern your access to and use of the Site and the Services and, except as otherwise provided in these Terms, all Collective Content (defined below), and constitute a binding legal agreement between you and Simmr. 
      %h2
        Key Terms related to Content 
      %p
        “Simmr Content” means all Content that Simmr makes available through the Site and Services, including any Content licensed from a third party, but excluding Registered User Content.

        “Collective Content” means Registered User Content and Simmr Content. 

        “Content” means text, graphics, images, music, software, audio, video, information or other materials.

        “Registered User” means a person who completes Simmr’s account registration process, as described under “Account Registration” below. 

        “Registered User Content” means all Content that a Registered User posts, uploads, publishes, submits or transmits to be made available through the Site or Services. 

        Certain areas of the Site (and your access to or use of certain Services or Collective Content) may have different terms and conditions posted or may require you to agree with and accept additional terms and conditions. If there is a conflict between these Terms and terms and conditions posted for a specific area of the Site, Services or Collective Content, the latter terms and conditions will take precedence with respect to your use of or access to that area of the Site, Services or Collective Content. 

        You acknowledge and agree that, by accessing or using the Site or the Services or by posting any content on the Site or through the Services, you are indicating that you have read, understand, and agree to be bound by these Terms, whether or not you have registered with the Site. If you do not agree to these Terms, then you have no right to access or use the Site, Services, or Collective Content. 
      %h2
        Using the Site
      %h3
        Payment Terms
      %p
        Through the Site, you will be able to purchase a ticket to reserve a seat for a meal or another activity advertised through the Site with other users of the Site and Services (each such activity an “Event”). Upon coming to the site, you will be able to view upcoming Events. When you find an Event that interests you, you can reserve a seat at that Event by purchasing a ticket through the Site. Simmr, or its third-party payment service provider authorized to accept payments on Simmr’s behalf, will charge your credit card account for your purchase. The price of a ticket purchased through the Site and Services, and charged to your credit card account, will include the cost of the Event per person (including any taxes and gratuity). The amount you pay to Simmr for the ticket is all you will owe for an Event (unless you choose to engage in additional activities beyond the scope of the activities included in the price of your ticket, in which case you will be responsible for all additional charges relating to such additional activities. For example, if you purchase a ticket for a meal at a restaurant, and you order additional food or beverages at the restaurant beyond what is specified on your ticket, you will be responsible for all additional charges for such additional food and beverages). After Simmr or its third party payment service provider processes your purchase, the transaction is final. You are solely responsible for ensuring that you have selected the correct Event for which you purchased a ticket. It is also your responsibility to verify the accuracy of any statements made related to an Event promoted through the Site and Services (including accuracy of the date, time, and location of a given Event). Simmr will have no liability for any disputes related to tickets purchased through the Site and Services. 

      %h3
        Modification
      %p
        Simmr reserves the right, at its sole discretion, to modify, discontinue or terminate the Site or Services or to modify these Terms, at any time and without prior notice. If we modify these Terms, we will post the modification on the Site or provide you with notice of the modification. We will also update the “Last Updated Date” at the top of the home page of the Site. By continuing to access or use the Site or the Services after we have posted a modification on the Site or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. "If the modified Terms are not acceptable to you, your only recourse is to cease using the Site and the Services. 

      %h3 
        Eligibility
      %p
        The Site and Services are intended solely for persons who are 18 or older. Any access to or use of the Site or Services by anyone under 18 is expressly prohibited. By accessing or using the Site or Services you represent and warrant that you are 18 or older. 
      %h3
        Account Registration
      %p
        In order to access certain features of the Site and Services and to post any Registered User Content on the Site or through the Services, you must register to create an account (“Account”) and become a Registered User. To become a Registered User you must be at least 18 years old. Any registration by anyone under 18 is void. By completing the registration process to create an Account, you represent and warrant that you are 18 or older. During the registration process, you will be required to provide certain information and you will establish a username and a password. You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete. Simmr reserves the right to suspend or terminate your Account for any reason at its discretion, including, but not limited to, if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete. You are responsible for safeguarding your password. You agree not to disclose your password to any third party and to take sole responsibility for any activities or actions under your Account, whether or not you have authorized such activities or actions. You will immediately notify Simmr of any unauthorized use of your Account. 

      %h3
        Social Networking Service
      %p
        As a Registered User of the Site and Services, you may link your Account with your account on various third party social networking services, including, but not limited to, Facebook and Twitter (collectively, “SNS”) subject to the terms and conditions of the applicable third party SNS services. If you decide to link your Account with an SNS via our Site or Services, we may obtain the personal information you have provided to the SNS (such as your “real” name, profile picture, email address and other information you make publicly available via the applicable SNS) from the account you have with such SNS and use that information as part of your Account and to log you into the Site and Services if you are already logged into the SNS; the information we obtain may depend on the privacy settings you have with the SNS. You hereby consent to our access to and collection of such personal information about you. Please note that your relationship with the owners or operators of SNS services is governed solely by your agreement(s) with such third parties. 

      %h2
        Privacy Policy
      %p
        Simmr provides this Privacy Policy to inform you of our policies and procedures regarding the collection, use and disclosure of personal information we receive from users of the Site. This Privacy Policy applies only to information that you provide to us through this Site. This Privacy Policy may be updated from time to time.  We will notify you of any material changes by posting the new Privacy Policy on the Site. 

        As used in this policy, the terms “using” and “processing” information include using cookies on a computer, subjecting the information to statistical or other analysis and using or handling information in any way, including, but not limited to collecting, storing, evaluating, modifying, deleting, using, combining, disclosing and transferring information within our organization or among our affiliates within the United States or internationally. 

      %h3
        Information Collection and Use
      %p
        Our primary goals in collecting information are to provide and improve our Site, Services, features and content, to administer your Account (together, the “Service”) and to enable users to enjoy and easily navigate the Site.  

      %h3
        Personally Identifiable Information
      %p
        In the course of using the Service, we may ask you to provide us with, or grant us access to, or permission to obtain, certain personally identifiable information that can be used to contact or identify you; personally identifiable information may include, but is not limited to, your name, email address, phone number and credit card number and other billing information (“Personal Information”). We collect Personal Information in connection with your registration to join our Service.

        We also collect other information that you provide as part of registration and your use of the Service (e.g., without limitation, zip code, geographical data, birth month and day, and individual preferences) (“Non-Identifying Information”). 

        We use your Personal Information (in some cases, in conjunction with your Non-Identifying Information) to provide the Service, complete your transactions, and administer your inquiries.

        Certain Non-Identifying Information would be considered a part of your Personal Information if it were combined with other identifiers (for example, combining your zip code with your street address) in a way that enables you to be identified. But the same pieces of information are considered Non-Identifying Information when they are taken alone or combined only with other non-identifying information (for example, your viewing preferences). We may combine your Personal Information with Non-Identifying Information and aggregate it with information collected from other Simmr Users (defined below) to attempt to provide you with a better experience, to improve the quality and value of the Service and to analyze and understand how our Site and Service are used. 

        We also use your Personal Information to contact you with Simmr newsletters, email updates, marketing or promotional materials and other information that may be of interest to you. If you decide at any time that you no longer wish to receive such communications from us, please click 'Unsubscribe' at the bottom of your email (no login required). 

      %h3
        Log Data
      %p
        When you visit the Site, whether as a Registered User or a non-registered user just browsing (any of these, a “Simmr User”), our servers automatically record information that your browser sends whenever you visit a website (“Log Data”). This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser type or the webpage you were visiting before you came to our Site, pages of our Site that you visit, the time spent on those pages, information you search for on our Site, access times and dates, and other statistics. We use this information to monitor and analyze use of the Site and the Service and for the Site’s technical administration, to increase our Site’s functionality and user-friendliness, and to better tailor it to our visitors’ needs. For example, some of this information is collected so that when you visit the Site again, it will recognize you and serve information appropriate to your interests. We also use this information to verify that visitors to the Site meet the criteria required to process their requests. We do not treat Log Data as Personal Information or use it in association with other Personal Information, though we may aggregate, analyze and evaluate such information for the same purposes as stated above regarding other Non-Identifying Information. 

      %h3
        Cookies
      %p
        Like many websites, we use “cookies” to collect information. A cookie is a small data file that we transfer to your computer’s hard disk for record-keeping purposes. We use cookies for two purposes. First, we utilize persistent cookies to save your registration ID and login password for future logins to the Site. Second, we utilize session ID cookies to enable certain features of the Site, to better understand how you interact with the Site and to monitor aggregate usage by Simmr Users and web traffic routing on the Site. Unlike persistent cookies, session cookies are deleted from your computer when you log off from the Site and Service and then close your browser. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all portions of the Site or all functionality of the Service. 

      %h3 
        Messaging on Simmr
      %p
        As part of the Service, Registered Users may communicate with other Registered Users and, to a limited extent, with non-registered users, through use of their Accounts. Registered Users may email non-registered users to invite them to join, or refer them to, the Site. Additionally, Registered Users can message other Registered Users with whom they would like to attend an Event, or Registered Users can message the entire group of Registered Users who attended a particular Event. All messages sent through the Site, whether between Registered Users or between a Registered User and a non-registered user, will be sent from Simmr on behalf of the Registered User in question, and recipients of messages through the Site will not have access to any Registered User’s email address. The email addresses of non-registered users will only be used for the purpose of sending the message communication to the addressee.
      
      %h3
        Phishing
      %p
        Identity theft and the practice currently known as “phishing” are of great concern to Simmr. Safeguarding information to help protect you from identity theft is a top priority. We do not and will not, at any time, request your credit card information, your account ID, login password, or national identification numbers in a non-secure or unsolicited e-mail or telephone communication. For more information about phishing, visit the Federal Trade Commission’s website. 

      %h3
        Information Sharing and Disclosure
      %h4
        Registered Users; Businesses
      %p
        When you register to join the Site and submit your Personal Information to create a profile webpage, Registered Users will see the name you have chosen to identify yourself on the Site (“Required Member Identifiers”). You can choose what other Personal Information you provide as part of your profile (“Other Member Information”). Providing Other Member Information is voluntary and should correlate with the degree of interaction you want to have with Registered Users. Although we urge you to take reasonable precautions to guard your sensitive information, one of the goals of the Site and Service is to facilitate Registered Users to interact with each other and the businesses. Additionally, we will share your name with the applicable businesses for the Events you attend. 

      %h4
        Aggregate Information and Non-Identifying Information
      %p
        We may share aggregated information that does not include Personal Information and we may otherwise disclose Non-Identifying Information and Log Data with third parties for industry analysis, demographic profiling and other purposes. Any aggregated information shared in these contexts will not contain your Personal Information. 

      %h4
        Service Providers
      %p
        We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Site-related services (e.g., without limitation, payment processing services, maintenance services, database management, web analytics and improvement of the Site’s features) or to assist us in analyzing how our Site and Service are used. These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose. 

      %h4
        Compliance with Laws and Law Enforcement
      %p
        Simmr cooperates with government and law enforcement officials and private parties to enforce and comply with the law. We will disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims and legal process (including but not limited to subpoenas), to protect the property and rights of Simmr or a third party, to protect the safety of the public or any person, or to prevent or stop activity we may consider to be, or to pose a risk of being, any illegal, unethical or legally actionable activity. 

      %h4
        Business Transfers
      %p
        Simmr may sell, transfer or otherwise share some or all of its assets, including your Personal Information, in connection with a merger, acquisition, reorganization or sale of assets or in the event of bankruptcy. 

      %h3
        Changing or Deleting Your Information
      %p
        All Registered Users may review, update, correct or delete the Personal Information in their registration profile through their profile page. If you would like us to delete your record in our system, please contact us at hello@simmr.co with a request that we delete your Personal Information from our database. We will use commercially reasonable efforts to honor your request. We may retain an archived copy of your records as required by law or for legitimate business purposes. 

      %h3
        Security
      %p
        Simmr is very concerned with safeguarding your information. We are not in the business of providing information security.  We do employ limited data security measures, such as encryption, on some but not all systems.  Do not provide your personal information if you are concerned with its disclosure.  

        We will make any legally required disclosures of any breach of the security, confidentiality, or integrity of your unencrypted electronically stored “personal data” (as defined in applicable state statutes on security breach notification) to you via email or conspicuous posting on this Site in the most expedient time possible and without unreasonable delay, insofar as consistent with (i) the legitimate needs of law enforcement or (ii) any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system. 

        We will make any legally required disclosures of any breach of the security, confidentiality, or integrity of your unencrypted electronically stored “personal data” (as defined in applicable state statutes on security breach notification) to you via email or conspicuous posting on this Site in the most expedient time possible and without unreasonable delay, insofar as consistent with (i) the legitimate needs of law enforcement or (ii) any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system. 

      %h3
        International Transfer
      %p
        Your information may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. If you are located outside the United States and choose to provide information to us, Simmr transfers Personal Information to the United States and processes it there. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer. 

      %h3
        Links to Other Sites
      %p
        Our Site contains links to other websites. If you click on another third party link, you will be directed to that third party’s website. The fact that we link to a website is not an endorsement, authorization or representation of our affiliation with that third party, nor is it an endorsement of their privacy or information security policies or practices. We do not exercise control over third party websites. These other websites may place their own cookies or other files on your computer, collect data or solicit personal information from you. Other sites follow different rules regarding the use or disclosure of the personal information you submit to them. We encourage you to read the privacy policies or statements of the other websites you visit. 

      %h3
        Our Policy Toward Children
      %p
        This Site is not directed to people under the age of 18. We do not knowingly collect personally identifiable information from children under 13. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent, he or she should contact us at hello@simmr.co. If we become aware that a child under 13 has provided us with Personal Information, we will delete such information from our files. 

      %h2
        Ownership
      %p
        The Site, Services and Collective Content are protected by copyright, trademark, and other laws of the United States and foreign countries. Except as expressly provided in these Terms, Simmr and its licensors exclusively own all right, title and interest in and to the Site, Services and Collective Content, including all associated intellectual property rights. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Services or Collective Content.

      %h3
        Content License
      %p
        Subject to your compliance with the terms and conditions of these Terms, Simmr grants you a limited, non-exclusive, non-transferable license, without the right to sublicense, to access, view, and print any Collective Content solely for your personal and non-commercial purposes. You will not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, or otherwise exploit the Site, Services or Collective Content, except as expressly permitted in these Terms. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Simmr or its licensors, except for the licenses and rights expressly granted in these Terms. 

      %h3
        Registered User Content
      %p
        Registered Users may post, upload, publish, submit or transmit Registered User Content. By making available any Registered User Content through the Site and Services, you hereby grant to Simmr and its users a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, copy, adapt, modify, distribute, license, sell, transfer, publicly display, publicly perform, transmit, and otherwise exploit such Registered User Content. Simmr does not claim any ownership rights in any such Registered User Content and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit any such Registered User Content. 

        You acknowledge and agree that you are solely responsible for all Registered User Content that you make available through the Site or Services. Accordingly, you represent and warrant that: (i) you either are the sole and exclusive owner of all Registered User Content that you make available through the Site or Services or you have all rights, licenses, consents and releases that are necessary to grant the rights in such Registered User Content, as contemplated under these Terms; and (ii) neither the Registered User Content nor your posting, uploading, publication, submission or transmittal of the Registered User Content or Simmr’s or its user’s use of the Registered User Content (or any portion thereof) will infringe, misappropriate or violate a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation. 

      %h3
        Feedback
      %p
        We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site and Services (“Feedback”). You may submit Feedback by emailing us at hello@simmr.co. You acknowledge and agree that all Feedback will be the sole and exclusive property of Simmr and you hereby irrevocably assign to Simmr and agree to irrevocably assign to Simmr all of your right, title, and interest in and to all Feedback, including without limitation all worldwide patent rights, copyright rights, trade secret rights, and other proprietary or intellectual property rights therein. At Simmr’s request and expense, you will execute documents and take such further acts as Simmr may reasonably request to assist Simmr to acquire, perfect, and maintain its intellectual property rights and other legal protections for the Feedback. 

      %h2
        General Prohibitions
      %p
        You agree not to do any of the following:

        (1) Post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or substances. 

        (2) Use, display, mirror or frame the Site, or any individual element within the Site, Simmr’s name, any Simmr trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without Simmr’s express written consent; 

        (3) Access, tamper with, or use non-public areas of the Site, Simmr’s computer systems, or the technical delivery systems of Simmr’s providers; 

        (4) Attempt to probe, scan, or test the vulnerability of any Simmr system or network or breach any security or authentication measures; 

        (5) Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Simmr or any of Simmr’s providers or any other third party (including another user) to protect the Site, Services or Collective Content; 

        (6) Attempt to access or search the Site, Services or Collective Content or download Collective Content from the Site or Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Simmr or other generally available third party web browsers; 

        (7) Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation; 

        (8) Use any meta tags or other hidden text or metadata utilizing a Simmr trademark, logo URL or product name without Simmr’s express written consent; 

        (9) Use the Site, Services or Collective Content for any commercial purpose or the benefit of any third party or in any manner not permitted by these Terms; 

        (10) Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services or Collective Content to send altered, deceptive or false source-identifying information; 

        (11) Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services or Collective Content; 

        (12) Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site; 

        (13) Collect or store any personally identifiable information from the Site or Services from other users of the Site or Services without their express permission; 

        (14) Impersonate or misrepresent your affiliation with any person or entity; 

        (15) Violate any applicable law or regulation 

        (16) Encourage or enable any other individual to do any of the foregoing. 

        Simmr will have the right to investigate and prosecute violations of any of the above to the fullest extent of the law. Simmr may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms. You acknowledge that Simmr has no obligation to monitor your access to or use of the Site, Services or Collective Content or to review or edit any Registered User Content, but has the right to do so for the purpose of operating the Site and Services, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. Simmr reserves the right, at any time and without prior notice, to remove or disable access to any Collective Content, including, any Registered User Content, that Simmr, at its sole discretion, considers to be objectionable, in violation of these Terms or otherwise harmful to the Site or Services. 

      %h2
        Copyright and IP Policy
      %p
        Simmr respects copyright law and expects its users to do the same. 

        It is Simmr’s policy, in appropriate circumstances and at its discretion, to disable and/or terminate the accounts of users who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual property rights of others. 

        In accordance with the Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website at http://www.copyright.gov/legislation/dmca.pdf, Simmr will respond expeditiously to claims of copyright infringement committed using the Simmr website or other online network accessible through a mobile device or other type of device (the “Sites”) that are reported to Simmr. 

        If you are a copyright owner, or are authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Sites to Simmr. Upon notification, Simmr will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged material from the Sites. 

      %h2
        Links
      %p
        The Site may contain links to third-party websites or resources. You acknowledge and agree that Simmr is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Simmr of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources. 

      %h2
        Termination and Account Cancellation
      %p
        If you breach any of these Terms, Simmr will have the right to suspend or disable your Account or terminate these Terms, at its sole discretion and without prior notice to you. Simmr reserves the right to revoke your access to and use of the Site, Services and Collective Content at any time, with or without cause. When you register to join the Site and create a profile page, you are free to choose any name to identify yourself to other Registered Users. However, any complaints to Simmr by Registered Users, arising out of or in connection with your use of a false name, may result, in Simmr’s sole discretion and without prior notice to you, in the suspension or disabling of your Account or the termination of these Terms. In the event Simmr terminates these Terms for your breach, or revokes your access to and use of the Site and Services or terminates or discontinues the Site and Services and consequently these Terms, you will remain liable for all amounts due hereunder. You may cancel your Account at any time by sending an email to hello@simmr.co. 

      %h2
        Disclaimers
      %p
        The Site, Services, and Collective Content are provided “as is” and “as available”, without warranty of any kind, either express or implied. Without limiting the foregoing, Simmr explicitly disclaims any warranties of merchantability, fitness for a particular purpose, quiet enjoyment or non-infringement, and any warranties arising out of course of dealing or usage of trade. Simmr makes no warranty that the Site, Services, or Collective Content will meet your requirements or be available on an uninterrupted, secure, or error-free basis. Simmr makes no warranty regarding the quality of any Services, Collective Content, or anything else purchased or obtained through the Site or Services or the accuracy, timeliness, truthfulness, completeness, or reliability of any Collective Content obtained through the Site or Services. 

        No advice or information, whether oral or written, obtained from Simmr or through the Site, Services, or Collective Content, will create any warranty not expressly made herein. 

        Simmr is neither an agent of nor is connected or affiliated with any business or operator of any business for which the User has purchased a ticket for an Event through the Site and Services. Simmr makes no warranty of representations of any kind regarding the performance or non-performance of any business or operator of any business in connection with the Service, including failure to honor tickets or other reservations or the delivery of incorrect products and/or services, including but not limited to meal orders. 

        You are solely responsible for, and assume all risks of, all of your online or offline communications and interactions with other users of the Site or Services and with other persons with whom you communicate or interact as a result of your use of the Site or Services. You understand that Simmr does not screen or inquire into the background of any Users of the Site or Services, nor does Simmr make any attempt to verify the statements of Users of the Site or Services. Simmr makes no representations or warranties as to the conduct of Users of the Site or Services or their compatibility with any current or future Users of the Site or Services. You agree to take reasonable precautions in all communications and interactions with other Users of the Site or Services and with other persons with whom you communicate or interact as a result of your use of the Site or Services.

      %h2
        Indemnity
      %p
        You agree to defend, indemnify, and hold Simmr, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with your access to or use of the Site, Services or Collective Content, or your violation of these Terms. 

      %h2
        Limitation of Liability
      %p
        You acknowledge and agree that, to the maximum extent permitted by law, the entire risk arising out of your access to and use of the Site, Services, and Collective Content remains with you. Neither Simmr nor any other party involved in creating, producing, or delivering the Site, Services, or Collective Content will be liable for any direct damages, or any incidental, special, exemplary or consequential damages, including lost profits, loss of data or loss of goodwill, service interruption, computer damage or system failure or the cost of substitute products or services, or for any damages for personal or bodily injury or emotional distress, arising out of or in connection with: (a) these Terms or from the use of or inability to use the Site, Services, or Collective Content; (b) the conduct of you or anyone else in connection with the use of the Site or Services; (c) the performance or non-performance of any business in connection with the Service, including failure to honor tickets or other reservations or the delivery of incorrect products and/or services, including but not limited to meal orders; (d) any harm to you caused in whole or in part by a third party, including but not limited to another User of the Services, (e) statements, conduct, or omissions of any guest, host, or other third parties on our Site or Services; or (f) any communications, interactions or meetings with other users of the Site or Services or other persons with whom you communicate or interact as a result of your use of the Site or Services, whether based on warranty, contract, tort (including negligence), product liability or any other legal theory, and whether or not Simmr has been informed of the possibility of such damage, even if a limited remedy set forth herein is found to have failed its essential purpose. Aside from the Services provided through the Site, Simmr is not liable for any injury, loss, claim, damage, or any special, exemplary, punitive, incidental, or consequential damages of any kind, whether based on warranty, contract, tort, product liability, or otherwise, which arises out of or is in any way connected with a User’s visit to a business, resulting from use of the Site or Services. 

        In no event will Simmr’s aggregate liability arising out of or in connection with these Terms or from the use of or inability to use the Site, Services, or Collective Content exceed the amounts you have paid to Simmr for use of the Site, Services, or Content or one hundred dollars, whichever is greater. The limitations of damages set forth above are fundamental elements of the basis of the bargain between Simmr and you. Some jurisdictions do not allow the exclusion of limitation of liability for consequential of incidental damages, so the above limitation may not apply to you. 

      %h2
        Proprietary Rights Notices
      %p
        All trademarks, service marks, logos, trade names and any other proprietary designations of Simmr used herein are trademarks or registered trademarks of Simmr. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties. 

      %h2
        Controlling Law and Jurisdiction
      %p
        These Terms and any action related thereto will be governed by the laws of the State of California without regard to its conflict of laws provisions. The exclusive jurisdiction and venue of any action to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents or other intellectual property rights will be the state and federal courts located in the Northern District of California and each of the parties hereto waives any objection to jurisdiction and venue in such courts. 

      %h2
        Entire Agreement
      %p
        These Terms constitute the entire and exclusive understanding and agreement between Simmr and you regarding the Site, Services and Collective Content, and these Terms supersede and replace any and all prior oral or written understandings or agreements between Simmr and you regarding the Site, Services and Collective Content. 

      %h2
        Assignment
      %p
        You may not assign or transfer these Terms, by operation of law or otherwise, without Simmr’s prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. Simmr may assign or transfer these Terms, at its sole discretion, without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns. 

      %h2
        Notices
      %p
        Any notices or other communications permitted or required hereunder, including those regarding modifications to these Terms, will be in writing and given by Simmr: (i) via email (in each case to the address that you provide) or (ii) by posting to the Site. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted. 

      %h2
        Dispute Resolution
      %p
        Any controversy or claim arising out of or relating to these Terms or the provision of the Services shall be exclusively settled by binding arbitration in accordance with the commercial arbitration rules of the Judicial Arbitration and Mediation Services, Inc. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in San Francisco, California, and judgment on the arbitration award may be entered in any court having jurisdiction thereof. Subject to the foregoing arbitration provision, you and Simmr agree to submit to the personal jurisdiction of the courts located within the city and county of San Francisco, California. Either you or Simmr may seek any interim or preliminary relief from a court of competent jurisdiction in San Francisco, California, necessary to protect the rights or property of you or Simmr (or its agents, suppliers, and subcontractors) pending the completion of arbitration.

      %h2
        General
      %p
        The failure of Simmr to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Simmr. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.

      %h2
        Contacting Simmr
      %p
        If you have any questions about these Terms, please contact Simmr at hello@simmr.co.

-# temporary
= render 'layouts/footer'
