-#
  -# temporary
  = render 'layouts/primary_header'

  .container.tos
    .row
      .span12
        %h1 Terms of Service
        %h2 Subheading
        %h3 Subsubheading
        %h4 Subsubsubheading
        %p Text

  -# temporary
  = render 'layouts/footer'
