=content_for :title, "simmr | terms of service"


.container.tos
  .row
    .span12
      %h1 Simmr User Agreement
      %h3 Date of last revision: 5 November 2013
      %br
      %p
        Welcome to the Simmr Inc. (“Simmr”) website – www.simmr.co (the “Site”).  This User Agreement (this “Agreement”) is for the customers, members, users, and others who visit and use the Site (collectively or individually “Users”).
      %p
        BEFORE USING OR REGISTERING FOR THE SITE, PLEASE READ THIS AGREEMENT CAREFULLY.  BY USING THE SITE OR CLICKING ON “ACCEPT”, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THIS AGREEMENT, INCLUDING THE PROVISIONS OF SECTIONS 20 AND 21 UNDER WHICH YOU AGREE TO ARBITRATE CERTAIN CLAIMS INSTEAD OF GOING TO COURT AND AGREE NOT TO BRING CLASS ACTIONS CLAIMS.  IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT, THEN PLEASE DO NOT USE THE SITE OR CLICK “ACCEPT.”
      %p.strong NOTE TO KIDS UNDER 18 YEARS OF AGE:  
      %p THE SITE IS NOT FOR PERSONS UNDER THE AGE OF 18.  If you are under 18 years of age, then please do not use the Site.  Talk to your parents about what sites are appropriate for you. 

      %ol
        %li
          %p Description.
          %p Simmr provides an online platform that facilitates the discovery of and engagement with local businesses (“Venues”) through special events in selected cities and the sharing of such experiences through social media outlets and the “Site”.  Through our Site, Users can develop relationships with Venues and sign up for unique experiences.  
        %li 
          %p Privacy Policy.
          %p Simmr’s Privacy Policy, found at <a href = http://www.simmr.co/home/privacy> Privacy Policy </a> is hereby incorporated into this Agreement.  Please read this notice carefully for details relating to the collection, use, and disclosure of your personal information.
        %li 
          %p Individual Features and Services.  
          %p When using the Site, you will be subject to any additional posted guidelines or rules applicable to specific services, offers and features which may be posted from time to time (the “Guidelines”).  All such Guidelines are hereby incorporated by reference into this Agreement.  Please note that additional and/or different conditions and terms of use may apply to media, contests, competitions, or services provided through one or more of our partners or business associates, and you should refer to those before using such services.
        %li 
          %p Modification.
          %p Simmr may make modifications, deletions and/or additions to this Agreement (“Changes”) at any time.  Changes will be effective: (i) thirty (30) days after Simmr provides notice of the Changes, whether such notice is provided through the Site user interface, is sent to the e-mail address associated with your account or otherwise; or (ii) when you opt-in or otherwise expressly agree to the Changes or a version of this Agreement incorporating the Changes, whichever comes first. 
        %li
          %p Ownership; Proprietary Rights.
          %p The Site is owned and operated by Simmr.  The content, visual interfaces, information, graphics, design, compilation, computer code, products, software, services, and all other elements of the Site that are provided by Simmr (“Simmr Materials”) are protected by United States copyright, trade dress, patent, and trademark laws, international conventions, and all other relevant intellectual property and proprietary rights, and applicable laws.  For clarity, Simmr Materials do not include user comments or any other content owned by and submitted by Simmr Users to the Site.  All Simmr Materials contained on the Site are the copyrighted property of Simmr or its subsidiaries or affiliated companies and/or third-party licensors.  All trademarks, service marks, and trade names are proprietary to Simmr or its affiliates and/or third-party licensors.  Except as expressly authorized by Simmr, you agree not to sell, license, distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative works from, or otherwise make unauthorized use of the Simmr Materials.
        %li
          %p Events
          %ol{:type => "a"}
            %li
              %p Eligibility to register for and attend certain Venue events may be subject to certain requirements, including minimum age requirements.  You are responsible for determining whether you meet such requirements, and acknowledge that no refunds will be provided if your register for an event which you do not qualify to attend. 
            %li
              %p Certain events will have a minimum User threshold associated with them.  In such cases, the event will not take place, and Users registered for the event (“Attendees”) will not be charged for the event, until the applicable threshold number of Users registers for the event.  When the applicable threshold is reached, the event “Tilts” and all Attendees will be charged for the event.  Attendees may only cancel at least four (4) calendar days prior to the date of the event.  If an event has not Tilted within four days of the event, the event may be cancelled. 
            %li
              %p Venue event tickets are electronic and tied to your name and e-mail address, and are non-transferable.  You will be required to show a government-issued photo ID acceptable to the applicable Venue for event entry.  No physical event tickets are provided, and no e-mail confirmation or Site receipt print-out is sufficient for event attendance. 
            %li
              %p Simmr provides a platform for Venues to list and accept payment for tickets to events held by such Venues, and for Users to browse and purchase tickets for such events.  Simmr does not own or operate any Venues and (other than the sale of tickets through the Site) does not have any control over any aspect of any event, including without limitation the quality or safety of any content, goods or services provided in connection with an event or any acts or omissions of event hosts or other Attendees, nor does Simmr have any right or ability to control any of the foregoing.  Simmr makes no promise, representation or warranty that any event will meet your expectations or requirements.  You acknowledge and agree that by attending any event, you may be exposed to a variety of risks and hazards, which may or may not be foreseen, including (without limitation) personal injury, property damage and death.  You are solely responsible for all costs and/or risks associated with your participation in any event, and you hereby assume all such costs and risks. 
            %li 
              %p You acknowledge and agree that Simmr shall have no liability to you whatsoever with respect to: (i) your ability or inability to attend any event for reasons outside the reasonable control of Simmr; (ii) any goods and/or services you receive in connection with an event; (iii) any violation by a Venue of any law, rule or regulation; or (iv) any personal injury (including death), property damage or other liabilities, damages, judgments, costs or expenses (including attorneys fees) you may incur that relate in any way to your attendance at an event, purchase or use of goods and/or services from a Venue or any interaction with a Venue, notwithstanding whether Simmr may elect (in its sole discretion) to attempt to assist you with regard to any of the foregoing.  You acknowledge and agree that Venues and their personnel are not employees, agents or representatives of Simmr.   
        %li 
          %p Event Payments; Refunds. 
          %p User payments for Venue events are transacted through third party payment service company(ies) (“Third Party Payment Provider(s)”).  Simmr reserves the right to choose any Third Party Payment Provider(s) to provide and operate these payment services. 
          %ol{:type => "a"}
            %li 
              %p You represent and warrant that you have all rights to use the payment method used by you to pay for any Venue event tickets.  By submitting payment instrument information to Simmr, you hereby authorize Simmr to use that payment instrument to charge all fees you may incur through use of the Site.  You are responsible for all fees incurred through use of your Site account.  All fees are non-refundable except to the limited extent expressly set forth herein.  If you believe you have been charged in error, please contact us at  <a href="mailto:hello@simmr.co">hello@simmr.co</a>.
            %li
              %p All Venue events are subject to cancellation by the Venue at any time, for any reason or for no reason, and without liability therefor.  If a Venue event for which you have been charged is cancelled, you will receive a refund applied to the payment instrument you used to pay for the ticket.
            %li
              %p Simmr does not provide refunds for any reason other than cancellation, and any refund requests for any such reasons must be addressed to the Venue.  All communications or disputes regarding refunds for any other reason are between the Venue and Attendees.  If you have any questions regarding a Venue’s refund policy, you should contact the Vendor prior to registering for an event at that Venue.  Simmr will not be responsible or liable in any way for refunds due to Attendees from Venues, errors in issuing refund by a Venue, or any decision by the Venue to not provide refunds.  If you as a User and/or Attendee wish to request a refund in connection with an event listed on the Site, you must contact the Venue directly.
        %li
          %p Monitoring User Submissions.  
          %p The Site may permit the submission and posting of comments by you or other users.  Simmr does not control the comments posted by Users and does not have any obligation to monitor such comments for any purpose.  You acknowledge that you are solely responsible for all comments, images or other materials (collectively, “User Submissions”) that you submit on the Site, including any User Submissions that are downloaded to the Site from social networks, including but not limited to Facebook and Twitter.  If at any time, Simmr chooses, in its sole discretion, to monitor User Submissions, Simmr nonetheless assumes no responsibility for User Submissions, no obligation to modify or remove any inappropriate User Submissions, and no responsibility for the conduct of the User submitting any such User Submissions.  You understand that whether or not User Submissions are published, Simmr does not guarantee any confidentiality with respect to any User Submissions.  
          %ol{:type => "a"}
            %li 
              %p You shall be solely responsible for your own User Submissions and the consequences of posting or publishing them.  In connection with User Submissions, you affirm, represent, and/or warrant that: (i) you own, or have the necessary licenses, rights, consents, and permissions to use and authorize Simmr to use, all patent, trademark, copyright, or other proprietary rights in and to any and all User Submissions to enable inclusion and use of User Submissions in the manner contemplated by Simmr and this Agreement, and (ii) you have the written consent, release, and/or permission of each and every identifiable individual person in the User Submission to use the name or likeness of each and every such identifiable individual person to enable inclusion and use of the User Submissions in the manner contemplated by Simmr and this Agreement.  
            %li
              %p For clarity, you shall retain all of your ownership rights in your User Submissions.  However, by submitting User Submissions to Simmr, you hereby grant Simmr a worldwide, non-exclusive, fully paid-up, royalty-free, irrevocable, perpetual, sublicenseable, and transferable license to use, sell, reproduce, distribute, prepare derivative works of, display, perform, and otherwise exploit your User Submissions in connection with the Site and Simmr’s (and its successor’s) business, including without limitation for promoting and redistributing part or all of the Site (and derivative works thereof) in any media formats and through any media channels.  You also hereby grant to each user of the Site a non-exclusive license to access your User Submissions through the Site, and to use, reproduce, distribute, prepare derivative works of, display, and perform such User Submissions as permitted by the functionality of the Site and this Agreement.  The aforementioned licenses will terminate when User or Simmr removes User’s Submission(s) from the Simmr website.  
            %li 
              %p In connection with User Submissions, you further agree that you will not: (i) submit material that is not authorized by the copyright owner, protected by trade secret or otherwise subject to third party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission from their rightful owner to post and sell the material and to grant Simmr all of the license rights granted herein; (ii) publish falsehoods or misrepresentations that could damage Simmr or any third party; (iii) submit material that is unlawful, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law or is otherwise inappropriate; (iv) post advertisements or solicitations of business; or (v) impersonate another person.  Simmr does not endorse any User Submission or any opinion, recommendation, or advice expressed therein, and Simmr expressly disclaims any and all liability in connection with User Submissions.  If notified by a user or a content owner of a User Submission that allegedly does not conform to this Agreement, Simmr may investigate the allegation and determine in good faith and in its sole discretion whether to remove the User Submission, which it reserves the right to do at any time.  Additionally, Simmr may, at any time, remove any User Submission that in the sole judgment of Simmr violates this Agreement. 
            %li
              %p You understand and acknowledge that you may be exposed to User Submissions that are inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against Simmr with respect thereto. 
        %li
          %p Prohibited Uses
          %ol{:type => "a"}
            %li
              %p As a condition of your use of the Site, you will not use the Site for any purpose that is unlawful or prohibited by this Agreement.  Access to the Simmr Materials and the Site from territories where their contents are illegal is strictly prohibited.  Simmr Users are responsible for complying with all local rules, laws, and regulations including, without limitation, rules about intellectual property rights, the internet, technology, data, email, or privacy. 
            %li
              %p Any use by User of any of the Simmr Materials other than for private, non-commercial use is strictly prohibited.  
            %li
              %p You may not use the Site in any manner that in our sole discretion could damage, disable, overburden, or impair it or interfere with any other party’s use of the Site.  You may not intentionally interfere with or damage the operation of the Site or any User’s enjoyment of it, by any means, including uploading or otherwise disseminating viruses, worms, or other malicious code.  You may not remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Site, features that prevent or restrict the use or copying of any content accessible through the Site, or features that enforce limitations on the use of the Site.  You may not attempt to gain unauthorized access to the Site, or any part of it, other accounts, computer systems or networks connected to the Site, or any part of it, through hacking, password mining or any other means or interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site.  You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the Site.  You agree neither to modify the Site in any manner or form, nor to use modified versions of the Site, including (without limitation) for the purpose of obtaining unauthorized access to the Site.  
            %li 
              %p The Site may contain robot exclusion headers.  You agree that you will not use any robot, spider, scraper, or other automated means to access the Site for any purpose without our express written permission or bypass our robot exclusion headers or other measures we may use to prevent or restrict access to the Site.
            %li
              %p You may not utilize framing techniques to enclose any trademark, logo, or other Simmr Materials without our express written consent.  You may not use any meta tags or any other “hidden text” utilizing Simmr’s name or trademarks without our express written consent.   
            %li
              %p You may not deep-link to the Site and will promptly remove any links that Simmr finds objectionable in its sole discretion.  You may not use any Simmr logos, graphics, or trademarks as part of the link without our express written consent. 
            %li
              %p You may not send junk mail to other Users, including, but not limited to unsolicited advertising, promotional materials or other solicitation material, bulk mailing of commercial advertising, chain mail, informational announcements, charity requests, and petitions for signatures.
        %li
          %p Account Information.  
          %p You agree that the information you provide to Simmr upon purchase or member registration and, at all other times, will be true, accurate, current, and complete.  You also agree that you will ensure that this information is kept accurate and up-to-date at all times.  You further agree to comply with restrictions for Venue events, as the Venue requires, including but not limited to age and gender requirements.
        %li 
          %p Password. 
          %p When you register you will be asked to provide a password.  As you will be responsible for all activities that occur under your password, you should keep your password confidential.  You are solely responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.  If you have reason to believe that your account is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your account ID or password, you will immediately notify Simmr.  You may be liable for the losses incurred by Simmr or others due to any unauthorized use of your account.
        %li 
          %p User Communications.   
          %p Under this Agreement, you consent to receive communications from Simmr electronically.  We will communicate with you by email or by posting notices on the Site.  You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
        %li
          %p User Service; Feedback.  
          %p Please email us at <a href="mailto:hello@simmr.co">hello@simmr.co</a>.
        %li   
          %p Availability of Service. 
          %p Simmr may make changes to or discontinue any of the media, contests, web communities, products, or services available within the Site at any time, and without notice.  The media, products, or services on the Site may be out of date, and Simmr makes no commitment to update these materials on the Site. 
        %li 
          %p Notice
          %p Except as explicitly stated otherwise, legal notices shall be served on Simmr’s national registered agent or to the email address you provide to Simmr during the registration process.  Notice shall be deemed given twenty-four (24) hours after email is sent, unless the sending party is notified that the email address is invalid.  Alternatively, we may give you legal notice by mail to the address provided during the registration or purchase process.  In such case, notice shall be deemed given three days after the date of mailing.
        %li
          %p Member Disagreements.
          %p You alone are responsible for your involvement with other Users.  Simmr reserves the right, but has no obligation, to monitor disagreements between you and other Users. 
        %li 
          %p Violations; Termination.  
          %p You agree that Simmr, in its sole discretion and for any or no reason, may terminate any member or customer account (or any part thereof) you may have at the Site or your use of the Site, and remove and discard all or any part of your account or any User Submission, at any time.  Simmr may also in its sole discretion and at any time discontinue providing access to the Site, or any part thereof, with or without notice.  You agree that any termination of your access to the Site or any account you may have or portion thereof may be effected without prior notice, and you agree that Simmr shall not be liable to you or any third-party for any such termination. Any suspected fraudulent, abusive, or illegal activity that may be grounds for termination of your use of the Site may be referred to appropriate law enforcement authorities.  These remedies are in addition to any other remedies Simmr may have at law or in equity.  
        %li 
          %p Disclaimers; No Warranties.  
          %p THE SITE AND ANY THIRD-PARTY, MEDIA, SOFTWARE, SERVICES, OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SITE ARE PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED.  TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, SIMMR, AND ITS VENUES, SUPPLIERS AND PARTNERS, DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS.  
          %p SIMMR, AND ITS VENUES, SUPPLIERS AND PARTNERS, DO NOT WARRANT THAT THE FEATURES CONTAINED IN THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE OR THE SERVER THAT MAKES IT AVAILABLE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
          %p SIMMR, AND ITS VENUES, SUPPLIERS AND PARTNERS, DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SITE IN TERMS OF IT CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE.  YOU (AND NOT SIMMR NOR ITS VENUES, SUPPLIERS AND PARTNERS) ASSUME THE ENTIRE COST OF ANY NECESSARY SERVICING, REPAIR, OR CORRECTION.  YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD, OR OTHERWISE OBTAIN MEDIA, MATERIAL, OR OTHER DATA THROUGH THE USE OF THE SITE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH MATERIAL OR DATA.
          %p CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES.  IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
        %li
          %p Indemnification; Hold Harmless.  
          %p You agree to indemnify and hold Simmr, and its affiliated companies, and its Venues, suppliers and partners, harmless from any claims, losses, damages, liabilities, including attorney’s fees, arising out of your use or misuse of the Site, violation of this Agreement, violation of the rights of any other person or entity, or any breach of the foregoing representations, warranties, and covenants.  Simmr reserves the right, at our own expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims.
        %li
          %p Limitation of Liability and Damages.  
          %p UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, SHALL SIMMR OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY VENUES, PARTNERS OR SUPPLIERS, BE LIABLE TO YOU FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES THAT RESULT FROM YOUR USE OR THE INABILITY TO USE THE SIMMR MATERIALS ON THE SITE, THE SITE ITSELF, OR ANY OTHER INTERACTIONS WITH SIMMR, EVEN IF SIMMR OR A SIMMR AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  
          %p IN NO EVENT SHALL SIMMR’S OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY VENUES, PARTNERS OR SUPPLIERS’ TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO THESE TERMS OR YOUR USE OF THE SITE (WHETHER IN CONTRACT, TORT, WARRANTY, OR OTHERWISE) EXCEED ONE HUNDRED DOLLARS.
          %p THESE LIMITATIONS SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY YOU IN RELATION TO ANY EVENTS YOU REGISTER FOR OR ATTEND IN CONNECTION WITH THE SITE AND ANY PRODUCTS OR SERVICES SOLD OR PROVIDED TO YOU IN CONNECTION WITH ANY EVENT.
          %p APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU.  IN SUCH CASES, SIMMR’S LIABILITY WILL BE LIMITED OR EXCLUDED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
        %li
          %p Arbitration
          %p Any claim (excluding claims for injunctive or other equitable relief) where the total amount of the award sought by either party is less than $10,000 shall be resolved via binding non-appearance-based arbitration initiated through the American Arbitration Association (“AAA”).  The AAA Rules are available online at www.adr.org or by calling the AAA at 1-800-778-7879.  In any such arbitration, the parties and AAA must comply with the following rules: (a) the arbitration shall be conducted by telephone, online and/or be solely based on written submissions, the specific manner shall be chosen by the party initiating the arbitration; (b) the arbitration shall not involve any personal appearance by the parties or witnesses unless otherwise mutually agreed by the parties; (c) the arbitrator may award injunctive or declaratory relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party's individual claim; and (d) any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction.  Nothing in this Agreement shall prevent either party from seeking remedies in small claims court of competent jurisdiction.  
        %li 
          %p Class Action Waiver.  
          %p YOU AGREE THAT ANY CLAIMS SUBJECT TO ARBITRATION UNDER SECTION 20 MUST BE MADE IN YOUR INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. 
        %li
          %p Claims.
          %p YOU AND THE SIMMR AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THE SITE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES.  OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
        %li
          %p Miscellaneous.
          %ol{:type => "a"}
            %li
              %p Governing Law.
              %p This Agreement shall be governed by and construed in accordance with the laws of the State of California, without giving effect to any principles of conflicts of law.
            %li
              %p Jurisdiction.
              %p You agree that any action at law or in equity arising out of or relating to this Agreement or the Site that is not subject to mandatory arbitration as set forth above in Section 20 shall be filed only in the state or federal courts in and for San Francisco County, California and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.  
            %li 
              %p Waiver.
              %p A provision of this Agreement may be waived only by a written instrument executed by the party entitled to the benefit of such provision.  The failure of any party at any time to require performance of any provision of this Agreement shall in no manner affect such party’s right at a later time to enforce the same.  A waiver of any breach of any provision of this Agreement shall not be construed as a continuing waiver of other breaches of the same or other provisions of this Agreement.
            %li
              %p Severability.  
              %p If any provision of this Agreement shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from this Agreement and shall not affect the validity and enforceability of any remaining provisions.
            %li
              %p Assignment.
              %p This Agreement and related Guidelines, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Simmr without restriction.
            %li
              %p Survival.
              %p Sections 3, 5, 6(d), 7, 8, 9, and 11 through 23 will survive any termination of this Agreement.  
            %li
              %p Headings.
              %p The heading references herein are for convenience purposes only, do not constitute a part of this Agreement, and shall not be deemed to limit or affect any of the provisions hereof.
            %li
              %p Entire Agreement.
              %p This is the entire agreement between us relating to the subject matter herein and shall be modified by a change to this Agreement or Guidelines made by Simmr as set forth in Section 3 above.  Simmr reserves the right to revise this Agreement from time to time, and will post the most current version at <a href = "http://www.simmr.co/home/tos">Terms</a>.  If Simmr determines that a revision is material, Simmr will notify Users via the e-mail associated with the User’s account.  By clicking to “Agree” to these terms, the User agrees to be bound by the revised Agreement.  
            %li
              %p Disclosures.
              %p The services hereunder are offered by Simmr, which may be contacted via mail at 1492 Pacific Avenue, San Francisco, CA 94109, email: <a href="mailto:hello@simmr.co">hello@simmr.co</a> or telephone: 415-939-4152.  Please contact us via e-mail if you want more information regarding the Site or to resolve a complaint.  If you are a California resident, we are required to inform you that you may reach the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs via mail at 1625 North Market Blvd., Suite N112, Sacramento, CA 95834 or telephone at (916) 445-1254 or (800) 952-5210. Hearing impaired users can reach the Complaint Assistance Unit at TDD (800) 326-2297 or TDD (916) 322-1700.


