<div class="container">
  <div class = 'row'>
    <div class = 'span10 offset1'>
      <h1>Ruh-roh ... it looks like we're in a pickle.</h1>
      <img src = '/assets/Pickle.png'>
      <p>Get me out of here!</p>
      <a href = "/home">Home</a>
      <a href = "/events">Events</a>
      <br>
      <a class = 'email' href="mailto:hello@simmr.co?Subject=AGH!!&body=I was trying to (FILL ME!) but I ended up in a pickle o_O" target="_top">Tell us about it</a>
    </div>
  </div>
</div>