= f.filepicker_field :image, :services => 'COMPUTER, WEBCAM, URL, FACEBOOK, INSTAGRAM, PICASA', openTo: 'COMPUTER', :mimetype => 'image/*', :button_text => 'Upload Image', :multiple => 'false', :container => 'modal'
%p
= f.input :title, :label => false, :placeholder => 'title'
= f.input :description, :label => false, :placeholder => 'caption', :as => 'string'