.row
  .event-time-and-date
    #{event.id} - #{event.date.strftime("%b %e")}
  .span5.event-image
    -if event.images.present?
      =filepicker_image_tag event.images.first.image
    -else
      =link_to image_tag("Food 17.jpg")
.row.event-first-row
  .span1.event-host-image
    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Host Name", "class" => "event-card-host-name"
  .span3.event-title
    %a{:href => "#"} #{event.title} 
  .span1.event-price
    %p $#{"%.2f" % event.cost}
.row.event-second-row
  .span4.event-progress
    %table
      %tr
        %td.event-seats-left 5 seats left
    .progress.progress-warning
      .bar{:style => "width: 60%;"}
  .span1.go-button
    %a.btn.btn-warning{:href => "#"} Go
    