%body.container.events
  .navbar.navbar-fixed-top  
    = render "layouts/header"

  .editevents
    %h1 Edit

    = render 'form'

    = link_to 'Show', @event
    \|
    = link_to 'Back', events_path