.events
  .event-profile
    #event-carousel.carousel.slide           
      .carousel-inner
        .active.item
          =image_tag "Food 17.jpg"
    .container
      .event-registration.row{'ng-controller' => 'EventEditCtrl'}
        .span1
        .span4
          .event-summary
            %h1
              {{event.title}}
            %h2 
              {{event.description}}
            %h2 Host Name
            %hr
            %h3 
              {{event.date}}
            %h3 Mission
            %p 
              {{event.people_limit}}
              seats left
            .progress.progress-warning
              .bar{:style => "width: 0%"}
            %select.number-of-seats
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Number of Seats
              -#{{event.min-seats}}.times do |s|
                -#%option{:value => s+1} #{s+1} seats
            %button.btn.btn-warning.event-go-button Go
            %table.event-sharing
              %tr
                %td
                  .btn.btn-warning 2nd
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.host-stats
                %td 
                %td 190
                %td 190
                %td Tell
              %tr.host-stat-labels
                %td event
                %td followers
                %td reviews
                %td a friend
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.black{title: 'Heart This'}
        .span1
        .span4 
          .event-edit-form.clearfix
            %input{'ng-model' => 'event.title', :type=>"text", :placeholder =>"Event Title"}
            %input{'ng-model' => 'event.description', :type=>"text", :placeholder =>"Blurb"}
            %input.event-date{'ng-model' => 'event.date', :type=>"date", :placeholder =>"Date"}
            %select.event-neighborhood#neighborhoods
              %option{'ng-model' => 'event.neighborhood',:disabled => "disabled", :selected => "selected", :value => ""} Neighborhood
            %input{'ng-model' => 'event.address',:type=>"text", :placeholder =>"Address"}
            %input.event-city{'ng-model' => 'event.city',:type=>"text", :placeholder =>"City"}
            %select#state
              %option{'ng-model' => 'event.state',:disabled => "disabled", :selected => "selected", :value => ""} State
            %input.ticket-price{'ng-model' => 'event.price',:type=>"number", :placeholder =>"Ticket Price"}
            %input.people-limit{'ng-model' => 'event.people_limit',:type=>"number", :placeholder =>"Seats"}
            %a.GetFilepicker.clearfix Upload Event Images
            %button.btn.btn-warning.standalone-button Update

  .container
    .row
      .span2.scroll-menu.event
        %ul.nav.nav-list.scroll-menu-items{"data-spy" => "affix", "data-offset-top" => "680", "data-offset-bottom"=> "150"}
          %li 
            %a{:href=>"#about"} Host Story
          %li 
            %a{:href=>"#menu"} Menu
      .span10
        .row.section-header#about
          .span10#host-story
            %a{:href => "#host-story", 'data-target'=>"#host-story-detail", 'data-toggle'=>"collapse"} Our Story <span class="caret collapsed"></span>
        .row.host-story
          .span10
            #host-story-accordion.accordion
              #host-story-detail.accordion-body.collapse.in
                .accordion-inner
                  %p
                    Host Story
      .row
        .span10.offset2
          .row.section-header#menu
            .span10#event-menu
              %a{:href => "#event-menu", 'data-target'=>"#event-menu-detail", 'data-toggle'=>"collapse"} The Menu <span class="caret collapsed"></span>
          .row.event-menu
            .span10
              #event-menu-accordion.accordion
                #event-menu-detail.accordion-body.collapse.in
                  .accordion-inner
                    %textarea{:placeholder => "Type your menu here", "rows"=>'3'}