.events
  .event-profile
    #event-carousel.carousel.slide         
      .carousel-inner
        -@event.images.each_with_index do |i, index|
          -if index == 0
            .item.active
              = filepicker_image_tag i.image
          -else
            .item
              = filepicker_image_tag i.image
    %ol.carousel-indicators
      -@event.images.each_with_index do |i, index|         
        -if index == 0
          %li.active{"data-target" => "#event-carousel", "data-slide-to" => index}
        -else
          %li{"data-target" => "#event-carousel", "data-slide-to" => index}
    .container
      .event-feedback.row{'ng-controller' => 'EventFeedbackCtrl'}
        .span1
        .span4
          .event-summary.clearfix
            %h1
              =@event.title
            %h2 
              =@event.description
            %h3#event-date
              =@event.date.strftime("%A %B %d, %I:%M%p")
              =@event.when
            %h3 Mission
            %table.feedback-actions
              %tr
                %td
                  %h3.point-action Thank you for attending!
                %td
                  .points.btn.event-attending-points +10
            %hr
            %table.feedback-actions
              %tr
                %td
                  %h3.point-action Fill out a quick survey
                %td
                  .points.btn.btn-warning.event-survey-button{'ng-click' => 'feedback=1'} +15
              %tr
                %td
                  %h3.point-action Write a Yelp Review
                %td
                  .btn.btn-warning.points.event-yelp-button{'ng-click' => 'feedback=2'} +20

            %table.event-sharing
              %tr
                %td 
                  .btn.btn-warning 2nd
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.host-stats
                %td 
                %td 190
                %td 190
                %td Tell
              %tr.host-stat-labels
                %td event
                %td followers
                %td reviews
                %td a friend
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.black
        .span1
        .span4 
          -#this needs to happen only when tickets >1
          .event-survey.clearfix{'ng-hide' => 'feedback!=1'}
            %h1 Survey
            %input.survey-question-1{:type=>'text', :placeholder =>"Custom Survey Question 1"}
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3'} Submit
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Never Mind

          .event-yelp.clearfix{'ng-show' => 'feedback==2'}
            %h1 Yelp Review
            %form{:'data-validate'=>"parsley"}
              %input.yelp-review-link{:type=>'url', :required => "required", :'data-trigger' => 'keyup', :placeholder =>"Paste Yelp Review Link Here"}
              %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3'} Submit
              %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Never Mind

          .point-ranking.clearfix{'ng-show' => 'feedback==3'}
            %h1 Leader Boards
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#friends-ranking"} Friends
              %li
                %a{"data-toggle" => "tab", :href => "#city-ranking"} City
              %li
                %a{"data-toggle" => "tab", :href => "#global-ranking"} Global
            #myTabContent.tab-content
              #friends-ranking.tab-pane.fade.active.in
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td Wendy
                    %td 5000
                  %tr.current-user-rank
                    %td 2
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td Wendy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td Wendy
                    %td 3000
              #city-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td SF Citizen
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td SF Citizen
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td SF Citizen
                    %td 3000
              #global-ranking.tab-pane.fade
                %table.point-ranking-table
                  %tr 
                    %td 1
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td Random Guy
                    %td 5000
                  %tr 
                    %td 2
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td Random Guy
                    %td 4000
                  %tr 
                    %td 3
                    %td 
                      =link_to image_tag("Favicon.png"), "#"
                    %td Random Guy
                    %td 3000
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=4'} Get More Points
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Done
              
          .more-points.clearfix{'ng-show' => 'feedback==4'}
            %h1 Get More Points
            %table.feedback-actions
              %tr
                %td
                  %h3.point-action Tell a Friend About Simmr - you'll get more points when they sign up and attend an event!
                %td
                  %a.btn.btn-warning.points.refer-friend-event-button{:href => "#"} +10
              %tr
                %td
                  %h3.point-action Attend Another Event
                %td
                  %a.btn.btn-warning.points.attend-another-event-button{:href => "/events"} +10
              %tr
                %td
                  %h3.point-action Start a Campaign
                %td
                  %a.points.btn.btn-warning.start-campaign-button{:href=>"/campaigns/new"} +10
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=0', 'ng-hide' => 'feedback==0'} Done
            %button.btn.btn-warning.standalone-button{'ng-click' => 'feedback=3'} Back to Leader Boards



        .span1
  .container
    .row.section-header
      .span12#host-story
        %a{:href => "#host-story", 'data-target'=>"#host-story-detail", 'data-toggle'=>"collapse"} Host Story <span class="caret collapsed"></span>
  .host-story
    .container
      .row
        .span1
        .span10
          #host-story-accordion.accordion
            #host-story-detail.accordion-body.collapse
              .accordion-inner
                %p
                  =@event.host.last_name
            -#=@event.host.profile.story
            -# Need to make sure a host story exists for that host before they can create the event...
        .span1 
  .container
    .row.section-header
      .span12#event-menu
        %a{:href => "#event-menu", 'data-target'=>"#event-menu-detail", 'data-toggle'=>"collapse"} The Menu <span class="caret collapsed"></span>
  .event-menu
    .container
      .row
        .span1
        .span10
          #event-menu-accordion.accordion
            #event-menu-detail.accordion-body.collapse
              .accordion-inner
                %p
                  =@event.menu_text
        .span1
  .container
    .row.section-header
      .span12#event-chatter
        %a{:href => "#event-chatter", 'data-target'=>"#event-chatter-detail", 'data-toggle'=>"collapse"} Chatter <span class="caret collapsed"></span>
  .event-chatter
    .container
      .row
        .span1
        .span10
          #event-chatter-accordion.accordion
            #event-chatter-detail.accordion-body.collapse.in
              .accordion-inner
                .row.attendees
                  .span12
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
                    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
                    -#
                      %p 
                        -for guest in @event.guests
                          = guest.first_name + " " + guest.last_name
                          %p
                .row.comments
                  .span12
                    %table
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                    %table.response-level1.offset1
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
                    %table.response-level2.offset2
                      %tr
                        %td
                          =link_to image_tag("Favicon.png"), "#"
                        %td
                          Comment blahblahblahblah
        .span1