%body.container.events
  .navbar.navbar-fixed-top  
    = render "layouts/header"


  .eventslist
    %h1 Recommended
    =render "layouts/singleevent"
    =render "layouts/singleevent"
    =render "layouts/singleevent"
    =render "layouts/singleevent"
    =render "layouts/singleevent"
    =render "layouts/singleevent"
    =render "layouts/singleevent"
    =render "layouts/singleevent"

  .filters
    %h4 Search
    %input{:placeholder => "search"}
    %h4 Sort
    %ul
      %li Recommended
      %li Highest Rated
      %li Newest
      %li Happening Soon
    %h4 Happening
    %input{:placeholder => "start date"}
    %br
    %input{:placeholder => "end date"}
    %h4 Price Range
    %ul
      %li $
      %li $$
      %li $$$
      %li $$$$
    %h4 Neighborhood
    %ul  
      %li Neighborhood 1
      %li Neighborhood 2
    %h4 Category
    %ul  
      %li Fine Dining
      %li Hands On
      %li Tasting
      %li Etc
    %h4 Tag
    %ul
      %li Popular Tag 1
      %li Popular Tag 2
    %input{:placeholder => "find tag"}
    
-#    %table 
-#      %tr
-#        %th Title
-#        %th Location
-#        %th People limit
-#        %th Description
-#        %th Menu pdf
-#        %th Menu text
-#        %th Date
-#        %th Cost
-#        %th Length
-#        %th Other Information

-#      - @events.each do |event|
-#        %tr
-#          %td= event.title
-#          %td= event.location_title
-#          %td= event.people_limit
-#          %td= event.description
-#          %td= event.menu_pdf
-#          %td= event.menu_text
-#          %td= event.date
-#          %td= event.cost
-#          %td= event.length
-#          %td= event.other_info
-#          %td= link_to 'Show', event
-#          %td= link_to 'Edit', edit_event_path(event)
-#          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

-#    = link_to 'New Event', new_event_path
