.events-index
  .events
    .container
      .row.section-header
        .span12.events-index-header
          %h1 Featured Events in San Francisco
    .container
      -all_events = @events
      -while all_events.length > 1
        -event = all_events.pop
        .row.events-row
          .span1
          .span5.single-event
            =render "events/singleevent", :event => event
          -event = all_events.pop
          .span5.single-event
            =render "events/singleevent", :event => event
          .span1
      -if all_events.length == 1
        -event = all_events.pop
        .row.events-row
          .span1
          .span5.single-event
            =render "events/singleevent", :event => event
          .span6
    .section
      .container
        .row.featured-events
          .span1
          .span10.events-index-content
            %p Don’t see your favorite? <a href = "/campaigns/new">Start a campaign (for an event)</a> or <a href = "/campaigns">join a campaign</a>
            %p How does it work?
            .row.how-it-works-campaign-infographic 
              .step
                %h1 launch
                .step-description
                  %p Don't see a favorite food business or chef? Launch a campaign to get 'em on Simmr! It takes just a couple of minutes.
              .step
                %h1 promote
                .step-description
                  %p Once your campaign is approved, spread the word and start recruiting people to join.
              .step
                %h1 tilt
                .step-description
                  %p Once you have 100 people, we will contact the restaurant or chef and bring them on!
          .span1
