.events-index
  .events
    .container
      .row.section-header
        .span12.events-index-header
          %h1 Featured Events in San Francisco
    .section.events-section
      .container
        .row.events-row-content
          .span12.events-index-content
            -if current_user.chef == true
              %p Check out other businesses we're hosting events with to get some ideas!
            - if current_user.chef == false
              %p Pick an event to go to!
    .container
      -all_events = @events
      -while all_events.length > 1
        -event = all_events.pop
        .row.events-row
          .span6.single-event
            =render "events/singleevent", :event => event
          -event = all_events.pop
          .span6.single-event
            =render "events/singleevent", :event => event
      -if all_events.length == 1
        -event = all_events.pop
        .row.events-row
          .span6.single-event
            =render "events/singleevent", :event => event
          .span6
    .section.events-section
      .container
        .row.events-row-content
          .span12.events-index-content
            %p Don’t see your favorite business? <a href = "/campaigns/new">Start a campaign</a> or <a href = "/campaigns">join a campaign</a> to get them to host events on Simmr!