=content_for :title, "Experiences"


.events-index#top{'ng-controller' => 'EventIndexCtrl'}
  -all_events = @events
  -upcoming_events = @events.where(:upcoming=>true)
  -non_upcoming_events=@events.where(:upcoming=>false)
  .events
    .container
      .row.section-header
        .span12.events-index-header
          %h1 Food Experiences in San Francisco
    .section.events-section
      .container
        .row.events-row-content
          .span2
          .span8.events-index-content
            -if current_user
              -if current_user.chef == true
                %p Look around and get some ideas!
                - if all_events.length == 0
                  %p No experiences! How 'bout setting one up?
              - if current_user.chef == false
                %p Pick an experience to go to!
                -if all_events.length == 0
                  %p No experiences! Sign up to stay up to date on future ones!
            -else
              %p Pick an experience to go to!
              -if all_events.length == 0
                %p No experiences! Sign up to stay up to date on future ones!
            .events-index-navigation
              %ul
                %li
                  %a{:href => '#live'} Current
                %li
                  %a{:href => '#new'} Preview Upcoming
                %li
                  %a{:href => '#ongoing'} Popular, Recurring
    .container
      .row.section-header
        .span12.events-index-section-title#live
          %h1 Current Experiences
    .section.events-section
      .container
        .row.events-row-content
          .span2
          .span8.events-index-content
            -if current_user
              -if current_user.chef == true
                %p Current experiences are selling tickets now! Look around and see what's happenin'.
              - if current_user.chef == false
                %p Current experiences are selling tickets now! Buy yours today before they sell out.
            -else
              %p Current experiences are selling tickets now! Buy yours today before they sell out.
    .container
      -potential_live_events=non_upcoming_events.dup
      -while potential_live_events.length > 1
        -event = potential_live_events.pop
        -if !event.happened?
          .row.events-row
            .span6.single-event
              =render "events/singleevent", :event => event
            -event = potential_live_events.pop
            -if !event.happened?
              .span6.single-event
                =render "events/singleevent", :event => event
      -if potential_live_events.length == 1
        -event = potential_live_events.pop
        -if !event.happened?
          .row.events-row
            .span6.single-event
              =render "events/singleevent", :event => event
            .span6

    .container
      .row.section-header
        .span12.events-index-section-title#new
          %h1 Preview Upcoming Experiences
    .section.events-section
      .container
        .row.events-row-content
          .span2
          .span8.events-index-content
            -if current_user
              -if current_user.chef == true
                %p Upcoming experiences are scheduled but not yet open for ticket sales. Follow (click on the heart) to get notified earlier than everybody else when ticket sales begin! 
                -# what would you make this language, Neeharika?
              - if current_user.chef == false
                %p Upcoming experiences are scheduled but not yet open for ticket sales. Follow (click on the heart) to get notified earlier than everybody else when ticket sales begin! 
            -else
              %p Upcoming experiences are scheduled but not yet open for ticket sales. Follow (click on the heart) to get notified earlier than everybody else when ticket sales begin! 
    .container
      -while upcoming_events.length > 1
        -event = upcoming_events.pop
        -if event.approved? && event.upcoming?
          .row.events-row
            .span6.single-event
              =render "events/singleevent", :event => event
            -event = upcoming_events.pop
            -if event.approved? && event.upcoming?
              .span6.single-event
                =render "events/singleevent", :event => event
      -if upcoming_events.length == 1
        -event = upcoming_events.pop
        -if event.approved? && event.upcoming?
          .row.events-row
            .span6.single-event
              =render "events/singleevent", :event => event
            .span6

    -potential_past_events = non_upcoming_events.dup
    .container
      .row.section-header
        .span12.events-index-section-title#ongoing
          %h1 Popular, Recurring Experiences
    .section.events-section
      .container
        .row.events-row-content
          .span2
          .span8.events-index-content
            -if current_user
              -if current_user.chef == true
                %p Recurring experiences have happened one or more times and have been really popular! Check out what's trending!
              - if current_user.chef == false
                %p Recurring experiences have happened one or more times and have been really popular! Put your name down for the next one -- the more names on the list, the sooner you can enjoy the experience.
            -else
              %p Recurring experiences have happened one or more times and have been really popular! Put your name down for the next one -- the more names on the list, the sooner you can enjoy the experience.
    .container
      -while potential_past_events.length > 1
        -event = potential_past_events.pop
        -if event.happened?
          .row.events-row
            .span6.single-event
              =render "events/singleevent", :event => event
            -event = potential_past_events.pop
            -if event.happened?
              .span6.single-event
                =render "events/singleevent", :event => event
      -if potential_past_events.length == 1
        -event = potential_past_events.pop
        -if event.happened?
          .row.events-row
            .span6.single-event
              =render "events/singleevent", :event => event
            .span6

            
    
    .section.events-section
      .container
        .row.events-row-content
          .span12.events-index-content
            -if current_user
              -if current_user.chef == true
                %p Get a sense? <a href = "/events/new">Set up</a> your experience today!
              -else
                %p Don’t see your favorite business or a cool experience you want to see happen? <a href = "/campaigns/new">Suggest an experience</a> or <a href = "/campaigns">vote up a suggested experience</a> to make it happen on Simmr!
            -else
              %p Don’t see your favorite business or a cool experience you want to see happen? <a href = "/campaigns/new">Suggest an experience</a> or <a href = "/campaigns">vote up a suggested experience</a> to make it happen on Simmr!
                
  %a.back-to-top{:href => '#top'}Back to Top