.events-index
  .events
    .container
      .row.section-header
        .span12.events-index-header
          %h1 Featured Events in San Francisco
    .container
      -all_events = @events
      -while all_events.length > 1
        -event = all_events.pop
        .row.events-row
          .span1
          .span5.single-event
            =render "events/singleevent", :event => event
          -event = all_events.pop
          .span5.single-event
            =render "events/singleevent", :event => event
          .span1
      -if all_events.length == 1
        -event = all_events.pop
        .row.events-row
          .span1
          .span5.single-event
            =render "events/singleevent", :event => event
          .span6
    .section
      .container
        .row.featured-events
          .span1
          .span10.events-index-content
            %p Don’t see your favorite? <a href = "/campaigns/new">Start a campaign (for an event)</a> or <a href = "/campaigns">join a campaign</a>
          .span1
