=content_for :title, "simmr | events"

.events-index
  .events
    .container
      .row.section-header
        .span12.events-index-header
          %h1 Featured Events in San Francisco
    .section.events-section
      .container
        .row.events-row-content
          .span2
          .span8.events-index-content
            -all_events = @events
            -if current_user
              -if current_user.chef == true
                %p Check out other businesses we're hosting events with to get some ideas!
              - if current_user.chef == false
                -if all_events.length == 0
                  %p Currently, there are no upcoming events. Be sure to sign up and we'll let you know as soon as we have one coming up!
                -else
                  %p Pick an event to go to!
                  %p Upcoming events are scheduled but aren't yet open for ticket sales, so follow (click on the heart) to get notified as soon as ticket sales begin!
            -else
              -if all_events.length == 0
                %p Currently, there are no upcoming events. Be sure to sign up and we'll let you know as soon as we have one coming up!
              -else
                %p Pick an event to go to! 
                %p Upcoming events are scheduled but aren't yet open for ticket sales, so follow (click on the heart) to get notified as soon as ticket sales begin!
          .span2
    .container
      -while all_events.length > 1
        -event = all_events.pop
        .row.events-row
          .span6.single-event
            =render "events/singleevent", :event => event
          -event = all_events.pop
          .span6.single-event
            =render "events/singleevent", :event => event
      -if all_events.length == 1
        -event = all_events.pop
        .row.events-row
          .span6.single-event
            =render "events/singleevent", :event => event
          .span6
    -if current_user
      .section.events-section
        .container
          .row.events-row-content
            .span12.events-index-content
              -if current_user.chef == true
                %p Get a sense? Set up your <a href = "/events/new">event</a> today!
              -else
                %p Don’t see your favorite business? <a href = "/campaigns/new">Start a campaign</a> or <a href = "/campaigns">join a campaign</a> to get them to host events on Simmr!