.events-index
  .events
    .container
      .row.section-header
        .span12.events-index-header
          %h1 Featured Events in San Francisco
    .container
      -all_events = @events
      -while all_events.length > 1
        -event = all_events.pop
        .row.events-row
          .span1
          .span5.single-event
            =render "events/singleevent", :event => event
          -event = all_events.pop
          .span5.single-event
            =render "events/singleevent", :event => event
          .span1
      -if all_events.length == 1
        -event = all_events.pop
        .row.events-row
          .span1
          .span5.single-event
            =render "events/singleevent", :event => event
          .span6
    .section
      .container
        .row.featured-events
          .span1
          .span10.events-index-content
            %p Don’t see your favorite? <a href = "/campaigns/new">Start a campaign (for an event)</a> or <a href = "/campaigns">join a campaign</a>
          .span1
          
-#    %table 
-#      %tr
-#        %th Title
-#        %th People limit
-#        %th Description
-#        %th Menu pdf
-#        %th Menu text
-#        %th Date
-#        %th Cost
-#        %th Length
-#        %th Other Information

-#      - @events.each do |event|
-#        %tr
-#          %td= event.title
-#          %td= event.people_limit
-#          %td= event.description
-#          %td= event.menu_pdf
-#          %td= event.menu_text
-#          %td= event.date
-#          %td= event.cost
-#          %td= event.length
-#          %td= event.other_info
-#          %td= link_to 'Show', event
-#          %td= link_to 'Edit', edit_event_path(event)
-#          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

-#    = link_to 'New Event', new_event_path
