.events
  .event-profile
    #event-carousel.carousel.slide           
      .carousel-inner
        -#TODO: not working...
        .the-images
      %a.carousel-control.right{"data-slide"=>"next", :href =>"#event-carousel"} >
    .container
      .event-registration.row{'ng-controller' => 'EventCreateCtrl'}
        .span1
        .span4
          .event-summary
            %h1#default-text{'ng-show'=>'event.title=="" || event.title==nil'}
              Event Title
            %h1 
              {{event.title}}
            %h2#default-text{'ng-show'=>'event.description=="" || event.description==nil'}
              Event Description
            %h2 
              {{event.description}}
            -#TODO CHANGE to current.user.profile.biz_name != nil once we require everyone to fill profile
            -if current_user.profile != nil
              %h2
                =current_user.profile.biz_name
            -else
              %h2#default-text
                Input Business Name on Profile
            %hr
            %h3#default-text{'ng-show'=>'event.date=="" || event.date==nil'}
              =Time.now().strftime("%A, %B %d, %l:%M%p")
            %h3 
              {{event.date}} {{event.when}}
            %h3#default-text{'ng-show'=>'event.neighborhood=="" || event.neighborhood==nil'}
              Neighborhood
            %h3
              {{event.neighborhood}}
            %p#default-text{'ng-show'=>'event.people_limit=="" || event.people_limit==nil'}
              0 seats left
            %p{'ng-hide'=>'event.people_limit=="" || event.people_limit==nil'}
              {{event.people_limit}}
              seats left
            .progress.progress-warning
              .bar{:style => "width: 0%"}
            %select.number-of-seats
              %option{:disabled => "disabled", :selected => "selected", :value => ""} Number of Seats
              -#{{event.min-seats}}.times do |s|
                -#%option{:value => s+1} #{s+1} seats
            %button.btn.btn-warning.event-go-button Go
            %table.event-sharing
              %tr
                %td
                  .btn.btn-warning 2nd
                %td
                  %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
                %td
                  %a.sb.share_this.circle.no-border.no-shadow.orange{:href=>"#"}
              %tr.host-stats
                %td 
                %td 190
                %td 190
                %td Tell
              %tr.host-stat-labels
                %td event
                %td followers
                %td reviews
                %td a friend
        .span1.heart_this
          %a.sb.heart.circle.no-border.no-shadow.black{title: 'Heart This'}
        .span1
        .span4 
          %form.event-create-form.clearfix{'ng-init'=> "event.host_id=#{current_user.id}", :name => "event_create"}
            
            %input#event-title{'ng-model' => 'event.title', :type=>"text", :placeholder =>"Event Title", :name => "event_title", :required => "required", 'ng-class' => "{error: event_create.event_title.$invalid}", :maxlength => "60"}
            
            %textarea#event-blurb{:rows => "2", 'ng-model' => 'event.description', :type=>"text", :placeholder =>"Event Blurb - you get the length of a tweet. Make it sexy ;)", :name => "event_blurb", :maxlength => "140", :required => "required", 'ng-class' => "{error: event_create.event_blurb.$invalid}"}

            #event-ticket-details
              .input-prepend
                %span.add-on $
                %input#prependedInput#ticket-cost{'ng-model' => 'event.cost',:type=>"text", :required => "required", :name => "event_cost", 'ng-pattern' => '/^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})?$/', 'ng-class' => "{error: event_create.event_cost.$invalid}", :placeholder => "Ticket Price"}

              %input#people-limit{'ng-model' => 'event.people_limit',:type=>"text", :name => "event_limit", 'ng-pattern' => '/^[0-9]+$/', :required => "required", 'ng-class' => "{error: event_create.event_limit.$invalid}", :placeholder => "Number of Seats"}
              
              .help-block-white{'ng-show' => 'event_create.event_cost.$error.pattern'} Please enter a valid event cost
              .help-block-white{'ng-show' => 'event_create.event_limit.$error.pattern'} Please enter a valid number of seats

            %button.GetFilepicker.clearfix.btn#event-images-button Upload Images

            %button.clearfix.btn#event-menu-button Upload Menu
            
            %hr

            #event-date-time
              %p Date and Time
              %input#event-date{'ng-model' => 'event.date', :type=>"date", :name => "event_date", :required => "required", :min => '{{today}}', 'ng-class' => "{error: event_create.event_date.$invalid}"}

              %select#times{'ng-model' => 'event.when', :name => "event_when", :required => "required", 'ng-class' => "{error: event_create.event_when.$invalid}"}

            #event-location
              %p Location (guests see full address after purchase)

              %select#neighborhoods{'ng-model' => 'event.neighborhood', :required => "required", :name => "event_neighborhood", 'ng-class' => "{error: event_create.event_neighborhood.$invalid}"}

              %input#event_address{'ng-model' => 'event.location.address1',:type=>"text", :placeholder =>"Address", :required => "required", :name => "event_address", 'ng-class' => "{error: event_create.event_address.$invalid}"}

              %input#event-city{'ng-model' => 'event.location.city',:type=>"text", :placeholder =>"City", :required => "required", :name => "event_city", 'ng-class' => "{error: event_create.event_city.$invalid}"}
  
              %select#state{'ng-model' => 'event.location.state', :required => "required", :name => "event_state", 'ng-class' => "{error: event_create.event_state.$invalid}"}

              %input#event-zipcode{'ng-model' => 'event.location.zipcode',:type=>"text", :maxlength => "5", :required => "required", 'ng-pattern' => '/^[0-9]+$/', :name => "event_zip", 'ng-class' => "{error: event_create.event_zip.$invalid}", :placeholder => "Zipcode"}

              .help-block-white{'ng-show' => 'event_create.event_zip.$error.pattern'} Please enter a valid zip code

            .help-block-white{'ng-show' => 'event_create.event_title.$error.required || event_create.event_blurb.$error.required || event_create.event_date.$error.required || event_create.event_when.$error.required || event_create.event_neighborhood.$error.required || event_create.event_address.$error.required || event_create.event_city.$error.required || event_create.event_state.$error.required || event_create.event_zip.$error.required || event_create.event_cost.$error.required || event_create.event_limit.$error.required'} All fields are required

            %button.btn.btn-warning.standalone-button#submit{'ng-click' => 'createEvent(event)', 'ng-disabled' => 'event_create.$invalid'} Create Event

          .event-create-confirmation{'ng-show' => 'created'}
            %h2 Thanks! You'll get an email when your event is approved and public. While you're waiting, make a video or upload more pictures? Or <a href = "/events"> browse </a> other events for cool ideas!

  .container
    .row
      .span2.scroll-menu.event
        %ul.nav.nav-list.scroll-menu-items{"data-spy" => "affix", "data-offset-top" => "680", "data-offset-bottom"=> "150"}
          %li 
            %a{:href=>"#about"} Host Story
          %li 
            %a{:href=>"#menu"} Menu
          %li   
            %a{:href=>"#chatter"} Chatter
      .span10
        .row.section-header#about
          .span10#host-story
            %a{:href => "#host-story", 'data-target'=>"#host-story-detail", 'data-toggle'=>"collapse"} Our Story <span class="caret collapsed"></span>
        .row.host-story
          .span10
            #host-story-accordion.accordion
              #host-story-detail.accordion-body.collapse.in
                .accordion-inner
                  %p
                    Host Story
      .row
        .span10.offset2
          .row.section-header#menu
            .span10#event-menu
              %a{:href => "#event-menu", 'data-target'=>"#event-menu-detail", 'data-toggle'=>"collapse"} The Menu <span class="caret collapsed"></span>
          .row.event-menu
            .span10
              #event-menu-accordion.accordion
                #event-menu-detail.accordion-body.collapse.in
                  .accordion-inner
                    Uploaded Menu
          .row.section-header#chatter
            .span10#event-chatter
              %a{:href => "#event-chatter", 'data-target'=>"#event-chatter-detail", 'data-toggle'=>"collapse"} Sample Chatter <span class="caret collapsed"></span>
              %ul
                %li 
                  %a{:href=>"#"} Hide Participants
                %li 
                  %a{:href=>"#"} Turn Off Chatter
          .row.event-chatter
            .span10
              #event-chatter-accordion.accordion
                #event-chatter-detail.accordion-body.collapse.in
                  .accordion-inner
                    .row.attendees
                      .span10
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Wendy Lin", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Neeharika Bharitya", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Ziyan Chu", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Christine Lee", "class" => "one-attendee", "data-placement" => "bottom"
                        =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Michael Makarov", "class" => "one-attendee", "data-placement" => "bottom"
                        -#
                          %p 
                            -for guest in @event.guests
                              = guest.first_name + " " + guest.last_name
                              %p
                    .row.comments
                      .span10
                        %table
                          %tr
                            %td
                              =link_to image_tag("Favicon.png"), "#"
                            %td
                              Comment blahblahblahblah
                          %tr
                            %td
                              =link_to image_tag("Favicon.png"), "#"
                            %td
                              Comment blahblahblahblah
                        %table.response-level1.offset1
                          %tr
                            %td
                              =link_to image_tag("Favicon.png"), "#"
                            %td
                              Comment blahblahblahblah
                        %table.response-level2.offset2
                          %tr
                            %td
                              =link_to image_tag("Favicon.png"), "#"
                            %td
                              Comment blahblahblahblah
