%body.container.events
  .navbar.navbar-fixed-top 
    = render "layouts/header"

  .eventProfile
    %table
      %tr
        %td.eventTitle
          %h1 4 Course "Liberty Duck" Dinner with Chefs
        %td.eventInfo
          %p Date
      %tr.bottom
        %td.seatsleft{:colspan => "2"}
          5 seats left
          .progress.progress-warning
            .bar{:style => "width: 60%;"}
  .purchaseBox
  .purchaseForm
