%body.container.events
  .navbar.navbar-fixed-top 
    = render "layouts/header"

  .eventRequest
    %h3 Don't see your favorite food business on Simmr? Request an event! The more people join your campaign, the more likely the event is to happen.
    %input{:placeholder => "Restaurant Name"}
    %input{:placeholder => "Why should others join your request campaign?"}
    .btn.btn-warning Launch Campaign
