%body.container.events
  .navbar.navbar-fixed-top 
    = render "layouts/header"

  .eventProfile
    %table
      %tr
        %td.eventTitle
          %h1 4 Course "Liberty Duck" Dinner with Chefs
        %td.restoSocial
          %p 198 Followers
      %tr
        %td.restoOwners
          %h3 Jonathan Sutton and Tony Ferrari
        %td.restoReviews
          %p image of stars
          %p 224 reviews
      %tr
        %td.eventPhotos
          =image_tag "Food 6.jpg"
        %td.eventInfo
          %p Date
          %p $120
          %p Description
          %p Other info
      %tr.bottom
        %td.seatsleft{:colspan => "2"}
          5 seats left
          .progress.progress-warning
            .bar{:style => "width: 60%;"}
        %td.action
          .btn.btn-warning Go!
    .eventMenu
      %h2 Events (3)
      %p No current events! Request one now?
      = render "layouts/singleevent"
      = render "layouts/singleevent"     
      = render "layouts/singleevent"
    .chatter
