.fb-like{"data-font" => "arial", "class" => "fblike", "data-href" => "https://www.facebook.com/mainstproject", "data-send" => "true", "data-show-faces" => "true", "data-width" => "200"}

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=141737092659629";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));