= simple_form_for([@event, @ticket]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :num_guests, label: 'Guests', collection: ['0','1','2','3'], default: '0'
    -# need to add some javascript to make guest form appear here if the number of guests is more than 0

  .form-actions
    = f.button :submit
