.email-template
  %table
    %tr
      %td.logo{:align => 'center'}
        %a{:href => 'http://www.simmr.co'}
          =image_tag "beta_logo_final.png"
  %table.welcome
    %tr
      %td.welcome-copy
        %p Nooooo so close! Sometimes good ideas come at the wrong times...maybe the time is right now?
    %tr
      %td.business-actions{:align => 'center'}
        %button.btn.btn-warning Try Again
  %table.single-event
    %tr
      %td{:align => 'center'}
        -#
          -if campaign.images.present?
            =link_to (image_tag campaign.images.first.image), campaign_path(campaign)
          -else
        =link_to image_tag("Food 26.jpg")
    %tr.campaign-info
      %td
        Campaign Title

  %table.footer
    %tr.social-media
      %td{:align => 'center'}
        %a.sb.facebook.circle.no-border.no-shadow{:href => "http://www.facebook.com/simmrco"}
      %td{:align => 'center'}
        %a.sb.twitter.circle.no-border.no-shadow{:href => "http://www.twitter.com/simmrco"}