.email-template
  %table
    %tr
      %td.logo{:align => 'center'}
        %a{:href => 'http://www.simmr.co'}
          =image_tag "beta_logo_final.png"
  %table.welcome
    %tr
      %td.welcome-copy
        %p Thanks for attending NAME OF EVENT! 
        %p Did you have a good time? Businesses depend on loyal customers like you who return and help spread the word! 
        %p You can also collect Simmr points for leaving feedback, and points mean more insider perks!
    %tr
      %td.business-actions{:align => 'center'}
        %button.btn.btn-warning Get My Points!


  %table.footer
    %tr.social-media
      %td{:align => 'center'}
        %a.sb.facebook.circle.no-border.no-shadow{:href => "http://www.facebook.com/simmrco"}
      %td{:align => 'center'}
        %a.sb.twitter.circle.no-border.no-shadow{:href => "http://www.twitter.com/simmrco"}