.email-template
  %table
    %tr
      %td.logo{:align => 'center'}
        %a{:href => 'http://www.simmr.co'}
          =image_tag "beta_logo_final.png"
  %table.welcome
    %tr
      %td.welcome-copy
        %p Thank you for registering to attend EVENT NAME. The event is NUMBER OF SEATS away from tilting - share with your friends to make sure the event happens! If you get X people to sign up, your ticket is on us. 
    %tr
      %td.upcoming-events{:align => 'center'}
        %button.btn.btn-warning Share Event
        %button.btn.btn-warning Check Out Similar Events

  %table.footer.change-pass
    %tr.social-media
      %td{:align => 'center'}
        %a.sb.facebook.circle.no-border.no-shadow{:href => "http://www.facebook.com/simmrco"}
      %td{:align => 'center'}
        %a.sb.twitter.circle.no-border.no-shadow{:href => "http://www.twitter.com/simmrco"}