.email-template
  %table
    %tr
      %td.logo{:align => 'center'}
        %a{:href => 'http://www.simmr.co'}
          =image_tag "beta_logo_final.png"
  %table.welcome
    %tr
      %td.welcome-copy
        %p NAME OF EVENT is almost here! Just show up at the door day of and give your name!
  %table.single-event
    %tr
      %td{:align => 'center', :colspan => '3'}
        -#
          -if event.covers.present?
            =link_to (image_tag event.covers.first.image), event_path(event)
          -else
        =link_to image_tag("Food 26.jpg")
    %tr.event-info
      %td
        %p Name of Event
      %td
        %p Time of Event
      %td
        %p Location of Event
    %tr
      %td.business-actions{:align => 'center', :colspan => '3'}
        %button.btn.btn-warning View Event Details


  %table.footer
    %tr.social-media
      %td{:align => 'center'}
        %a.sb.facebook.circle.no-border.no-shadow{:href => "http://www.facebook.com/simmrco"}
      %td{:align => 'center'}
        %a.sb.twitter.circle.no-border.no-shadow{:href => "http://www.twitter.com/simmrco"}