.email-template
  %table
    %tr
      %td.logo{:align => 'center'}
        %a{:href => 'http://www.simmr.co'}
          =image_tag "beta_logo_final.png"
  %table.welcome
    %tr
      %td.welcome-copy
        %p
          Don't worry, we gots you!

        %p
          Somebody asked to reset your password. If it's not you, please ignore this!

    %tr
      %td.change-pass{:align => 'center'}
        %button.btn.btn-warning Change Password

  %table.footer
    %tr.social-media
      %td{:align => 'center'}
        %a.sb.facebook.circle.no-border.no-shadow{:href => "http://www.facebook.com/simmrco"}
      %td{:align => 'center'}
        %a.sb.twitter.circle.no-border.no-shadow{:href => "http://www.twitter.com/simmrco"}
