.container{'ng-controller' => "SurveyCtrl"}
  .row
    .span12.foodie-quiz
      %h1 What's Your Food Style
      %p Take the quiz to discover your foodie profile in just a few minutes!
  .row
    .span4
      %input{:type => "text", :placeholder =>"Home Zip"}
      %input{:type => "text", :placeholder =>"Work Zip"}
      %a.why-zip{:href => "#", "data-toggle" => "tooltip", :title => "So we can better recommend lunch and dinner events near you!", "data-placement" => "right"} <sup> Why? </sup>

  .row{'ng-show'=>'currentQuestion>3'}
    .span12.question
      %h2 {{questions[currentQuestion].text}}
      .row
        .span4.single-visual-answer
          .row
            .span4.answer-image
              =link_to image_tag("{{questions[currentQuestion].answers[0].image}}"), "javascript:;"
          .row.answer
            .span4.answer-caption
              %h3 {{questions[currentQuestion].answers[0].answer}}
        .span4.single-visual-answer
          .row
            .span4.answer-image
              =link_to image_tag("{{questions[currentQuestion].answers[1].image}}"), "javascript:;"
          .row.answer
            .span4.answer-caption
              %h3 {{questions[currentQuestion].answers[1].answer}}
        .span4.single-visual-answer
          .row
            .span4.answer-image
              =link_to image_tag("{{questions[currentQuestion].answers[2].image}}"), "javascript:;"
          .row.answer
            .span4.answer-caption
              %h3 {{questions[currentQuestion].answers[2].answer}}
      .row
        .span4.single-visual-answer
          .row
            .span4.answer-image
              =link_to image_tag("{{questions[currentQuestion].answers[3].image}}"), "javascript:;"
          .row.answer
            .span4.answer-caption
              %h3 {{questions[currentQuestion].answers[3].answer}}
        .span4.single-visual-answer
          .row
            .span4.answer-image
              =link_to image_tag("{{questions[currentQuestion].answers[4].image}}"), "javascript:;"
          .row.answer
            .span4.answer-caption
              %h3 {{questions[currentQuestion].answers[4].answer}}
        .span4.single-visual-answer
          .row
            .span4.answer-image
              =link_to image_tag("{{questions[currentQuestion].answers[5].image}}"), "javascript:;"
          .row.answer
            .span4.answer-caption
              %h3 {{questions[currentQuestion].answers[5].answer}}
  .row
    .span12.question{'ng-hide'=>'currentQuestion>3'}
      %h2 {{questions[currentQuestion].text}}
      .row
        .span4.single-visual-answer-range
          =render "layouts/visualanswerlow"
        .span4
          %slider.answer-slider{:ceiling => "50", :floor => "-50", "ng-model" => "answers[currentQuestion].level", :precision => "0", :step => "10"}
        .span4.single-visual-answer-range
          =render "layouts/visualanswerhigh"
  .row
    .span12.navigation-buttons.clearfix
      %button.btn.btn-inverse{'ng-click' => 'prevQuestion()', 'ng-disabled'=>'beginning'} Previous
      %button.btn.btn-warning.pull-right{'ng-disabled'=>'!done'} Submit
      %button.btn.btn-inverse.pull-right{'ng-click' => 'nextQuestion()', 'ng-disabled' => 'end'} Next
  .row
    .span2
    .span8.quiz-progress
      .progress.progress-warning
        <div class = "bar" style = "width: {{progress}}%"> </div>
    .span2

-#
  .row
    .span12
      =form_for UserAnswer.new do
        -@questions.each do |q|
          .question
          -if q.survey_answers.empty?
            %b
              =q.topic
            %p
            %input{:type => 'checkbox', :name => "user_answers[#{q.id}]"}
            =q.question
            %p
          -else
            %b
              =q.topic
            %p
            =q.question
            %select{:name => "user_answers[#{q.id}]"}
              -q.survey_answers.each do |a|
                %option
                  =a.text
            %p
        %button.secondary.button Send data

