MainStreet offers many cool investment opportunities, but in order to protect you, the investor, we only show some deatils to Accredited Investors.

Not accredited? No problem. You can fund your favorite local businesses by pre-paying your purchases (and get a 5% bonus!).

Accrediation Questionaire
=form_for UserAnswer.new do
  -@questions.each do |q|
    .question
    -if q.survey_answers.empty?
      %b
        =q.topic
      %p
      %input{:type => 'checkbox', :name => "user_answers[#{q.id}]"}
      =q.question
      %p
    -else
      %b
        =q.topic
      %p
      =q.question
      %select{:name => "user_answers[#{q.id}]"}
        -q.survey_answers.each do |a|
          %option
            =a.text
      %p
  %button.secondary.button Send data

