MainStreet offers many cool investment opportunities, but in order to protect you, the investor, we only show some deatils to Accredited Investors.

Not accredited? No problem. You can fund your favorite local businesses by pre-paying your purchases (and get a 5% bonus!).

Accrediation Questionaire
=form_for '/survey' do
  -@questions.each do |q|
    .question
      %input{:type => 'checkbox', :name => "answers[#{q.id}]"}
      =q.question
  %button.secondary.button Send data

