Simmr = angular.module('Simmr', ['uiSlider', 'ngResource', 'rails', 'ui', 'ui.bootstrap'])

window.WAH ||= {}
WAH.controllers ||= {}

Simmr.factory "Follow", ["railsResourceFactory", (railsResourceFactory) ->
  railsResourceFactory
    url: "/api/follows"
    name: "follow"
]

Simmr.directive "heart", ->
  {
  restrict: 'E'
  scope:
    followableType: "="
    followableId: "="
    userId: "="
  templateUrl: "<%= asset_path('templates/heart.html') %>"
  }

Simmr.controller "HeartCtrl", ["$scope",  "$routeParams", "Follow", ($scope, $routeParams, Follow) ->
  $scope.follow = ->
    $('.heart.follow').toggleClass("black").toggleClass("orange")
    console.log($scope)
    console.log($scope.wah)
]

Simmr.controller "HomeIndexCtrl", ["$scope",  "$routeParams", ($scope, $routeParams) ->
  
]

Simmr.factory "Event", ["railsResourceFactory", (railsResourceFactory) -> railsResourceFactory
    url: "/api/events"
    name: "event"
]

Simmr.factory "Charge", ["railsResourceFactory", (railsResourceFactory) ->
  railsResourceFactory
    url: "/api/charges"
    name: "charge"
]

Simmr.controller "EventRegisterCtrl", ["$scope",  "$routeParams", "$location", "Charge", "Event", ($scope, $routeParams, $location, Charge, Event) ->
  $scope.guests = []

  $scope.guest = {}
  $scope.guest.name = ''
  $scope.guest.email = ''
  $scope.buyer = {}

  $scope.mapUrl = ->
    mapUrl = "http://maps.google.com/?q=#{$scope.address1},#{$scope.city}, #{$scope.state},#{$scope.zipcode}"

  $scope.total = ->
    total = $scope.num_guests * $scope.cost
    total = total.toFixed(2)

  $scope.showPayment = ->
    $scope.guests = []
    $scope.guest_no_pages = 0
    if $scope.num_guests > 0
      $scope.currentUser.name = $scope.currentUser.first_name + ' ' + $scope.currentUser.last_name
      $scope.guests.push($scope.currentUser)
      i = 0
      
      while i < $scope.num_guests - 1
        $scope.guests.push({})
        i++

    $scope.payment = 1

  $scope.gotoPayment = ->
    error = 0
    angular.forEach($scope.guests, (guest) =>
      if typeof guest.name is 'undefined' || typeof guest.email is 'undefined'
        error = 1
    )
    if error == 0
      $scope.payment = 2 

  $scope.submitPayment = ->    
    $scope.submitCard($scope.card)

  $scope.card =
    number: ""
    expMonth: ""
    expYear: ""
    cvc: ""

  $scope.data = {}
  $scope.submitCard = (card) ->
    Stripe.createToken card, (status, response) ->
      if status is 200
        console.log response
        $scope.data.last4 = response.card.last4
        $scope.data.token = response.id
        $scope.data.guests = $scope.guests
        $scope.data.buyer = $scope.buyer
        $scope.data.eventId = $scope.eventId
        new Charge($scope.data).create().then (data) =>
          console.log data, "~~~~~~~~~~"
          if data.status == "Success"
            $scope.payment = 3
      else
        console.log response
]

Simmr.controller "EventCreateCtrl", ["$scope",  "$routeParams", "$location", "Event", ($scope, $routeParams, $location, Event) ->
  $scope.created = false
  $scope.imageUrls = []
  $scope.event = []
  $scope.today = moment().format("YYYY-MM-DD")

  $scope.eventDate = ->
    moment($scope.event.date).format("dddd, MMMM D")
  
  $scope.eventEndTime = ->
    $scope.datetime = moment($scope.event.date, "DDDD, MMM D")
    $scope.datetime = moment($scope.event.time,  "h:mm A")
    console.log($scope.datetime)
    $scope.datetime.add(moment.duration($scope.event.length, 'minutes')).format('h:mm A')
  
  $scope.createEvent = (event) ->
    new Event(event).create().then (data) =>
      console.log data, "~~~~~~~~~~"
      $scope.created = true

  $scope.uploadImages = ->
    filepicker.pickAndStore
      mimetypes: ["image/*", "text/plain"]
      services: ["COMPUTER", "FACEBOOK", "GMAIL", "INSTAGRAM"]
      multiple: true
    ,
      location: "S3"
      path: '/simmreventimages/'
    , (InkBlobs) ->
      console.log JSON.stringify(InkBlobs)

      i=0
      while i< Object.keys(InkBlobs).length
        $scope.image="https://s3.amazonaws.com/#{InkBlobs[i].key}"
        console.log $scope.image
        $scope.imageUrls.push($scope.image)
        $('.active.item').remove()
        $('.carousel-inner').empty()
        if i == 0
          filepicker.read InkBlobs[i].url,
            base64encode: true
          , (imgdata) ->
            $('.events .carousel-inner').append("<div class = 'item active'><img src = 'data:image/*;base64,#{imgdata}'></div>")
        else
          filepicker.read InkBlobs[i].url,
            base64encode: true
          , (imgdata) ->
            $('.events .carousel-inner').append("<div class = 'item'><img src = 'data:image/*;base64,#{imgdata}'></div>")
        i++
        $('.event-profile').append("<a class = 'carousel-control left hidden-phone' data-slide = 'prev' href = '#event-carousel'> < </a><a class = 'carousel-control right hidden-phone' data-slide = 'next' href = '#event-carousel'> > </a>")
]

Simmr.controller "EventIndexCtrl", ["$scope",  "$routeParams", "$location", "Event", ($scope, $routeParams, $location, Event) ->

]

Simmr.controller "EventEditCtrl", ["$scope",  "$routeParams", "$location", "Event", ($scope, $routeParams, $location, Event) ->
  $scope.getEvent = (eventId) ->
    console.log Event
    Event.get(id: eventId).then (result) ->
      $scope.event = result
      console.log $scope.event, "++++++"

  $scope.today = moment().format("YYYY-MM-DD")
  $scope.imageUrls = []

  $scope.eventDate = ->
    moment($scope.event.date).format("dddd, MMMM D")

  $scope.eventTime = ->
    moment($scope.event.time).format("h:mm A")
  
  $scope.eventEndTime = ->
    $scope.datetime = moment($scope.event.date, "DDDD, MMM D")
    $scope.datetime = moment($scope.event.time,  "h:mm A")
    console.log($scope.datetime)
    $scope.datetime.add(moment.duration($scope.event.length, 'minutes')).format('h:mm A')
    
  $scope.uploadImages = ->
    filepicker.pickAndStore
      mimetypes: ["image/*", "text/plain"]
      services: ["COMPUTER", "FACEBOOK", "GMAIL", "INSTAGRAM"]
      multiple: true
    ,
      location: "S3"
      path: '/simmreventimages/'
    , (InkBlobs) ->
      console.log JSON.stringify(InkBlobs)

      i=0
      while i< Object.keys(InkBlobs).length
        $scope.image="https://s3.amazonaws.com/#{InkBlobs[i].key}"
        console.log $scope.image
        $scope.imageUrls.push($scope.image)
        $('.active.item').remove()
        $('.carousel-inner').empty()
        if i == 0
          filepicker.read InkBlobs[i].url,
            base64encode: true
          , (imgdata) ->
            $('.events .carousel-inner').append("<div class = 'item active'><img src = 'data:image/*;base64,#{imgdata}'></div>")
        else
          filepicker.read InkBlobs[i].url,
            base64encode: true
          , (imgdata) ->
            $('.events .carousel-inner').append("<div class = 'item'><img src = 'data:image/*;base64,#{imgdata}'></div>")
        i++
        $('.event-profile').append("<a class = 'carousel-control left hidden-phone' data-slide = 'prev' href = '#event-carousel'> < </a><a class = 'carousel-control right hidden-phone' data-slide = 'next' href = '#event-carousel'> > </a>")

  $scope.editEvent = (event) ->
    new Event(event).update().then (data) =>
      window.a=data
      $scope.event=data
      window.location.href = '/events/'+data.id
]

Simmr.controller "EventFeedbackCtrl", ["$scope",  "$routeParams", "$location", ($scope, $routeParams, $location) ->

  $scope.feedback=1
  $scope.mapUrl = ->
    mapUrl = "http://maps.google.com/?q=#{$scope.address1},#{$scope.city}, #{$scope.state},#{$scope.zipcode}"
]

Simmr.factory "Campaign", ["railsResourceFactory", (railsResourceFactory) ->
  railsResourceFactory
    url: "/api/campaigns"
    name: "campaign"
]

Simmr.controller "CampaignCreateCtrl", ["$scope", "$window", "$routeParams", "$location", "Campaign", ($scope, $window, $routeParams, $location, Campaign) ->
  $scope.createCampaign = (campaign) ->
    new Campaign(campaign).create().then (data) =>
      console.log data, "~~~~~~~~~~"
      $scope.campaign = 1
      $window.location.href='/campaigns/'

  $scope.imageUrls = []

  $scope.uploadImages = ->
    filepicker.pickAndStore
      mimetypes: ["image/*", "text/plain"]
      services: ["COMPUTER", "FACEBOOK", "GMAIL", "INSTAGRAM"]
      multiple: true
    ,
      location: "S3"
      path: '/simmreventimages/'
    , (InkBlobs) ->
      console.log JSON.stringify(InkBlobs)

      i=0
      while i< Object.keys(InkBlobs).length
        $scope.image="https://s3.amazonaws.com/#{InkBlobs[i].key}"
        console.log $scope.image
        $scope.imageUrls.push($scope.image)
        $('.active.item').remove()
        $('.carousel-inner').empty()
        if i == 0
          filepicker.read InkBlobs[i].url,
            base64encode: true
          , (imgdata) ->
            $('.campaigns .carousel-inner').append("<div class = 'item active'><img src = 'data:image/*;base64,#{imgdata}'></div>")
        else
          filepicker.read InkBlobs[i].url,
            base64encode: true
          , (imgdata) ->
            $('.campaigns .carousel-inner').append("<div class = 'item'><img src = 'data:image/*;base64,#{imgdata}'></div>")
        i++
        $('.campaign-profile').append("<a class = 'carousel-control left hidden-phone' data-slide = 'prev' href = '#campaign-carousel'> < </a><a class = 'carousel-control right hidden-phone' data-slide = 'next' href = '#campaign-carousel'> > </a>")
]

Simmr.controller "CampaignEditCtrl", ["$scope",  "$routeParams", "$location", "Campaign", ($scope, $routeParams, $location, Campaign) ->
  $scope.getCampaign = (campaignId) ->
    console.log campaignId
    Campaign.get(id: campaignId).then (result) ->
      console.log result, "++++++++"
      $scope.campaign = result
  $scope.editCampaign = (campaign) ->
    new Campaign(campaign).update().then (data) =>
      window.a=data
      $scope.campaign=data
      window.location.href = '/campaigns/'+data.id

  $scope.imageUrls = []

  $scope.uploadImages = ->
    filepicker.pickAndStore
      mimetypes: ["image/*", "text/plain"]
      services: ["COMPUTER", "FACEBOOK", "GMAIL", "INSTAGRAM"]
      multiple: true
    ,
      location: "S3"
      path: '/simmreventimages/'
    , (InkBlobs) ->
      console.log JSON.stringify(InkBlobs)

      i=0
      while i< Object.keys(InkBlobs).length
        $scope.image="https://s3.amazonaws.com/#{InkBlobs[i].key}"
        console.log $scope.image
        $scope.imageUrls.push($scope.image)
        $('.active.item').remove()
        $('.carousel-inner').empty()
        if i == 0
          filepicker.read InkBlobs[i].url,
            base64encode: true
          , (imgdata) ->
            $('.campaigns .carousel-inner').append("<div class = 'item active'><img src = 'data:image/*;base64,#{imgdata}'></div>")
        else
          filepicker.read InkBlobs[i].url,
            base64encode: true
          , (imgdata) ->
            $('.campaigns .carousel-inner').append("<div class = 'item'><img src = 'data:image/*;base64,#{imgdata}'></div>")
        i++
        $('.campaign-profile').append("<a class = 'carousel-control left hidden-phone' data-slide = 'prev' href = '#campaign-carousel'> < </a><a class = 'carousel-control right hidden-phone' data-slide = 'next' href = '#campaign-carousel'> > </a>")
]

