Simmr = angular.module('Simmr', ['uiSlider', 'ngResource', 'rails', 'ui', 'ui.bootstrap'])

window.WAH ||= {}
WAH.controllers ||= {}

Simmr.factory "Follow", ["railsResourceFactory", (railsResourceFactory) ->
  railsResourceFactory
    url: "/api/follows"
    name: "follow"
]

Simmr.directive "heart", ->
  {
  restrict: 'E'
  scope:
    followableType: "="
    followableId: "="
    userId: "="
  templateUrl: "<%= asset_path('templates/heart.html') %>"
  }

Simmr.controller "HeartCtrl", ["$scope",  "$routeParams", "Follow", ($scope, $routeParams, Follow) ->
  $scope.follow = ->
    $('.heart.campaign-follow').toggleClass("orange").toggleClass("black")
    $('.heart.follow').toggleClass("orange")
    $scope.appear = "followers"
    console.log($scope)
    console.log($scope.wah)
]

Simmr.controller "HomeIndexCtrl", ["$scope",  "$routeParams", ($scope, $routeParams) ->
  
]

Simmr.factory "Event", ["railsResourceFactory", (railsResourceFactory) -> railsResourceFactory
    url: "/api/events"
    name: "event"
]

Simmr.factory "Charge", ["railsResourceFactory", (railsResourceFactory) ->
  railsResourceFactory
    url: "/api/charges"
    name: "charge"
]

Simmr.controller "EventRegisterCtrl", ["$scope",  "$routeParams", "$location", "Charge", "Event", ($scope, $routeParams, $location, Charge, Event) ->
  $scope.guests = []
  $scope.event = []

  $scope.guest = {}
  $scope.guest.name = ''
  $scope.guest.email = ''
  $scope.buyer = {}

  $scope.eventDate = ->
    moment($scope.event.date).format("dddd, MMMM D")

  $scope.eventTime = ->
    moment($scope.event.time, "YYYY-MM-DD H:mm:ss").format("h:mm A")
  
  $scope.eventEndTime = ->
    datetime = moment($scope.event.time,  "YYYY-MM-DD H:mm:ss")
    datetime.add('minutes', $scope.event.length).format('h:mm A')

  $scope.mapUrl = ->
    mapUrl = "http://maps.google.com/?q=#{$scope.address1},#{$scope.city}, #{$scope.state},#{$scope.zipcode}"

  $scope.total = ->
    total = $scope.num_guests * $scope.cost
    total = total.toFixed(2)

  $scope.showPayment = ->
    $scope.guests = []
    $scope.guest_no_pages = 0
    if $scope.num_guests > 0
      $scope.currentUser.name = $scope.currentUser.first_name + ' ' + $scope.currentUser.last_name
      $scope.guests.push($scope.currentUser)
      i = 0
      
      while i < $scope.num_guests - 1
        $scope.guests.push({})
        i++

    $scope.appear = "payment1"

  $scope.gotoPayment = ->
    error = 0
    angular.forEach($scope.guests, (guest) =>
      if typeof guest.name is 'undefined' || typeof guest.email is 'undefined'
        error = 1
    )
    if error == 0
      $scope.appear = "payment2"

  $scope.submitPayment = ->    
    $scope.submitCard($scope.card)

  $scope.card =
    number: ""
    expMonth: ""
    expYear: ""
    cvc: ""

  $scope.data = {}
  $scope.submitCard = (card) ->
    Stripe.createToken card, (status, response) ->
      if status is 200
        console.log response
        $scope.data.last4 = response.card.last4
        $scope.data.token = response.id
        $scope.data.guests = $scope.guests
        $scope.data.buyer = $scope.buyer
        $scope.data.eventId = $scope.eventId
        new Charge($scope.data).create().then (data) =>
          console.log data, "~~~~~~~~~~"
          if data.status == "Success"
            $scope.appear = "payment3"
      else
        console.log response
]

Simmr.controller "EventCreateCtrl", ["$scope",  "$routeParams", "$location", "Event", ($scope, $routeParams, $location, Event) ->
  $scope.created = false
  $scope.eventImageUrls = []
  $scope.today = moment().format("YYYY-MM-DD")

  $scope.eventDate = ->
    moment($scope.event.date).format("dddd, MMMM D")

  $scope.eventTime = ->
    moment($scope.event.time, "YYYY-MM-DD H:mm:ss").format("h:mm A")
  
  $scope.eventEndTime = ->
    datetime = moment($scope.event.time,  "YYYY-MM-DD H:mm:ss")
    datetime.add('minutes', $scope.event.length).format('h:mm A')

  $scope.uploadImages = ->
    filepicker.pickAndStore
      mimetypes: ["image/*", "text/plain"]
      services: ["COMPUTER", "FACEBOOK", "GMAIL", "INSTAGRAM"]
      multiple: true
    ,
      location: "S3"
      access: "public"
    , (InkBlobs) ->
      console.log JSON.stringify(InkBlobs)

      $('.active.item').remove()
      $('.carousel-inner').empty()

      i=0
      while i< Object.keys(InkBlobs).length
        $scope.image="https://s3-us-west-1.amazonaws.com/simmrimages/#{InkBlobs[i].key}"
        console.log $scope.image
        $scope.eventImageUrls.push($scope.image)
        if i == 0
          console.log($scope.eventImageUrls[i])
          $('.events .carousel-inner').append("<div class = 'item active'><img src = #{$scope.eventImageUrls[i]}></div>")
        else 
          console.log('else')
          $('.events .carousel-inner').append("<div class = 'item'><img src = #{$scope.eventImageUrls[i]}></div>")
        i++
      $('.event-profile').append("<div class ='btn' id = 'remove-image'>remove image</div>")
      if Object.keys(InkBlobs).length>1
        $('.event-profile').append("<a class = 'carousel-control left hidden-phone' data-slide = 'prev' href = '#event-carousel'> ‹ </a><a class = 'carousel-control right hidden-phone' data-slide = 'next' href = '#event-carousel'> › </a>")


  $scope.removeImages = ->
    eventImageUrl = document.getElementsByClassName("active")[0]
    console.log eventImageUrl
    eventImageUrl = eventImageUrl.innerHTML
    eventImageUrl = eventImageUrl.substring(0, eventImageUrl.length-7)
    #.substring(37)
    console.log eventImageUrl
    
  $scope.createEvent = (event) ->
    console.log($scope.eventImageUrls)
    if $scope.eventImageUrls?
      event.eventImageUrls=$scope.eventImageUrls
    new Event(event).create().then (data) =>
      console.log data, "~~~~~~~~~~"
      $scope.created = true
]

Simmr.controller "EventIndexCtrl", ["$scope",  "$routeParams", "$location", "Event", ($scope, $routeParams, $location, Event) ->

]

Simmr.controller "EventEditCtrl", ["$scope",  "$routeParams", "$location", "Event", ($scope, $routeParams, $location, Event) ->
  $scope.eventImageUrls = []


  $scope.getEvent = (eventId) ->
    console.log Event
    Event.get(id: eventId).then (result) ->
      $scope.event = result
      console.log $scope.event, "++++++"

  $scope.today = moment().format("YYYY-MM-DD")
  $scope.imageUrls = []

  $scope.eventDate = ->
    moment($scope.event.date).format("dddd, MMMM D")

  $scope.eventTime = ->
    moment($scope.event.time, "YYYY-MM-DD H:mm:ss").format("h:mm A")
  
  $scope.eventEndTime = ->
    datetime = moment($scope.event.time,  "YYYY-MM-DD H:mm:ss")
    datetime.add('minutes', $scope.event.length).format('h:mm A')

  $scope.uploadImages = ->
    filepicker.pickAndStore
      mimetypes: ["image/*", "text/plain"]
      services: ["COMPUTER", "FACEBOOK", "GMAIL", "INSTAGRAM"]
      multiple: true
    ,
      location: "S3"
      access: "public"
    , (InkBlobs) ->
      console.log JSON.stringify(InkBlobs)

      $('.active.item').remove()
      $('.carousel-inner').empty()

      i=0
      while i< Object.keys(InkBlobs).length
        $scope.image="https://s3-us-west-1.amazonaws.com/simmrimages/#{InkBlobs[i].key}"
        console.log $scope.image
        $scope.eventImageUrls.push($scope.image)
        if i == 0
          console.log($scope.eventImageUrls[i])
          $('.events .carousel-inner').append("<div class = 'item active'><img src = #{$scope.eventImageUrls[i]}></div>")
        else 
          console.log('else')
          $('.events .carousel-inner').append("<div class = 'item'><img src = #{$scope.eventImageUrls[i]}></div>")
        i++
        $('.event-profile').append("<div class ='btn' id = 'remove-image'>remove image</div>")
      if Object.keys(InkBlobs).length>1
        $('.event-profile').append("<a class = 'carousel-control left hidden-phone' data-slide = 'prev' href = '#event-carousel'> ‹ </a><a class = 'carousel-control right hidden-phone' data-slide = 'next' href = '#event-carousel'> › </a>")

  $scope.editEvent = (event) ->
    new Event(event).update().then (data) =>
      window.a=data
      $scope.event=data
      window.location.href = '/events/'+data.id
]

Simmr.controller "EventFeedbackCtrl", ["$scope",  "$routeParams", "$location", ($scope, $routeParams, $location) ->

  $scope.feedback=1
  $scope.mapUrl = ->
    mapUrl = "http://maps.google.com/?q=#{$scope.address1},#{$scope.city}, #{$scope.state},#{$scope.zipcode}"

  $scope.eventDate = ->
    moment($scope.event.date).format("dddd, MMMM D")

  $scope.eventTime = ->
    moment($scope.event.time, "YYYY-MM-DD H:mm:ss").format("h:mm A")
  
  $scope.eventEndTime = ->
    datetime = moment($scope.event.time,  "YYYY-MM-DD H:mm:ss")
    datetime.add('minutes', $scope.event.length).format('h:mm A')
    
]

Simmr.factory "Campaign", ["railsResourceFactory", (railsResourceFactory) ->
  railsResourceFactory
    url: "/api/campaigns"
    name: "campaign"
]

Simmr.controller "CampaignJoinCtrl", ["$scope", "$window", "$routeParams", "$location", "Campaign", ($scope, $window, $routeParams, $location, Campaign) ->

  $scope.daysLeft = ->
    today = moment()
    endDate = moment($scope.endDate)
    daysLeft = endDate.diff(today, 'days')
    if daysLeft <= 0
      if $scope.successful
        "success!"
      else
        "try again?"
    else
      daysLeft + " days left"

]

Simmr.controller "CampaignCreateCtrl", ["$scope", "$window", "$routeParams", "$location", "Campaign", ($scope, $window, $routeParams, $location, Campaign) ->

  $scope.campaignImageUrls = []

  $scope.uploadImages = ->
    filepicker.pickAndStore
      mimetypes: ["image/*", "text/plain"]
      services: ["COMPUTER", "FACEBOOK", "GMAIL", "INSTAGRAM"]
      multiple: true
    ,
      location: "S3"
      access: "public"
    , (InkBlobs) ->
      console.log JSON.stringify(InkBlobs)

      $('.active.item').remove()
      $('.carousel-inner').empty()

      i=0
      while i< Object.keys(InkBlobs).length
        $scope.image="https://s3-us-west-1.amazonaws.com/simmrimages/#{InkBlobs[i].key}"
        console.log $scope.image
        $scope.campaignImageUrls.push($scope.image)
        if i == 0
          $('.campaigns .carousel-inner').append("<div class = 'item active'><img src = #{$scope.campaignImageUrls[i]}></div>")
        else 
          $('.campaigns .carousel-inner').append("<div class = 'item'><img src = #{$scope.campaignImageUrls[i]}></div>")
        i++
        $('.campaign-profile').append("<div class ='btn' id = 'remove-image'>remove image</div>")
      if Object.keys(InkBlobs).length>1
        $('.campaign-profile').append("<a class = 'carousel-control left hidden-phone' data-slide = 'prev' href = '#campaign-carousel'> ‹ </a><a class = 'carousel-control right hidden-phone' data-slide = 'next' href = '#campaign-carousel'> › </a>")

  $scope.createCampaign = (campaign) ->
    if $scope.campaignImageUrls?
      campaign.campaignImageUrls=$scope.campaignImageUrls
    new Campaign(campaign).create().then (data) =>
      console.log data, "~~~~~~~~~~"
      $scope.campaign = 1
      $window.location.href='/campaigns/'
]

Simmr.controller "CampaignEditCtrl", ["$scope",  "$routeParams", "$location", "Campaign", ($scope, $routeParams, $location, Campaign) ->
  $scope.getCampaign = (campaignId) ->
    console.log campaignId
    Campaign.get(id: campaignId).then (result) ->
      console.log result, "++++++++"
      $scope.campaign = result
  $scope.editCampaign = (campaign) ->
    new Campaign(campaign).update().then (data) =>
      window.a=data
      $scope.campaign=data
      window.location.href = '/campaigns/'+data.id

  $scope.daysLeft = ->
    today = moment()
    endDate = moment($scope.endDate)
    daysLeft = endDate.diff(today, 'days')
    if daysLeft <= 0
      if $scope.successful
        "success!"
      else
        "try again?"
    else
      daysLeft + " days left"

  $scope.campaignImageUrls = []

  $scope.uploadImages = ->
    filepicker.pickAndStore
      mimetypes: ["image/*", "text/plain"]
      services: ["COMPUTER", "FACEBOOK", "GMAIL", "INSTAGRAM"]
      multiple: true
    ,
      location: "S3"
      access: "public"
    , (InkBlobs) ->
      console.log JSON.stringify(InkBlobs)

      $('.active.item').remove()
      $('.carousel-inner').empty()

      i=0
      while i< Object.keys(InkBlobs).length
        $scope.image="https://s3-us-west-1.amazonaws.com/simmrimages/#{InkBlobs[i].key}"
        console.log $scope.image
        $scope.campaignImageUrls.push($scope.image)
        if i == 0
          $('.campaigns .carousel-inner').append("<div class = 'item active'><img src = #{$scope.campaignImageUrls[i]}></div>")
        else 
          $('.campaigns .carousel-inner').append("<div class = 'item'><img src = #{$scope.campaignImageUrls[i]}></div>")
        i++
        $('.campaign-profile').append("<div class ='btn' id = 'remove-image'>remove image</div>")
      if Object.keys(InkBlobs).length>1
        $('.campaign-profile').append("<a class = 'carousel-control left hidden-phone' data-slide = 'prev' href = '#campaign-carousel'> ‹ </a><a class = 'carousel-control right hidden-phone' data-slide = 'next' href = '#campaign-carousel'> › </a>")

]

