.row
  .campaign-status
    Status
  .span5.campaign-image
    =link_to image_tag("Food 9.jpg"), "#"
.row.campaign-first-row
  %table
    %tr
      %td.span1.campaign-lead-image
        =link_to image_tag("Foodie-Default-Profile-Image.png"), "#", "data-toggle" => "tooltip", "title" => "Campaign Lead Name", "class" => "campaign-card-lead-name"
      %td.span3.campaign-title-and-blurb
        Campaign Biz Name
        %p Campaign blurb
      %td.span1.join-button
        %a.btn.btn-warning{:href => '#'} Promote
.row.campaign-second-row
  .span5.social-stats
    %table
      %tr
        %td
          %a.sb.heart.circle.no-border.no-shadow.orange{:href=>"#"}
        %td
          %a.sb.star.circle.no-border.no-shadow.orange{:href=>"#"}
        %td
          %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"}
      %tr.social-stats-numbers
        %td 190
        %td 190
        %td{:rowspan => "2"} share
      %tr.social-stats-labels
        %td followers
        %td reviews
    