=content_for :title, "Campaigns"

.campaigns-index{'ng-controller' => 'CampaignIndexCtrl'}
  .campaigns
    .container
      .row.section-header
        .span12.campaign-index-header
          %h1 Suggested Experiences in San Francisco
    .section.campaign-section
      .container
        .row.campaign-row-content
          .span12.campaign-index-content
            .row
              .how-it-works-campaign-infographic 
                %h1 How does it work?
                .step
                  %h2 suggest
                  .step-description
                    %p Don't see a favorite restaurant or bar? Suggest an experience to make it happen! It takes under a minute.
                .step
                  %h2 share
                  .step-description
                    %p Once a suggested experience is approved, spread the word so others "vote up" your suggestion! Each suggestion lasts a month.
                .step
                  %h2 enjoy
                  .step-description
                    %p Once you have 20 upvotes, we will contact the host and bring them on to Simmr!
        .row
          .span4.offset4#campaign-buttons
            -if user_signed_in?
              %a.btn.btn-warning{:href => "/campaigns/new"} suggest an experience
            -else
              %a.btn.btn-warning{:href => "#sign_up_foodie", :"data-toggle" =>"modal"} suggest an experience
      
    .container
      -all_campaigns = @campaigns
      -while all_campaigns.length > 1
        -campaign = all_campaigns.pop
        .row.campaigns-row
          .span6.single-campaign
            =render "campaigns/singlecampaign", :campaign => campaign
          -campaign = all_campaigns.pop
          .span6.single-campaign
            =render "campaigns/singlecampaign", :campaign => campaign
      -if all_campaigns.length == 1
        -campaign = all_campaigns.pop
        .row.campaigns-row
          .span6.single-campaign
            =render "campaigns/singlecampaign", :campaign => campaign
          .span6
    .section.campaign-section
      .container
        .row.campaign-row-content
          .span12.campaign-index-content
            %p Don’t see your favorite business or a cool experience you want to see happen? <a href = "/campaigns/new">Suggest an experience</a> to make it happen on Simmr!


