=content_for :title, "simmr | campaigns"

.campaigns-index{'ng-controller' => 'CampaignIndexCtrl'}
  .campaigns
    .container
      .row.section-header
        .span12.campaign-index-header
          %h1 Suggested Hosts in San Francisco
    .section.campaign-section
      .container
        .row.campaign-row-content
          .span12.campaign-index-content
            .row
              .how-it-works-campaign-infographic 
                %h1 How does it work?
                .step
                  %h2 launch
                  .step-description
                    %p Don't see a favorite food business or chef? Suggest a host to get 'em on Simmr! It takes under a minute.
                .step
                  %h2 promote
                  .step-description
                    %p Once a suggested host is approved, spread the word and start recruiting others to join! You have 30 days to get 100 people.
                .step
                  %h2 tilt
                  .step-description
                    %p Once you have 20 people, we will contact the host and bring them on to a warm welcome from their fans!
    .container
      -all_campaigns = @campaigns
      -while all_campaigns.length > 1
        -campaign = all_campaigns.pop
        .row.campaigns-row
          .span6.single-campaign
            =render "campaigns/singlecampaign", :campaign => campaign
          -campaign = all_campaigns.pop
          .span6.single-campaign
            =render "campaigns/singlecampaign", :campaign => campaign
      -if all_campaigns.length == 1
        -campaign = all_campaigns.pop
        .row.campaigns-row
          .span6.single-campaign
            =render "campaigns/singlecampaign", :campaign => campaign
          .span6
    .section.campaign-section
      .container
        .row.campaign-row-content
          .span12.campaign-index-content
            %p Don’t see your favorite business? <a href = "/campaigns/new">Suggest a host</a> to get them to host events on Simmr!


