/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require css-social-buttons2/social-buttons
 */

 @import "bootstrap";
 @import "bootstrap-responsive";

// colors 

$trans_black: rgba(54,54,54,0.9);
$dark_gray: rgb(54, 54, 54);
$trans_black_more: rgba(54, 54, 54, 0.7);
$main_orange: rgb(255, 178, 35);

html body {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;        
}

// general purpose classes

.highlight{
	border: 3px solid $main_orange;
}

.strong{
	font-weight: 900;
}

// error styling

input.error-true  {
   border: 2px solid $main_orange;
}

.error{
	display: none;
	color: white;
	margin-bottom: 5px;
}

.help-inline{
	color: rgb(54, 54, 54);
	font-weight: 100;
}

.help-block{
	color: rgb(54, 54, 54);
	font-weight: 100;
	padding-bottom: 2px;
	padding-left: 4px;
}

.help-block-white{
	color: white;
	font-weight: 100;
	padding-bottom: 8px;
	padding-left: 0px;
}

.textarea-section{
	width: 96%;
}

// site wide styling
.section-header{
	margin: 20px 0 20px -15px;
	.collapsed .caret	{
		display: inline-block;
		vertical-align: middle;
		border-top: 6px solid $main_orange;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		font-size: 60px;
	}
	.caret{
		border-top: 6px solid gray;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		display: inline-block;
		vertical-align: middle;
		font-size: 60px;
	}
	h1{
			font-size: 30px;
			color: black;
			line-height: 1.5em;
			font-weight: 100;
		}
}


// header styling

.nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret{
	border-top-color: black;
}

.nav-container{
	display: block;
	width: 1170px;
	margin: 20px auto;
	font-size: 13px;
	a{
		color: black;
	}
	.nav{	
		.logo-and-location{
			float: left;
			.logo{
				width: 50%;
			}
			.logo, ul{
				float: left;
			}
			a.city{
				margin: 0;
				padding: 0;
				list-style: none;
				float: left;
			}
			a:hover{
				color: black;
				background: none;
			}
			a:hover, a:visited, a:active, a:focus{
				text-decoration: none;
				outline: none;
			}
		}
		ul{
			list-style: none;
			margin: 30px 0 0 10px;
			.user-nav-control{
				list-style: none;
				margin: 0;
				li.dropdown{
					a{
						margin: 0 10px;
						padding: 0;
					}
					a:hover{
						color: black;
						background: none;
					}
					a:hover, a:visited, a:active, a:focus{
						text-decoration: none;
						outline: none;
					}
					.dropdown-menu{
						margin: 10px 0 0 0;
						min-width: 120px;
						.dropitem{
							font-size: 13px;
							a:link, a:visited{
								padding: 5px;
							}
							a:hover, a:active, a:focus{
			 					color: white;
			 					background-color: $main_orange;
			 					background-image: none;
							}
						}
					}
				}
			}
			li a:link, a:visited{
				padding: 10px;
				margin: 0 5px;
			}
			li a:hover, a:active{
				color: white;
				background-color: $main_orange;
				text-decoration: none;
			}
			li a:focus{
				outline: none;
			}
			input{
				margin-right: 10px;
				margin-top: -3px;
			}
		}
		.nav-right{
			margin-right: -50px;
			#sign-up-header-link{
				a{
					background: $main_orange;
					color: white;
				}
			}
		}		
	}
}

// footer styling

.footer{
	background: black;
	margin-top: 40px;
	color: white;
	padding: 20px 0 80px 0;
	ul{
		list-style: none;
		margin: 0;
	}
	h3{
		font-size: 26px;
		font-weight: 100;
	}
	p{
		font-size: 16px;
		line-height: 1em;
	}
	a:link, a:visited{
		text-decoration: none;
		color: rgb(200, 200, 200);
		font-size: 16px;
		line-height: 1.5em;
	}
	a:hover, a:active{
		color: white;
	}
	table{
		margin: 0 0 20px 0;
		td{
			padding: 0 10px 0 0;
		}
	}
}

.footer-logo{
	padding-top: 30px;
	img{
		width: 200px;
		margin: 0 auto;
	}
	p{
		font-size: 10px;
		text-align: center;
		font-weight: 100;
	}
}

// modal styling

.modal-backdrop{
	z-index: 1020;
}
.modal{
	width: 350px;
	background-color: rgba(255, 255, 255, 0.9);
	left: 60%;
	#myModalLabel{
		font-size: 15px;
		text-align: left;
		text-shadow: 1px 1px -1px #fff;	
	}
	.modal-header{
  		background-color: white;
  		background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#d4d4d4));
  		background-image: -webkit-linear-gradient(top, white, #d4d4d4);
  		background-image:    
  		-moz-linear-gradient(top, white, #d4d4d4);
  		background-image:      
  		-o-linear-gradient(top, white, #d4d4d4);
  		background-image:         
 		linear-gradient(to bottom, white, #d4d4d4);
 		-webkit-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
         -webkit-background-clip: padding-box; background-clip: padding-box;
	}
	.modal-body{
		padding: 0;
		text-align: left;
		margin: 10px 0 0 15px;
		h3{
			font-weight: 100;
			line-height: 1.5em;
		}
		p{
			margin-bottom: 5px;
			line-height: 1.5em;
		}
	}
	input{
		font-size: 16px;
		height: 24px;
		margin-bottom: 8px;
	}
	label{
		line-height: 32px;
		margin-left: 5px;
		font-size: 13px;
		display: inline-block;
	}
	a.sb{
		text-align: center;
	}

	a.sb.text{
		width: 32%;
	}
}

.sign-up-text{
	margin-top: 15px;
}

.login_form{
	margin-top: 20px;
	background-color: gray;
}

.or-line{
	height: 1px;
	background: gray;
	width: 95%;
	margin-right: auto;
	border: 0;
}