/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require fancybox
 *= require fancybox-buttons
 *= require fancybox-thumbs
 *= require css-social-buttons2/social-buttons
 */

 @import "bootstrap";
 @import "bootstrap-responsive";

// colors 

$trans_black: rgba(54,54,54,0.9);
$dark_gray: rgb(54, 54, 54);
$trans_black_more: rgba(54, 54, 54, 0.7);
$main_orange: rgb(255, 178, 35);

html body {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;        
}

body{
	scrollbar-face-color: transparent;
	scrollbar-shadow-color: #2D2C4D;
	scrollbar-highlight-color:#7D7E94;
	scrollbar-3dlight-color: #7D7E94;
	scrollbar-darkshadow-color: #2D2C4D;
	scrollbar-track-color: #7D7E94;
	scrollbar-arrow-color: #C1C1D1;
	::-webkit-scrollbar{width:9px;height:9px;}
	::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
	::-webkit-scrollbar-track-piece{background-color:transparent;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
	::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgb(180, 180, 180);-webkit-border-radius:8px;}
	::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:rgb(180, 180, 180);-webkit-border-radius:8px;}
}

.fancybox-title iframe {
    min-height: 30px;
    vertical-align: middle;
}

.carousel-control{
	font-size: 40px;
	color: white;
	top: 40%;
	z-index: 50;
	background: rgba(0, 0, 0, 0.7);
	border: none;
	line-height: 33px;
	margin-top: 0;
	border-radius: 0;
	width: 30px;
	cursor: pointer;
}
.carousel-control.left{
	left: 0;
}
.carousel-control.right{
	right: 0;
}

a:active{
	outline: none;
}

.btn{
	border-radius: 0;
	box-shadow: 0;
	text-shadow: none;
	background-image: none;
	margin: 5px 0;
}

.btn.search{
	margin: 0 0 0 -2px;
}

.btn-warning{
	background: $main_orange;
}

.btn-warning:hover{
	background: darken($main_orange, 5%);
}

body.modal-open {
    overflow: hidden;
}

#default-text{
	color: gray !important;
}

.subdued{
	opacity: 0.5;
}

.popover.bottom .arrow{
	left: 15%;
}

.popover.bottom .popover-title{
	display: none;
}

.container{
	.section-header{
		text-align: center;
		margin-left: 0;
		h1{
			font-size: 30px;
			color: black;
			line-height: 1.5em;
			font-weight: 100;
		}
		ul{
			list-style: none;
			display: inline-block;
			vertical-align: middle;
			li{
				float: left;
				margin: 0 10px;
				a, a:visited{
					font-size: 16px;
					text-decoration: none;
					padding: 10px;
					color: black;
				}
				a:hover, a:active{
					background: $main_orange;
					text-decoration: none;
					color: white;
				}
			}
		}
		a:visited{
			color: black;
		}
	}
}


// general purpose classes

.highlight{
	border: 3px solid $main_orange;
}

.strong{
	font-weight: 900;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

// error styling

input.error-true  {
   border: 2px solid $main_orange;
}

.error{
	border: 2px solid $main_orange !important;
}

.help-inline{
	color: rgb(54, 54, 54);
	font-weight: 100;
	font-size: 12px;
}

.help-block{
	color: rgb(54, 54, 54);
	font-weight: 100;
	padding-bottom: 2px;
	padding-left: 4px;
	font-size: 12px;
	margin-bottom: 0;
}

.help-block-white{
	color: white;
	font-weight: 100;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 12px;
	margin-bottom: 0;
}

// header styling

.nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret{
	border-top-color: black;
}

.nav-container{
	border-bottom: 1px solid rgb(150, 150, 150);
	display: block;
	width: 1170px;
	margin: 10px auto 20px auto;
	font-size: 12px;
	a{
		color: rgb(150, 150, 150);
	}
	.nav{	
		margin-bottom: 0;
		.logo-and-location{
			float: left;
			.logo{
			  	margin-top: -5px;
			  	margin-bottom: 5px;
				width: 30%;	
			}
			.logo, ul{
				float: left;
			}
			a.city{
				margin: 0;
				padding: 0;
				list-style: none;
				float: left;
			}
			a.city:visited{
				color: rgb(150, 150, 150);
			}
			.tooltip-inner{
				background: none;
/*				border: 1px solid rgb(150, 150, 150);*/
				color: rgb(130, 130, 130);
			}
			.tooltip-arrow{
				border-right-color: white;
			}
			a:hover{
				color: rgb(130, 130, 130);
				background: none;
			}
			a:hover, a:visited, a:active, a:focus{
				text-decoration: none;
				outline: none;
			}
		}
		ul{
			list-style: none;
			margin: 40px 0 0 10px;
			.user-nav-control{
				list-style: none;
				margin: 0;
				li.dropdown{
					a{
						margin: 0 10px;
						padding: 0;
						color: rgb(150, 150, 150);
					}
					a:hover{
						color: rgb(130, 130, 130);
						background: none;
					}
					a:hover, a:visited, a:active, a:focus{
						text-decoration: none;
						outline: none;
					}
					.dropdown-menu{
						margin: 5px 0 0 0;
						min-width: 120px;
						.dropitem{
							font-size: 12px;
							a:link, a:visited{
								padding: 2px;
							}
							a:hover, a:active, a:focus{
			 					color: rgb(130, 130, 130);
								background: none;
							}
						}
					}
				}
			}
			li a:link, a:visited{
				padding: 5px;
				margin: 0 5px;
			}
			li a:hover, a:active{
				color: rgb(130, 130, 130);
				background: none;
				text-decoration: none;
			}
			li a:focus{
				outline: none;
			}
			.input-append{
				margin: 0;
				display: inline-block;
				margin-top: -7px;
				margin-left: 10px;
				input{
					font-size: 12px;
					width: 170px;
				}
				input:focus{
					border: 1px solid $main_orange;
					box-shadow: none;
				}
			}
		}
		.nav-right{
			a, a:visited{
				color: rgb(150, 150, 150);
			}
			margin-right: -50px;
			#sign-up-header-link{
				background: $main_orange;
				color: white;
			}
			a#sign-up-header-link{
				color: white;
			}
		}		
	}
}

// footer styling

.nav-container-footer{
	border-top: 1px solid rgb(150, 150, 150);
	display: block;
	width: 1170px;
	margin: 20px auto 10px auto;
	font-size: 12px;
}

.footer{
	.footer-content{
		padding: 5px 0 0 0;
	}
	ul{
		list-style: none;
		margin: 0;
		li{
			color: rgb(150, 150, 150);
			float: left;
			font-size: 12px;
			padding: 0 15px;			
		}
		li.social{
			padding: 0 5px;
		}
		#twitter-share iframe{
			width: 60px !important;
		}
     	#twitter-follow iframe{
     		width: 120px !important;
     	}
     	#yelp-logo{
     		margin-top: -5px;
     	}
	}
	a:link, a:visited{
		color: rgb(150, 150, 150);
		font-size: 12px;
		text-decoration: none;
	}
	a:hover, a:active{
		color: rgb(130, 130, 130);
	}
}

// modal styling

.modal-backdrop{
	z-index: 1020;
}
.modal{
	width: 710px;
	margin-left: -355px;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
	#myModalLabel{
		font-size: 15px;
		text-align: left;
		text-shadow: 1px 1px -1px #fff;	
	}
	.modal-header{
  		background-color: white;
  		background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#d4d4d4));
  		background-image: -webkit-linear-gradient(top, white, #d4d4d4);
  		background-image:    
  		-moz-linear-gradient(top, white, #d4d4d4);
  		background-image:      
  		-o-linear-gradient(top, white, #d4d4d4);
  		background-image:         
 		linear-gradient(to bottom, white, #d4d4d4);
 		-webkit-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
         -webkit-background-clip: padding-box; background-clip: padding-box;
	}
	.modal-body{
		padding: 0 10px;
		text-align: left;
		margin: 10px 0 0 15px;
		h3{
			font-weight: 100;
			line-height: 1.5em;
		}
		p{
			margin-bottom: 5px;
			line-height: 1.5em;
		}
	}
	label{
		line-height: 32px;
		margin-left: 0;
		font-size: 12px;
		display: inline-block;
	}
	input{
		font-size: 16px;
		height: 36px;
		margin-bottom: 8px;
		margin-right: 2px;
		display: inline-block;
		width: 48.5%;	
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box; 
	}
	#user_remember_me{
		width: 2%;
	}
	#foodie_first_name, #foodie_last_name{
		width: 23.9%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box; 
	}
	a.sb{
		text-align: center;
	}

	a.sb.text{
		width: 300px;
		height: 36px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box; 
		position: relative;
		left: 50%;
		margin: 10px 0 0 -150px;
	}
}

.modal .modal-body p.sign-up-text, .modal .modal-body .sign-up-text a, .modal .modal-body .sign-up-text a:hover, .modal .modal-body .sign-up-text a:visited{
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
}
.modal .modal-body .sign-up-text a, .modal .modal-body .sign-up-text a:visited{
	color: rgb(51, 51, 51);
	text-decoration: underline;
}

.modal .modal-body .sign-up-text a:hover{
	color: black;
}


.login_form{
	margin-top: 20px;
	background-color: gray;
}

.or-line{
	margin: 8px 0;
	height: 1px;
	background: gray;
	width: 99%;
	margin-right: auto;
	border: 0;
}