// colors 

$main_orange: rgb(255, 178, 35);

// campaigns index styling
.campaigns-index{
	.campaigns{ 
		margin: 0;
		.section-header{
			margin-top: 10px;
		}
		.campaign-index-header{
			margin: 0;
		}
		.campaign-index-content{
			margin: 10px 0;
		}
		.campaign-index-header, .campaign-index-content{
			a:hover{
				color: $main_orange;
			}
			a:visited{
				color: $main_orange;
			}
		}
		.campaign-index-content{
			font-size: 20px;
			font-weight: 100;
			text-align: center;
		}
		.campaign-row-content{
			margin: 10px 0;
		}
		.campaigns-row{
			margin: 0;
		}
		.single-campaign{
			height: 310px;
			z-index: 500;
			opacity: 1;
			-webkit-transition-property:opacity;
			-webkit-transition-duration:100ms;
			-webkit-transition-timing-function:linear;
			-webkit-transition-delay:100ms;
			.campaign-image{
				background: black;
				height: 310px;
				overflow: hidden;
				img{
					min-height: 100%;
					min-width: 470px;
					width: 100%;
					height: auto;
				}
			}
		}
		.single-campaign:hover{
			opacity: 0.9;
		}
		.campaign-info{
			position: relative;
			margin: 0;
			color: black;
			background: rgba(255, 255, 255, 0.8);
			bottom: 80px;
			height: 100px;
			table{
				background: rgba(255, 255, 255, 0.8);
				width: 100%;
				height: 80px;
				overflow: hidden;
				td{
					padding: 10px;
				}
			}
			h1{
				font-size: 17px;
				color: black;
				font-weight: 400;
				line-height: 1.5em;
				margin: 0;
			}
			h2{
				font-size: 12px;
				color: black;
				font-weight: 400;
				line-height: 1.5em;
				margin: 0;
			}
		}
		.campaign-section{
			margin: 0 0 60px 0;
		}
	}
}
.campaign-how-it-works{
	margin: 0;
}

.how-it-works-campaign-infographic{
	margin: 0 auto;
	width: 99%;
	h1{
		text-align: center;
		font-size: 30px;
		line-height: 1.2em;
		font-weight: 100;
		color: black;
		margin: 0;
	}
	.step:hover{
		border-color: $main_orange;
	}
	.step{
		height: 240px;
		width: 240px;
		margin-top: 20px;
		margin-left: 25px;
		border-radius: 50%;
		border: 15px rgb(54, 54, 54) solid;
		display: inline-block;
		h2{
			font-size: 30px;
			font-weight: 100;
			text-align: center;
			padding-top: 15px;
		}
		.step-description{
			width: 200px;
			height: 200px;
			padding: 20px;
			overflow: hidden;
			p{
				font-size: 14px;
				line-height: 1.5em;
				font-weight: 100;
				text-align: center;
				vertical-align: middle;
			}
		}
	}
}

// campaign profile styling
.campaign-profile{
	height: 625px;
	.btn#remove-image{
    	right: 5px;
		position: absolute;
		z-index: 50;
		background: $main_orange;
		border: none;
		color: white;
		top: 105px;
    }
	#campaign-carousel {
		position: absolute;
	    width: 100%;
	    z-index: -1;
		.carousel-inner{
			height: 625px;
			width: auto;
			img{
				width: 100%;
				background: no-repeat;
			}
			p{
				background: $main_orange;
				margin-top: 16px;
				margin-bottom: 10px;
				color: white;
				padding: 5px;
				display: inline-block;
				right: 10px;
				text-align: right;
				z-index: 5;
				top: 10px;
				position: absolute;
				line-height: 1.2em;
				font-size: 12px;
			}
		}
	}
	.carousel-control{
		font-size: 40px;
		color: white;
		top: 40%;
		z-index: 50;
		background: rgba(0, 0, 0, 0.7);
		border: none;
		line-height: 33px;
		margin-top: 0;
		border-radius: 0;
		width: 30px;
	}
	.carousel-control.left{
		left: 0;
	}
	.carousel-control.right{
		right: 0;
	}
	.campaign-registration {
	    margin-top: 25px;
	    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		a:hover{
			text-decoration: none;
		}
		#ribbon {
			width: 180px;
			height: 110px;
			margin: 50px auto 0;
			position: relative;
			float: right;
			right: -50px;
			top: -92px;
			overflow: hidden;
		}
		#ribbon .inset {
			width: 150px;
			height: 55px;
			position: absolute;
			top: -50px;
			left: 15px;
			z-index: 5;
			
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			
			background: rgba(0,0,0,0.3);
			
			box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
		}

		#ribbon .container {
			position: relative;
			width: 100px;
			height: 110px;
			overflow: hidden;
			margin: 0 auto;
		}

		#ribbon .base {
			height: 55px;
			width: 100px;
			background: white;
			//background: rgba(80, 80, 80, 1);
			position: relative;
			z-index: 2;
			h3{
				margin: 0;
				color: rgb(54, 54, 54);
				font-size: 18px;
				padding-top: 20px;
				line-height: 1.5em;
				font-weight: 100;
				text-align: center;
			}
			p{
				margin: 0;
				color: rgb(130, 130, 130);
				font-size: 12px;
				font-weight: 100;
				line-height: 1.5em;
				text-align: center;
			}
		}

		#ribbon .base:after {
			content: '';
			position: absolute;
			top: 0;
			width: 86px;
			left: 6px;
			height: 92px;
			//border-left: 1px dashed rgba(0, 0, 0, 1);
			//border-right: 1px dashed rgba(0, 0, 0, 1);
		}

		#ribbon .base:before {
			content: '';
			position: absolute;
			top: 0;
			width: 86px;
			left: 7px;
			height: 92px;
			border-left: 1px rgba(0, 0, 0, 1);
			border-right: 1px rgba(0, 0, 0, 1);
		}

		#ribbon .left_corner {
			width: 100px;
			height: 100px;
			background: white;
			//background: rgba(80, 80, 80, 1);
			position: absolute;
			bottom: 20px;
			left: -50px;
			z-index: 1;
			
			-webkit-transform: rotate(60deg);
			-moz-transform: rotate(60deg);
			-ms-transform: rotate(60deg);
			-o-transform: rotate(60deg);
			transform: rotate(60deg);
		}

		#ribbon .right_corner {
			width: 100px;
			height: 100px;
			background: white;
			//background: rgba(80, 80, 80, 1);
			position: absolute;
			bottom: 20px;
			right: -50px;
			z-index: 1;
			
			-webkit-transform: rotate(30deg);
			-moz-transform: rotate(30deg);
			-ms-transform: rotate(30deg);
			-o-transform: rotate(30deg);
			transform: rotate(30deg);
		}
		.preview-label{
			background: $main_orange;
			margin-top: -10px;
			margin-bottom: 10px;
			color: white;
			padding: 2px 5px;
			display: inline-block;
		}
		.campaign-summary {
		    background: rgba(255, 255, 255,.8);
		    padding: 30px;
		    -webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
			.campaign-summary-logistics-container{
				padding: 5px 0;
				margin: 15px -37px 25px -37px;
				background: white;
			}
			.campaign-summary-logistics{
				//border-top: 1px dashed rgb(100, 100, 100);
				//border-bottom: 1px dashed rgb(100, 100, 100);
				background: white;
				//background: rgb(80, 80, 80);
				padding: 10px 30px;
				margin: 0px;
			}
			.campaign-button-group{
				margin: 20px auto 10px auto;
				display: table;
				width: 100%;
				li{
					float: left;
					display: table-cell;
					width: 24%;
					margin: 0 0.5%;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
				}
				button{
					margin: 0;
				}
				.btn{
					width: 100%;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
				}
				.active .btn{
					background: $main_orange;
					color: white;
					border-color: $main_orange;
				}
			}
			.progress, .bar{
				height: 10px;
				border-radius: 0;
			}
			.campaign-summary-top{
				width: 310px;
			}
			h1{
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 100;
				color: black;
				margin: 0;
			}
			h2{
				font-size: 20px;
				line-height: 1.5em;
				font-weight: 100;
				color: black;
				margin: 0;
			}
			h3{
				font-size: 16px;
				line-height: 1.5em;
				font-weight: 100;
				color: black;
				margin: 0;
			}
			hr{
				margin: 10px 0;
				border-bottom: none;
				border-top: 1px solid black;
			}
			.campaign-join-button{
				width: 100%;
				padding: 7px 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
				margin-top: -5px;
				margin-bottom: 15px;
				font-size: 20px;
				font-weight: 300;
			}
			.standalone-button{
				width: 49%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
			}
			.campaign-social-stats{
				margin-top: 10px;
				color: black;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				td{
					text-align: center;
					width: 33%;
					font-weight: 100;
					line-height: 15px;
					a, a:hover, a:visited{
						color: black;
						text-decoration: none;
						margin: 10px auto;
					}
				}
			}
			p, a{
				text-align: right;
			    color: black;
			    margin-top: 0px;
			    margin-bottom: 0px;
			    font-size: 12px;
			}
			a, a:hover, a:visited{
				text-decoration: none;
				display: block;
			}
		}
		.heart_this{
			margin: 0 auto;
			padding: 10px;
			background: rgba(255,255,255,0.8);
			width: 33px;
			height: 33px;
		}

		.campaign-why-join, .host-followers{
			overflow-y: auto;
			height: 490px;
		}
		.campaign-create-form, .campaign-edit-form, .campaign-create-confirmation, .campaign-why-join, .host-followers{
			background: rgba(255,255,255,0.8);
			padding: 30px;
			.followers{
				margin-left: 0;
				img{
					width: 50px;
					height: auto;
					margin: 0 5px;
				}
			}
			h1{
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 100;
				color: black;
				margin: 0;
			}
			h2{
				font-size: 20px;
				line-height: 1.5em;
				font-weight: 100;
				color: black;
				margin-bottom: 20px;
			}
			h3{
				font-size: 14px;
				line-height: 1.5em;
				color: black;
				font-weight: 100;
			}
			hr{
				margin: 10px 0;
				border-bottom: none;
				border-top: 1px solid black;
			}
			input, input[type='string'], input[type='integer']{
				display: inline-block;
  				height: 20px;
  				padding: 4px 6px;
				margin-bottom: 10px;
				font-size: 14px;
				line-height: 20px;
				color: #555555;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				vertical-align: middle;
				width: 100%;
				min-height: 30px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
			}
			#submit, #done{
				float: right;
				margin-left: 10px;
			}

			#campaign-upload-images{
				margin: 5px 0;
			}

			a, a:visited, a:hover{
				color: black;
				text-decoration: none;
			}

		}
	}
}

.campaign-target-story, .why-join{
	background: rgb(230,230,230);
	padding: 0;
	.accordion{
		margin: 0;
	}
	p{
		font-size: 14px;
		line-height: 2em;
	}
}

//campaign editing

.campaign-blurb, .campaign-why{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
	width: 100%;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.campaign-profile .campaign-registration .campaign-summary h1 {
		font-size: 26px;
	}

	.campaign-profile .campaign-registration .campaign-summary h2 {
		font-size: 18px;
	}

	.campaign-profile .campaign-registration .campaign-summary h3 {
		font-size: 14px;
	}

	.campaign-profile .campaign-registration .campaign-summary .campaign-join-button{
		width: 24%;
	}

	body .campaigns .campaign-registration .campaign-summary .campaign-social-stats{
		font-size: 10px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.campaign-profile .campaign-registration .heart_this {
		padding: 0;
	}

	.campaign-profile{
		height: 500px;
	}
	.campaigns .container .section-header {
		margin: 30px 10px;
	}
	.campaign-profile .campaign-registration{
		.campaign-create-form, .campaign-create-confirmation{
			position: absolute;
			width: 92%;
			z-index: 10;
		}
	}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.campaign-profile .campaign-registration{
		.campaign-create-form, .campaign-create-confirmation{
			width: 85%;
		}
	}
}

