// colors 

$trans_black: rgba(54,54,54,0.9);
$dark_gray: rgb(54, 54, 54);
$trans_black_more: rgba(54, 54, 54, 0.7);
$trans: rgba(0,0,0,0);
$main_orange: #EB4D18;

.devisecontainer{
	h1{
		font-size: 30px;
		font-weight: 100;
		margin: 0;
		line-height: 2em;
	}
	.field{
		margin: 5px 0;
	}
	label{
		display: inline-block;
	}
	input{
		margin-bottom: 8px;
		margin-right: 5px;
	}
	button{
		margin-top: 10px;
	}
	#error_explanation{
		width: auto;
		border: none;
		background-color: transparent;
		h2{
			background-color: $main_orange;
			font-weight: 100;
			font-size: 16px;
			color: white;
			padding-left: 5px;
		}
	}
	.field_with_errors{
		padding: 0;
		background-color: transparent;
	}
	a, a:visited, a:hover{
		color: $main_orange;
		text-decoration: none;
	}
}

