// colors 

$trans_black: rgba(54,54,54,0.9);
$dark_gray: rgb(54, 54, 54);
$trans_black_more: rgba(54, 54, 54, 0.7);
$trans: rgba(0,0,0,0);
$main_orange: rgb(255, 178, 35);

// body and universal styling

body{
	line-height: 15px;
	a:hover{
		background-color: transparent;
		color: black;
	}
}

body.devise {
	font-family: 'Open Sans', sans-serif !important; 
	background-image: url("black-Linen_@2X.png");
}

.devisecontainer{
	background-color: rgba(255, 255, 255, 0.85);
	padding: 15px;
	margin: 70px auto;
	-webkit-border-radius: 12px;
	    border-radius: 12px;
	    background-clip: padding-box;
	h1{
		font-size: 20px;
		margin: 0;
	}
	.field{
		margin: 5px 0;
	}
	label{
		display: inline-block;
	}
	input{
		margin-bottom: 8px;
		margin-right: 5px;
	}
	button{
		margin-top: 10px;
	}
	#error_explanation{
		width: auto;
		border: none;
		background-color: transparent;
		h2{
			background-color: $main_orange;
		}
	}
	.field_with_errors{
		padding: 0;
		background-color: transparent;
	}
}

