// colors 

$main_orange: #EB4D18;

a.sb.yelp {
	background-image: url(/assets/white_yelp2.png);
}

.yelp-rating{
	width: 45%;
	margin: 2px 5px;
}

a.sb.yelp.black{
	background-image: url(/assets/yelp2.png);
	background-color: transparent;
}

.tooltip{
	width: auto !important;
	z-index: 1000;
	position: absolute;
}

// events index styling
.sign-up-early-button{
	padding: 10px;
	font-size: 16px;
}
.event-card-guests, .event-card-purchase-confirmation{
	padding: 10px;
	h1{
		font-size: 18px;
		line-height: 1.5em;
		font-weight: 100;
		color: white;
		margin: 0;
	}
	hr{
		margin: 10px 0;
		border-bottom: none;
	}
	p{
		font-size: 14px;
		padding: 2px 0;
	}
	input, input[type='string'], input[type='integer']{
		display: inline-block;
		height: 20px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #555555;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		vertical-align: middle;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box; 
	}
	.guest-name, .guest-email{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
	}
	.guest-name{
		width: 24%;
	}
	.guest-email{
		width: 47%;
	}
	.guests{
		margin: 0;
	}
}

.event-card-go-button{
	width: 23%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
	margin-top: -8.5px;
}
.events-index{
	a.back-to-top{
		position: fixed;
		bottom: 20px;
		right: 50px;
		color: $main_orange;
		background: rgba(255, 255, 255, 0.9);
		z-index: 5000;
		padding: 5px;
		font-weight: 900;
	}
	.events-index-navigation{
		ul{
		list-style: none;
		width: 400px;
		margin: 0 auto;
		font-size: 18px;
		}
		li{
			float: left;
			margin: 0 0.5%;
			border-right: 1px solid rgb(54, 54, 54);
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
			a{
			color: rgb(54, 54, 54);
			padding: 5px;
			margin: 5px;
			}
			a:hover{
				text-decoration: underline !important;
			}
		}
		li:last-child{
			border-right: none;
		}
	}
	.events{ 
		margin: 0;
		.section-header{
			margin-top: 10px;
		}
		.events-index-header{
			margin: 0;
		}
		.events-index-section-title{
			margin: -20px 0 0 0;
		}
		.events-index-content{
			margin: 10px 0;
			a, a:visited{
				color: $main_orange;
			}
			a:hover{
				text-decoration: none;
			}
		}
		.events-index-header, .events-index-content{
			a:hover{
				color: $main_orange;
			}
			a:visited{
				color: $main_orange;
			}
		}
		.events-index-bottom-content{
			margin-top: 40px;
		}
		.events-index-content{
			font-size: 20px;
			font-weight: 100;
			text-align: center;
			line-height: 1.5em;
		}
		.events-row-content{
			margin: 10px 0;
		}
		.events-row{
			margin: 30px 0 -35px 0;
		}
		.single-event{
			margin: -30px 7px 50px 7px;
			position: relative;
			height: 310px;
			z-index: 500;
			opacity: 1;
			-webkit-transition-property:opacity;
			-webkit-transition-duration:100ms;
			-webkit-transition-timing-function:linear;
			-webkit-transition-delay:100ms;
			#ribbon {
			width: 180px;
			height: 110px;
			margin: 50px auto 0;
			position: absolute;
			float: right;
			right: -20px;
			top: -60px;
			overflow: hidden;
			}
			#ribbon .inset {
				width: 150px;
				height: 55px;
				position: absolute;
				top: -50px;
				left: 15px;
				z-index: 5;
				
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				
				background: rgba(0,0,0,0.3);
				
				box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
				-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
			}

			#ribbon .container {
				position: relative;
				width: 100px !important;
				height: 110px;
				overflow: hidden;
				margin: 0 auto;
			}

			#ribbon.current .base{
				background: $main_orange;
			}

			#ribbon .base {
				height: 55px;
				width: 100px;
				background: rgb(60, 60, 60);
				position: relative;
				z-index: 2;
				h3{
					margin: 0;
					color: white;
					font-size: 20px;
					padding-top: 20px;
					line-height: 1.5em;
					font-weight: 100;
					text-align: center;
				}
				h4{
					margin: 0;
					color: white;
					font-size: 18px;
					padding-top: 16px;
					line-height: 1.2em;
					font-weight: 100;
					text-align: center;
				}
			}

			#ribbon .base:after {
				content: '';
				position: absolute;
				top: 0;
				width: 86px;
				left: 6px;
				height: 92px;
				//border-left: 1px dashed rgba(0, 0, 0, 1);
				//border-right: 1px dashed rgba(0, 0, 0, 1);
			}

			#ribbon .base:before {
				content: '';
				position: absolute;
				top: 0;
				width: 86px;
				left: 7px;
				height: 92px;
				border-left: 1px rgba(0, 0, 0, 1);
				border-right: 1px rgba(0, 0, 0, 1);
			}

			#ribbon .left_corner {
				width: 100px;
				height: 100px;
				background: rgb(60, 60, 60);
				position: absolute;
				bottom: 20px;
				left: -50px;
				z-index: 1;
				
				-webkit-transform: rotate(60deg);
				-moz-transform: rotate(60deg);
				-ms-transform: rotate(60deg);
				-o-transform: rotate(60deg);
				transform: rotate(60deg);
			}

			#ribbon.current .left_corner{
				background: $main_orange;
			}

			#ribbon .right_corner {
				width: 100px;
				height: 100px;
				background: rgb(60, 60, 60);
				position: absolute;
				bottom: 20px;
				right: -50px;
				z-index: 1;
				
				-webkit-transform: rotate(30deg);
				-moz-transform: rotate(30deg);
				-ms-transform: rotate(30deg);
				-o-transform: rotate(30deg);
				transform: rotate(30deg);
			}

			#ribbon.current .right_corner{
				background: $main_orange;
			}
			
			.event-image{
				background: black;
				height: 310px;
				overflow: hidden;
				img{
					min-height: 100%;
					min-width: 470px;
					width: 100%;
					height: auto;
				}
			}
		}
		.event-happened:hover,.event-current:hover{
			opacity: 0.9;
		}
		.event-upcoming:hover{
			opacity: 1.0;
		}
		.event-upcoming .event-blurb, .event-current .event-blurb{
			position: absolute;
			color: white;
			background: rgba(0, 0, 0, 0.8);
			top: 0;
			opacity: 0;
			text-align: center;
			height: 310px;
			table{
				height: 310px;
				width: 570px;
			}
			td{
				vertical-align: middle;
				padding: 10px;
			}
			p{
				font-size: 14px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
		}
		.event-upcoming:hover .event-blurb{
			display: inherit;
			opacity: 1;
		}

		.event-current:hover .event-blurb{
			display: inherit;
			opacity: 1;
		}
		.event-happened,.event-current,.event-upcoming{
			opacity: 1.0;
		}
		.event-info{
			position: absolute;
			margin: 0 !important;
			color: white;
			background: transparent;
			bottom: 0px;
			table{
				background: rgba(0, 0, 0, 0.8);
				width: 100%;
				td{
					padding: 10px;
				}
			}
			h1{
				font-size: 17px;
				color: white;
				font-weight: 100;
				line-height: 1.5em;
				margin: 0;
			}
			h2{
				font-size: 12px;
				color: white;
				font-weight: 100;
				line-height: 1.5em;
				margin: 0;
			}
		}
		.events-section{
			margin: 0 0 20px 0;
		}
	}
}

// event dashboard styling
.single-event-dashboard{
	.single-event-stats{
		margin-top: 20px;
		width: 100%;
		.single-event-numbers{
			font-size: 34px;
			line-height: 1.5em;
			font-weight: 100;
			text-align: center;
			td{
				border-right: 1px solid gray;
			}
			td:last-child{
				border-right: none;
			}
			a, a:visited{
				color: black;
			}
			a:hover{
				color: $main_orange;
				text-decoration: none;
			}
		}
		.single-event-labels{
			text-align: center;
			font-size: 20px;
			line-height: 1.5em;
			font-weight: 100;
			td{
				border-right: 1px solid gray;
			}
			td:last-child{
				border-right: none;
			}
		}
	}
	.single-event-actions{
		height: 140px;
		margin-top: 39px;
		font-size: 20px;
		font-weight: 100;
		text-align: left;
		line-height: 1.5em;
		position: relative;
		a, a:visited, a:hover{
			color: white;
			text-decoration: none;	
			height: 40px;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 30px 10px;
		}
	}
}



// event profile styling

.event-profile{
	height: 700px;
	position: relative;
	z-index: 0;
	.close{
		font-weight: 400;
		color: white;
		text-shadow: 0 0 0;
		opacity: 0.7;
	}
	.btn#remove-image{
    	right: 5px;
		position: absolute;
		z-index: 50;
		background: $main_orange;
		border: none;
		color: white;
		top: 5px;
		display: none;
    }
    .btn#remove-image.edit{
    	display: inherit;
    }
	#event-carousel {
		position: absolute;
	    width: 100%;
	    z-index: -1;
		.carousel-inner{
			height: 700px;
			min-width: 1210px;
			position: relative;
			z-index: 1;
			img{
				width: 100%;
				background: no-repeat;
			}
			p{
				background: $main_orange;
				margin-top: 16px;
				margin-bottom: 10px;
				color: white;
				padding: 5px;
				display: inline-block;
				right: 10px;
				text-align: right;
				z-index: 5;
				top: 10px;
				position: absolute;
				line-height: 1.2em;
				font-size: 12px;
			}
		}
		.carousel-indicators{
			float: none;
			li{
				background: rgb(200,200,200);
			}
			.active{
				background: $main_orange;
			}
		}
	}
	.carousel-control{
		font-size: 40px;
		color: white;
		top: 40%;
		z-index: 50;
		background: rgba(0, 0, 0, 0.7);
		border: none;
		line-height: 33px;
		margin-top: 0;
		border-radius: 0;
		width: 30px;
		cursor: pointer;
	}
	.carousel-control.left{
		left: 0;
	}
	.carousel-control.right{
		right: 0;
	}
	.event-registration, .event-feedback {
	    margin-top: 25px;
	    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		.preview-label{
			background: $main_orange;
			margin-top: -10px;
			margin-bottom: 10px;
			color: white;
			padding: 2px 5px;
			display: inline-block;
		}

		#ribbon {
			width: 180px;
			height: 110px;
			margin: 50px auto 0;
			position: absolute;
			float: right;
			right: -20px;
			top: -60px;
			overflow: hidden;
		}
		#ribbon .inset {
			width: 150px;
			height: 55px;
			position: absolute;
			top: -50px;
			left: 15px;
			z-index: 5;
			
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			
			background: rgba(0,0,0,0.3);
			
			box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
		}

		#ribbon .container {
			position: relative;
			width: 100px !important;
			height: 110px;
			overflow: hidden;
			margin: 0 auto;
		}

		#ribbon .base {
			height: 55px;
			width: 100px;
			background: black;
			//background: rgba(80, 80, 80, 1);
			position: relative;
			z-index: 2;
			h3{
				margin: 0;
				color: white;
				font-size: 20px;
				padding-top: 20px;
				line-height: 1.5em;
				font-weight: 100;
				text-align: center;
			}
		}

		#ribbon .base:after {
			content: '';
			position: absolute;
			top: 0;
			width: 86px;
			left: 6px;
			height: 92px;
			//border-left: 1px dashed rgba(0, 0, 0, 1);
			//border-right: 1px dashed rgba(0, 0, 0, 1);
		}

		#ribbon .base:before {
			content: '';
			position: absolute;
			top: 0;
			width: 86px;
			left: 7px;
			height: 92px;
			border-left: 1px rgba(0, 0, 0, 1);
			border-right: 1px rgba(0, 0, 0, 1);
		}

		#ribbon .left_corner {
			width: 100px;
			height: 100px;
			background: black;
			//background: rgba(80, 80, 80, 1);
			position: absolute;
			bottom: 20px;
			left: -50px;
			z-index: 1;
			
			-webkit-transform: rotate(60deg);
			-moz-transform: rotate(60deg);
			-ms-transform: rotate(60deg);
			-o-transform: rotate(60deg);
			transform: rotate(60deg);
		}

		#ribbon .right_corner {
			width: 100px;
			height: 100px;
			background: black;
			//background: rgba(80, 80, 80, 1);
			position: absolute;
			bottom: 20px;
			right: -50px;
			z-index: 1;
			
			-webkit-transform: rotate(30deg);
			-moz-transform: rotate(30deg);
			-ms-transform: rotate(30deg);
			-o-transform: rotate(30deg);
			transform: rotate(30deg);
		}
		.preview-box{
			table.accommodations td:nth-child(2){
			padding-left: 0;
			border-left: none;
			}
		}
		.event-summary {
		    background: rgba(0, 0, 0,.8);
		    padding: 30px;	
		    position: relative;
		    -webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
			.event-summary-logistics-container{
				padding: 5px 0;
				margin: 15px -37px 25px -37px;
				background: black;
			}
			.add-on{
				color: white;
				margin-bottom: 10px;
				font-size: 12px;
				font-weight: 100;
				input{
					margin-bottom: 7px;
					margin-right: 5px;
					height: 24px;
					width: 24px;
					}
			}
			.event-summary-logistics{
				//border-top: 1px dashed rgb(100, 100, 100);
				//border-bottom: 1px dashed rgb(100, 100, 100);
				background: black;
				//background: rgb(80, 80, 80);
				padding: 10px 30px;
				margin: 0px;
			}
			.progress, .bar{
				height: 10px;
				border-radius: 0;
			}
			.progress{
				margin: 5px 0;
			}
			.event-summary-top{
				width: 310px;
			}
			table.accommodations td{
				color: white;
				border-left: 1px solid white;
				font-size: 12px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				padding: 0 5px;
			}
			table.accommodations td:first-child{
				padding-left: 0;
				border-left: none;
			}
			.event-button-group{
				margin: 20px auto 10px auto;
				display: table;
				width: 100%;
				p{
					text-align: left;
					margin-top: 2px;
				}
				li{
					float: left;
					display: table-cell;
					width: 32%;
					margin: 0 0.5%;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
				}
				button{
					margin: 0;
				}
				.btn{
					width: 100%;
					padding: 4px 6px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
				}
				.btn.attendees{
					font-size: 12px;
					line-height: 1.2em;
					padding: 0;
				}
				.active .btn{
					background: $main_orange;
					color: white;
					border-color: $main_orange;
				}
			}
			a, a:visited, a:active{
			font-size: 16px;
			font-weight: 100;
			color: white;
			margin: 0;
			text-decoration: none;
			}

			a.event-location{
				font-size: 12px;
			}

			a.host{
				font-size: 20px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			a:hover{
				color: rgb(200, 200, 200);
			}
			.host{
				display: inline;
			}

			h1{
				font-size: 30px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			h2{
				font-size: 20px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			h3{
				font-size: 16px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			h4{
				font-size: 12px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			hr{
				margin: 10px 0;
				border-bottom: none;
			}
			.event-follow-button{
				width: 100%;
				padding: 7px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
				margin-top: -5px;
				margin-bottom: 15px;
				font-size: 18px;
				font-weight: 300;
				line-height: 1.2em;
			}
			.number-of-seats{
				margin-top: 0;
				margin-bottom: 15px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
				width: 75%;
			}
			.event-go-button{
				width: 23%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
				margin-top: -8.5px;
			}
			.grab-seats-button, .join-waitlist-button{
				width: 100%;
				padding: 7px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
				margin-top: -5px;
				margin-bottom: 15px;
				font-size: 20px;
				font-weight: 300;
				line-height: 1.2em;
			}
			.standalone-button{
				width: 49.5%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
			}
			.standalone-button:hover{
				color: white;
			}
			.event-sharing{
				margin-top: 10px;
				color: white;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				tr.icons{
					line-height: 50px;
					td{
						line-height: 50px;
						a{
							cursor: pointer;
						}
					}
				}
				.host-stat-labels, .host-stats{
					a, a:hover	{
						color: white;
						font-size: 14px;
					}
				}
				td{
					text-align: center;
					width: 25%;
					font-weight: 100;
					line-height: 15px;
					.btn{
						width: 32px;
						height: 32px;
						border-radius: 50%;
						font-size: 12px;
						padding: 0;
						text-align: center;
						line-height: 32px;
						font-weight: 400;
					}
				}
			}
			.addthisevent-drop{
				vertical-align: middle;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				font-size: 32px;
				padding: 0;
				text-align: center;
				line-height: 32px;
				font-weight: 900;
				background: #ececec;
				color: black;
				border: none;
				margin: 0 auto;
				font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
			}
			#atedrop1-drop{
				font-weight: 500;
				font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
			}
			.addthisevent_dropdown span{
				color: black;
			}
			p{
			    text-align: left;
			    color: white;
			    margin-top: 0px;
			    margin-bottom: 0px;
			    font-size: 12px;
			}
			p.point-out{
				color: $main_orange;
				display: inline;
            }
            p.point-out-white{
            	color: white;
            	display: inline;
            	float: right;
            }
		}
		.event-guests, .event-purchase, .event-details, .event-menu, .event-attendees-and-chatter, .event-host-story, .host-followers{
			overflow-y: auto;
			height: 490px;
			p{
				color: white;
				margin: 0;
				font-weight: 100;
				a{
					margin: 0;
					font-weight: 100;
				}
			}
			p.point-out{
				color: $main_orange;
				margin-top: 5px;

            }
		}
		.event-create-form{
			height: 432px;
			overflow-y: auto;
			#event-accommodations{
				p{
					margin: 0;
				}
			}
		}
		.menu{
			font-weight: 100;
			margin: 5px 0;
			display: inline;
		}
		iframe.menu{
			margin-top: 10px;
		}
		a#remove{
			text-decoration: none;
			display: none;
			padding-left: 10px;
			cursor: select;
			color: $main_orange;
			font-weight: 100;
		}
		a#remove.edit{
			display: inherit;
		}
		.host-followers, .attendees{
			.nav{
				li{
					font-size: 16px;
					a, a:hover, a:active{
						-webkit-border-radius: 0px;
						border-radius: 0px;
						background-clip: padding-box;
						padding: 4px 15px;
						border: none;
						margin-right: 5px;
					}
					a:hover, a:active{
						background: $main_orange;
						border: none;
						color: white;
					}
				}
				li.active{
					a{
						background: $main_orange;
					}
				}
			}
			.nav-tabs{
				border-bottom: none;
				margin-top: 15px;
				margin-bottom: 10px;
			}
			table{
				margin-bottom: 10px;
				width: 100%;
				font-size: 14px;
				color: white;
			}
			tr:first-child{
				border-top: none;
			}
			tr{
				border-top: 1px solid white;
				height: 40px;
			}
			td{
				vertical-align: middle;
				a{
					display: table-cell;
				}
				img{
					width: 50px;
					height: auto;
				}
			}
		}
		.event-purchase, .event-purchase-confirmation, .event-create-confirmation, .event-guests, .event-details, .event-menu, .event-attendees-and-chatter, .event-host-story, .host-followers, .event-create-form, .event-edit-form{
			background: rgba(0,0,0,0.8);
			padding: 30px;
			.event-sharing{
				margin-top: 10px;
				color: white;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				tr.icons{
					line-height: 50px;
					td{
						line-height: 50px;
						a{
							cursor: pointer;
						}
					}
				}
				.host-stat-labels, .host-stats{
					a, a:hover	{
						color: white;
						font-size: 14px;
					}
				}
				td{
					text-align: center;
					width: 25%;
					font-weight: 100;
					line-height: 15px;
					.btn{
						width: 32px;
						height: 32px;
						border-radius: 50%;
						font-size: 12px;
						padding: 0;
						text-align: center;
						line-height: 32px;
						font-weight: 400;
					}
				}
			}
			.addthisevent-drop{
				vertical-align: middle;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				font-size: 32px;
				padding: 0;
				text-align: center;
				line-height: 32px;
				font-weight: 900;
				background: #ececec;
				color: black;
				border: none;
				margin: 0 auto;
				font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
			}
			#atedrop1-drop{
				font-weight: 500;
				font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
			}
			.addthisevent_dropdown span{
				color: black;
			}
			p{
			    text-align: left;
			    color: white;
			    margin-top: 0px;
			    margin-bottom: 0px;
			    font-size: 12px;
			}
			.attendees, .comments, .followers{
				margin-left: 0;
				img{
					width: 50px;
					height: auto;
					margin: 0 5px;
				}
			}
			.comments{
				margin-top: 10px;
				padding-top: 10px;
				margin-left: 0;
			}
			.fb-comments{
				margin: 0 auto;
			}
			h1{
				font-size: 30px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			h2{
				font-size: 20px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin-bottom: 20px;
			}
			h3{
				font-size: 16px;
				line-height: 1.5em;
				color: white;
				font-weight: 100;
			}
			hr{
				margin: 10px 0;
				border-bottom: none;
			}
			p{
				font-size: 14px;
				padding: 2px 0;
			}
			input, input[type='string'], input[type='integer']{
				display: inline-block;
  				height: 20px;
  				padding: 4px 6px;
				margin-bottom: 10px;
				font-size: 14px;
				line-height: 20px;
				color: #555555;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				vertical-align: middle;
				width: 100%;
				min-height: 30px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
			}
			#city{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 50%;
			}
			#state{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 25%;
			}
			#zipcode{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 23%;
			}
			#credit_card_number{
				width: 50%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
			}
			#security_code{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 15%;
				display: inline-block;
			}
			#expiration_month{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 48.5%;
				display: inline-block;
			}
			#expiration_year{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 48.5%;
				display: inline-block;
			}
			#expiration{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 33%;
				display: inline-block;
			}
			#security_code, #expiration{
				color: white;
				p{
					font-size: 12px;
					font-weight: 100;
				}
			}
			#submit, #ticket-purchase, #previous-button, #enter-payment-info, #ok-button{
				float: right;
			}
			#ticket-purchase{
				margin: 0;
			}
			#previous-button{
				margin: 0 10px 0 0;
			}
			#submit, #enter-payment-info, #ok-button{
				margin: 0;
			}
			#ok-button{
				margin-top: 30px;
			}
			#submit{
				margin-top: 10px;
			}
			.btn{
				margin: 5px 0 5px 0;
			}
			#event-blurb{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 100%;
			}
			#event-date-time{
				color: white;
				font-weight: 100;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				#event-date, #times, #duration{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
				}
				#event-date{
					width: 48.5%;
				}
				#times{
					width: 24%;
				}
				#duration{
					width: 25.5%;
				}
			}
			#event-accommodations{
				color: white;
				font-weight: 100;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				input{
					width: 5%;
					margin-top: 12px;
				}
				label{
					display: inline-block;
					font-weight: 100;
				}
			}
			#event-location{
				color: white;
				font-weight: 100;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				#neighborhoods{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
					width: 100%;
				}
				#event-address{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
					width: 100%;
				}
				#event-city{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
					width: 50%;
				}
				#state{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
					width: 25%;
				}
				#event-zipcode{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
					width: 23%;
				}
				#event-neighborhood{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
					width: 100%;
				}
			}
			#event-ticket-details{
				color: white;
				font-weight: 100;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				.input-prepend{
					width: 49.25%;
					margin: 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
				}
				.add-on{
					color: rgb(54, 54, 54);
				}
				#ticket-cost{
					width: 86%;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
				}
				#people-limit{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;    
					box-sizing: border-box;
					width: 49.25%;
				}
			}
			#event-images-button, #event-menu-button{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 49.25%;
			}
			a, a:visited{
				color: white;
				text-decoration: none;
			}
			a:hover{
				color: rgb(200,200,200);
			}
			.guest-name, .guest-email{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
			}
			a#promo-code{
				cursor: pointer;
			}
			a#promo-code:hover{
				color: rgb(200, 200, 200);
			}
			input.promo-code{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
				width: 51%;
				margin: 10px 0;
			}
			.help-block-white.promo-code{
				margin-bottom: 10px;
			}
			.guest-name{
				width: 25%;
			}
			.guest-email{
				width: 48.4%;
			}
			.guests{
				margin: 0;
			}
		}
		.event-menu a.fancybox{
			text-align: right;
		}
	}
}

// event feedback styling

.event-feedback{
	margin-top: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	.event-summary{
		background: rgba(0,0,0,.8);
		padding: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		.event-summary-logistics-container{
			padding: 5px 0;
			margin: 15px -37px 25px -37px;
			background: black;
		}
		.event-summary-logistics{
			//border-top: 1px dashed rgb(100, 100, 100);
			//border-bottom: 1px dashed rgb(100, 100, 100);
			background: black;
			//background: rgb(80, 80, 80);
			padding: 10px 30px;
			margin: 0px;
		}
		.event-button-group{
			margin: 20px auto 10px auto;
			display: table;
			width: 100%;
			p{
				text-align: left;
				margin-top: 2px;
			}
			li{
				float: left;
				display: table-cell;
				width: 24%;
				margin: 0 0.5%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
			}
			button{
				margin: 0;
			}
			.btn{
				width: 100%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
			}
			.active .btn{
				background: $main_orange;
				color: white;
				border-color: $main_orange;
			}
		}
		a, a:visited, a:active{
		font-size: 16px;
		font-weight: 100;
		color: white;
		margin: 0;
		text-decoration: none;
		}

		a.host{
			font-size: 20px;
			line-height: 1.5em;
			font-weight: 100;
			color: white;
			margin: 0;
		}
		a:hover{
			color: rgb(200, 200, 200);
		}
		.host{
			display: inline;
		}
		h1{
			font-size: 30px;
			line-height: 1.5em;
			font-weight: 100;
			color: white;
			margin: 0;
		}
		h2{
			font-size: 20px;
			line-height: 1.5em;
			font-weight: 100;
			color: white;
			margin: 0;
		}
		h3{
			font-size: 16px;
			line-height: 1.5em;
			font-weight: 100;
			color: white;
			margin: 0;
		}
		hr{
			margin: 10px 0;
			border-bottom: none;
		}
		.event-sharing{
			margin-top: 10px;
			color: white;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			tr.icons{
				line-height: 50px;
				td{
					line-height: 50px;
					a{
						cursor: pointer;
					}
				}
			}
			td{
				text-align: center;
				width: 25%;
				font-weight: 100;
				line-height: 15px;
				.btn{
					width: 32px;
					height: 32px;
					border-radius: 50%;
					font-size: 12px;
					padding: 0;
					text-align: center;
					line-height: 32px;
					font-weight: 400;
					}
				}
			}
		p{
		    text-align: right;
		    color: white;
		    margin-top: 10px;
		    font-size: 12px;
		}
		.feedback-actions{
			width: 100%;
			a.point-action{
				cursor: pointer;
				padding: 0;
				font-size: 14px;
			}
			.event-attending-points{
				margin: 20px 0;
			}
			.points{
				width: 100%;
				color: white;
				vertical-align: middle;
				float: right;
				line-height: 40px;
				height: 40px;
				font-size: 20px;
				text-align: right;
				font-weight: 100;
			}
			img{
				float: right;
				width: 30px;
			}
		}
	}
	.event-survey, .event-yelp, .point-ranking{
		td{
			padding-left: 5px;
			img{
				width: 30px;
				height: auto;
			}
		}

	}
	.event-recap{
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				float: left;
				padding: 0 5px;
				border-right: 1px white solid;
				a{
					font-size: 14px;
				}
			}
			li:first-child{
				padding-left: 0;
			}
			li:last-child{
				border-right: none;
			}
		}
		button.add-quote{
			float: none;
			display: block;
			margin-left: 0;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.edit-form textarea{
			width: 100%;
			margin-top: 15px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box; 
		}
		.edit-form .btn.edit{
			margin-top: 0px;
		}
	}
	.event-survey, .event-yelp, .point-ranking, .more-points, .event-recap{
		background: rgba(0,0,0,0.8);
		padding: 30px;
		height: 490px;
		overflow: auto;
		h1{
			font-size: 30px;
			line-height: 1.5em;
			font-weight: 100;
			color: white;
			margin: 0;
			margin-bottom: 10px;
		}
		h2{
			font-size: 20px;
			line-height: 1.5em;
			font-weight: 100;
			color: white;
			margin-bottom: 20px;
		}
		h3, a, a:visited{
			font-size: 16px;
			line-height: 1.5em;
			color: white;
			font-weight: 100;
			text-decoration: none;
		}
		a:hover{
			color: rgb(200, 200, 200);
		}
		table.quotes{
			tr{
				border-top: none;
			}
			td{
				padding: 5px;
				vertical-align: top;
			}
			img{
				padding-top: 2px;
				width: 100%;
			}
			p{
				color: white;
				font-weight: 100;
			}
			.quoter-image{
			    width: 20%;
			}
			.quoter-quote{
			    width: 80%;
			}
		}
		hr{
			margin: 10px 0;
			border-bottom: none;
		}
		input, input[type='string'], input[type='integer']{
			display: inline-block;
			height: 20px;
			padding: 4px 6px;
			font-size: 14px;
			line-height: 20px;
			color: #555555;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			vertical-align: middle;
			width: 100%;
			min-height: 30px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box; 
		}
		.btn{
			float: right;
			margin-left: 10px;
		}
		table{
			margin-bottom: 10px;
			width: 100%;
		}
		td{
			color: white;
		}
		tr:first-child{
			border-top: none;
		}
		tr{
			border-top: 1px solid white;
			height: 40px;
		}
		.point-action-cell{
			width: 80%;
		}
		.feedback-actions{
			width: 100%;
			.point-action{
				cursor: pointer;
				padding: 0;
			}
			.event-attending-points{
				margin: 20px 0;
			}
			.points{
				width: 100%;
				color: white;
				vertical-align: middle;
				float: right;
				line-height: 40px;
				height: 40px;
				font-size: 20px;
				text-align: right;
				font-weight: 100;
			}
			img{
				float: right;
				width: 30px;
			}
		}
	}
	.more-points{
		tr{
			border-top: none;
		}
	}
}

.point-ranking{
	.nav{
		li{
			a, a:hover, a:active{
				-webkit-border-radius: 0px;
				border-radius: 0px;
				background-clip: padding-box;
				padding: 4px 8px;
				color: white;
				border: none;
			}
			a:hover, a:active{
				background: $main_orange;
				border: none;
			}
		}
		li.active{
			a{
				background: $main_orange
			}
		}
	}
	.nav-tabs{
		border-bottom: none;
	}
	.current-user-rank{
		background: rgba(255, 255, 255, 0.25);
		td{
			color: white;
			font-weight: 800;
		}
	}
}