// colors 

$main_orange: rgb(255, 178, 35);
$trans_black: rgba(0,0,0,0.9);

// error message styling

ul.parsley-error-list{
  list-style-type: none;
  font-size: 14px;
  margin-left: 0;
}

// header styling FOR SIGNUPS

.launch-navbar{
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 0px 20px 0px #000;
    box-shadow: 0px 0px 20px 0px #000;
  .brand{
    height: 40px;
    width: 90px;
    float: left;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  .navbar-inner{
    background-color: $trans_black;
    background-image: none;
    border: none;
    box-shadow: 0;
    border-radius: 0;
    display: block;
    margin-top: 0px;
    padding-right: 0;
    font-weight: 500;
    .nav{  
      font-size: 14px;
      float: none;
      .pull-right{
        float: right;
      }
      li {
      float: left;
      }
      li > a:link, a:visited{
        background-color: transparent;
        box-shadow: none;
        color:white;
        padding: 20px 20px 20px;
        text-shadow: none;
        font-weight: normal;
      }
      li > a:hover, a:active{
        color: white;
        background-color: rgba(255, 255, 255, 0.25);
      }
      li > a:focus{
        outline: none;
        color: white;
      }
//      .caret{
//        border-top-color: white;
//      }
      .dropdown-menu{
        background-color: $trans_black;
        color: white;
        right: 0;
        left: 0;
      }
      .dropitem{
        p{
          padding: 0px 10px 0px 10px;
        }
        form{
          padding: 0px 10px 10px 10px;
          .span2{
            width: 120px;
          }
        }
        a:link, a:visited{
          box-shadow: none;
          padding: 10px 0px 10px 10px;
          color: white;
          text-shadow: none;
          font-weight: normal;
        }
        a:hover{
           color: white;
           background-color: $main_orange;
           background-image: none;
        }
      }
    }    
  }
}

// hero unit styling 
.attention-getter{
	height: 700px;
	#home-carousel{
		position: absolute;
		width: 100%;
	    z-index: -1;
		.carousel-inner{
			height: 700px;
			width: auto;
			img{
				min-width: 100%;
				background: no-repeat;
			}
			.caption{
				background: rgba(0, 0, 0, 0.8);
				position: absolute;
				padding: 5px 30px;
				left: 0;
				right: 0;
				top: 500px;
				z-index: 500;
				color: white;
				h4{
					font-weight: 100;
					line-height: 1.5em;
					font-size: 20px;
				}
				p{
					line-height: 1.5em;
				}
			}
		}
	}
	.carousel-control{
		font-size: 50px;
		color: white;
		font-size: 80px;
		top: 50%;
		z-index: 50;
		background: none;
		border: none;
	}
	.carousel-indicators{
		float: right;
		position: absolute;
		z-index: 50;
	}
	.copy{
		margin-top: 80px;
    	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		.copy-content{
			background: rgba(0,0,0,.8);
	    	padding: 30px;
	    	-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
			h1{
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 100;
				color: white;
				margin: 0;
				text-align: center;
			}
			h2{
				font-size: 20px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			p{
			    text-align: center;
			    color: white;
			    margin-top: 10px;
			    font-size: 12px;
			}
			a.sign-in-link{
				color: $main_orange;
			}
			a.sign-in-link:hover{
				color: white;
				text-decoration: none;
			}
		}
		.how-it-works-button{
			margin: 20px auto 0 auto;
			display: block;
			width: 80%;
			height: 20%;	
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box; 
		}
		.sign-up-button, .view-events-button{
			margin: 10px auto 0 auto;
			display: block;
			width: 80%;
			height: 20%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box; 
		}
	}
}

// how it works styling
.section-header{
	margin: 20px 0 20px 0;
	h1, a{
		font-size: 30px;
		color: black;
		line-height: 1.5em;
		font-weight: 100;
	}
	a{
		text-decoration: none;
	}
}

.accordion{
	margin: 0;
}

.accordion-inner{
	border-top: none;
}

#how-it-works{
	text-align: center;
}

#how-it-works-detail{
	text-align: center;
}
	
.step, .step-one{
	background: url('Food 17.jpg');
	height: 350px;
	margin-top: 20px;
	h1{
		font-size: 30px;
		line-height: 1.5em;
		font-weight: 100;
		background: rgba(0,0,0,0.8);
		color: white;
		text-align: center;
	}
	.step-description{
		height: 250px;
		background: rgba(0,0,0,0.8);
		padding: 10px;
		display: none;
		p{
			font-size: 14px;
			line-height: 1.5em;
			font-weight: 100;
			color: white;
			text-align: left;
		}
	}
}

.section{
	margin: 0;
	padding: 0;
	background: rgb(240, 240, 240);
}

// not used

.featured-events{
	padding: 10px 0;
	a, a:visited{
		color: $main_orange;
		text-decoration: none;
	}
}

// begin events styling

.more-button{
	margin-top: 20px;
	width: 100%;
}

a.more-button:visited{
	color: white;
}

