// colors 

$main_orange: rgb(255, 178, 35);
$trans_black: rgba(0,0,0,0.9);

// error message styling

ul.parsley-error-list{
  list-style-type: none;
  font-size: 14px;
  margin-left: 0;
}

// header styling FOR SIGNUPS

.launch-navbar{
  margin-bottom: 0px;
  -webkit-box-shadow: 0px 0px 20px 0px #000;
    box-shadow: 0px 0px 20px 0px #000;
  .brand{
    height: 40px;
    width: 90px;
    float: left;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  .navbar-inner{
    background-color: $trans_black;
    background-image: none;
    border: none;
    box-shadow: 0;
    border-radius: 0;
    display: block;
    margin-top: 0px;
    padding-right: 0;
    font-weight: 500;
    .nav{  
      font-size: 14px;
      float: none;
      .pull-right{
        float: right;
      }
      li {
      float: left;
      }
      li > a:link, a:visited{
        background-color: transparent;
        box-shadow: none;
        color:white;
        padding: 20px 20px 20px;
        text-shadow: none;
        font-weight: normal;
      }
      li > a:hover, a:active{
        color: white;
        background-color: rgba(255, 255, 255, 0.25);
      }
      li > a:focus{
        outline: none;
        color: white;
      }
//      .caret{
//        border-top-color: white;
//      }
      .dropdown-menu{
        background-color: $trans_black;
        color: white;
        right: 0;
        left: 0;
      }
      .dropitem{
        p{
          padding: 0px 10px 0px 10px;
        }
        form{
          padding: 0px 10px 10px 10px;
          .span2{
            width: 120px;
          }
        }
        a:link, a:visited{
          box-shadow: none;
          padding: 10px 0px 10px 10px;
          color: white;
          text-shadow: none;
          font-weight: normal;
        }
        a:hover{
           color: white;
           background-color: $main_orange;
           background-image: none;
        }
      }
    }    
  }
}

// hero unit styling 
.attention-getter{
	height: 700px;
	z-index: 0;
	position: relative;
	#home-carousel{
		position: absolute;
		width: 100%;
	    z-index: -1;
		.carousel-inner{
			height: 700px;
			width: auto;
			position: relative;
			z-index: 1;
			img{				
				min-height: 100%;
				min-width: 1290px;
				width: 100%;
				height: auto;
				background: no-repeat;
			}
			a, a:hover, a:visited{
				text-decoration: none;
			}
			.caption{
				background: rgba(0,0,0,0.6);
				border: white 2px solid;
				position: absolute;
				margin: 0 auto;
				text-align: center;
				right: 5px;
				top: 540px;
				height: 120px;
				width: 120px;
				border-radius: 50%;
				padding: 12px;
				z-index: 5;
				color: white;
				.caption-text{
					position: relative;
					top: 55%;
					height: 100px;
					margin-top: -45px;
					//text-overflow: ellipsis;
				}
				h4{
					font-weight: 500;
					line-height: 1em;
					font-size: 16px;
					z-index: 6;
				}
				p{
					line-height: 1em;
					z-index: 6;
					font-size: 14px;
					font-weight: 300;
					//overflow: hidden;
					//text-overflow: ellipsis;
					//white-space: nowrap;
				}
			}
		}
	}
	.carousel-control{
		font-size: 40px;
		color: white;
		top: 40%;
		z-index: 50;
		background: rgba(0, 0, 0, 0.7);
		border: none;
		line-height: 33px;
		margin-top: 0;
		border-radius: 0;
		width: 30px;
		cursor: pointer;
	}
	.carousel-control.left{
		left: 0;
	}
	.carousel-control.right{
		right: 0;
	}
	.carousel-indicators{
		float: right;
		position: absolute;
		z-index: 50;
	}
	.copy{
		margin-top: 40px;
    	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		.copy-content{
			background: rgba(0, 0, 0, 0.6);
	    	padding: 30px;
	    	-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
			.logo{
				width: 10%;
				margin: 0 auto;
			}
			h1{
				font-size: 85px;
				line-height: 1em;
				font-weight: 400;
				color: white;
				margin: 0;
				text-align: center;
			}
			h2{
				font-size: 50px;
				line-height: 1em;
				font-weight: 100;
				color: white;
				margin: 0;
				text-align: center;
			}
			hr{
				width: 65%;
				margin: 25px auto;
				border-bottom-width: 2px;
			}
			h3{
				font-size: 24px;
				line-height: 1.3em;
				font-weight: 100;
				color: white;
				margin: 10px 0;
				text-align: center;
			}
			p{
			    text-align: center;
			    color: white;
			    margin-top: 10px;
			    font-size: 12px;
			}
			a.sign-in-link, a.sign-out-link{
				color: $main_orange;
			}
			a.sign-in-link:hover, a.sign-out-link:hover{
				color: darken($main_orange, 10%);
				text-decoration: none;
			}
		}
		.buttons{
			margin: 30px auto 0 auto;
			width: 60%;
			padding: 0;
		}
		.how-it-works-button{
			padding: 8px 2px;
			font-size: 18px;
			font-weight: 100;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box; 
		}
		.view-events-button{
			padding: 8px 2px;
			font-size: 18px;
			font-weight: 100;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box; 
		}
		.sign-up-button{
			display: inline-block;
			width: 49%;
			padding: 8px 2px;
			font-size: 18px;
			font-weight: 100;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
		}
		.foodiesignup{
			display: inline-block;
			width: 49.5%;
			padding: 8px 2px;
			font-size: 18px;
			font-weight: 100;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
		}
		.bizsignup{
			display: inline-block;
			width: 49.5%;
			padding: 8px 2px;
			font-size: 18px;
			font-weight: 100;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
		}
	}
}

// how it works styling
.section-header{
	margin: 20px 0 20px 0;
	h1, a{
		font-size: 30px;
		color: black;
		line-height: 1.5em;
		font-weight: 100;
	}
	a{
		text-decoration: none;

	}
	ul{
		display: block;
		margin: 0;
		li{
			float: left;
			cursor: pointer;
			.foodie{
				padding-top: 33px;
				height: 100px;
			}
			.chef{
				width: 301px;
				margin-top: 19px;
			}
			img{
				width: 50%;
			}
		}
	}
}

.accordion{
	margin: 0;
}

.accordion-inner{
	border-top: none;
	margin: 20px;
}

#how-it-works{
	text-align: center;
	margin-left: 0;
	a{
		display: block;
		font-size: 14px;
		cursor: pointer;
	}
	p{
		font-size: 18px;
	}
	.logo img{
		width: 10%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#how-it-works-detail{
	text-align: center;
	h3{
		font-size: 20px;
		font-weight: 100;
		line-height: 1.2em;
	}
}

.how-it-works{
	padding-top: 30px;
}

.how-it-works-event-infographic{
	margin: 0 auto;
	.step{
		border-radius: 50%;
		border: 25px rgb(54, 54, 54) solid;
		h1{
			padding-top: 10px;
			font-size: 30px;
			font-weight: 100;
			text-align: center;
		}
		.step-description{
			padding: 10px;
			p{
				font-size: 14px;
				line-height: 1.5em;
				font-weight: 100;
				text-align: center;
				vertical-align: middle;
			}
		}
	}
	.step:hover{
		border-color: $main_orange;
	}
	.step.browse{
		height: 240px;
		width: 240px;
		border-width: 12px;
		.step-description{
			width: 220px;
			padding-top: 20px;
		}
	}
	.step.register{
		margin-top: -30px;
		height: 300px;
		width: 300px;
		border-width: 26px;
		.step-description{
			width: 280px;
			padding-top: 45px;
		}
	}
	.step.tilt{
		margin-top: -20px;
		height: 200px;
		width: 200px;
		border-width: 18px;
		.step-description{
			width: 180px;
			padding-top: 5px;
		}
	}
	.step.return{
		margin-top: -15px;
		height: 280px;
		width: 280px;
		border-width: 15px;
		.step-description{
			width: 260px;
			padding-top: 20px;
		}
	}
	.step.attract{
		height: 300px;
		width: 300px;
		border-width: 18px;
		.step-description{
			width: 280px;
			padding-top: 45px;
		}
	}
	.step.engage{
		margin-top: -40px;
		height: 220px;
		width: 220px;
		border-width: 25px;
		.step-description{
			width: 190px;
			padding-top: 5px;
		}
	}
	.step.club{
		margin-top: -15px;
		height: 280px;
		width: 280px;
		border-width: 12px;
		.step-description{
			width: 260px;
			padding-top: 30px;
		}
	}
	.step.get-started{
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 300px;
		height: 150px;
		width: 150px;
		border-width: 20px;
		border-color: $main_orange;
		.step-description{
			width: 130px;
			text-align: center;
			font-size: 28px;
			line-height: 1.5em;
			padding-top: 25px;
			a{
				color: $main_orange;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}
}

.section{
	margin: 0;
	padding: 0;
	background: rgb(240, 240, 240);
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.attention-getter{
  		height: 500px;
  		#home-carousel{
  			.carousel-inner{
  				height: 500px;
  			}
  		}
 	}
 	.attention-getter .copy .copy-content{
  		h1{
  			font-size: 60px;
  		}
	  	h2{
	  		font-size: 30px;
	  	}
  		.how-it-works-button, .sign-up-button, .view-events-button{
  		font-size: 14px;	
  		}
	}
    .attention-getter #home-carousel .carousel-inner .caption{
		top: 300px;
		font-size: 14px;
  		height: 100px;
  		width: 100px;
  		.caption-text{
  			height: 100px;
  		}
  		h4{
  			font-size: 14px;
  		}
  		p{
  			font-size: 12px;
  		}
	}
    body{
  	padding: 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  	.attention-getter{
  		height: 350px;
  		#home-carousel{
  			.carousel-inner{
  				height: 350px;
  			}
  		}
  	}
  	.attention-getter .copy{
  		margin-top: 20px;
  	}
  	.attention-getter #home-carousel .carousel-inner img{
  		min-width: 50%;
  	}
  	.attention-getter .copy .copy-content{
  		h1{
  			font-size: 40px;
  		}
  		h2{
  			font-size: 20px;
  		}
  		.buttons{
  			width: 100%;
  		}
  		.how-it-works-button, .sign-up-button, .view-events-button{
  			font-size: 10px;
  			padding: 4px;
  		}
 	}
  	body{
  		padding: 0;
  	}
  .attention-getter #home-carousel .carousel-inner .caption{
		top: 200px;
		left: 0;
		right: 0;
		font-size: 14px;
  		height: 100px;
  		width: 100px;
  		.caption-text{
  			height: 100px;
  		}
  		h4{
  			font-size: 14px;
  		}
  		p{
  			font-size: 12px;
  		}
	}
    .attention-getter .carousel-control{
  		top: 10%;
    }
    #how-it-works-detail h3{
		font-size: 16px;
	}
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.attention-getter{
  		height: 625px;
  		#home-carousel{
  			.carousel-inner{
  				height: 625px;
  			}
  		}
 	}
    .attention-getter .copy .copy-content{
	  	h1{
	  		font-size: 75px;
	  	}
	  	h2{
	  		font-size: 35px;
	  	}
	  	.how-it-works-button, .sign-up-button, .view-events-button{
	  		font-size: 14px;
	  	}
	}
    .attention-getter #home-carousel .carousel-inner .caption{
		top: 350px;
	}
	.attention-getter .carousel-control{
  		top: 40%;
    }
    #how-it-works-detail h3{
		font-size: 16px;
	}
}