// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors

$trans_black: rgba(0,0,0,0.75);
$trans: rgba(0,0,0,0);
$main_coral: rgb(252, 73, 43);
$dark_coral: rgb(214, 61, 45);

body {
	font-family: 'Noto Sans', sans-serif !important;
}

// header styling

.navbar{
	margin-bottom: 0px;
	.navbar-inner{
		background-color: $dark_coral;
		background-image: -webkit-gradient(linear, left top, left bottom, from($main_coral), to($dark_coral));
		background-image: -webkit-linear-gradient(top, $main_coral, $dark_coral);
		background-image:    -moz-linear-gradient(top, $main_coral, $dark_coral);
		background-image:      -o-linear-gradient(top, $main_coral, $dark_coral);
		background-image:         linear-gradient(to bottom, $main_coral, $dark_coral);
		border: $main_coral;
		box-shadow: 0;
		border-radius: 0;
		display: block;
		margin-top: 0px;
		padding-right: 0;
		font-weight: 500;
		.nav{	
			font-size: 16px;
			float: none;
			.pull-right{
				float: right;
			}
			li > a:link, a:visited{
				background-color: transparent;
				box-shadow: none;
				color:white;
				padding: 25px 30px 25px;
				text-shadow: none;
				font-weight: normal;
			}
			li > a:hover, a:active{
				color: white;
				background-color: rgba(255, 255, 255, 0.25);
			}
			li > a:focus{
				outline: none;
				color: white;
			}
			.caret{
				border-top-color: white !important;
			}
			.dropdown-menu{
				background-color: white;
				right: 0;
				left: 0;
			}
			.dropitem{
				p{
					padding: 0px 10px 0px 10px;
				}
				form{
					padding: 0px 10px 10px 10px;
				}
				a:link, a:visited{
					box-shadow: none;
					padding: 10px 0px 10px 10px;
					color: black;
					text-shadow: none;
					font-weight: normal;
				}
				a:hover{
		 			color: white;
		 			background-color: $main_coral;
		 			background-image: none;
				}
			}
		}		
	}
}

// end header styling
// hero unit styling

.hero-unit{
    background-color: transparent;
	color: white;
	text-shadow: 2px 2px 20px #000;
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	position: relative;
	.copy{
		padding-left: 80px;
		width: auto;
		float: left;
		position: relative;
		margin: 0 auto 0 auto;
		h1{
			font-size: 70px;
			line-height: 80px
		}
	}
	.hero-bkgd{
		position: absolute;
		top: 0;
		width:100%;
		margin-left: auto;
		margin-right: auto;
		height: 400px;
		z-index: -1;
		.carousel-inner{
			height: 450px;
		}
		.carousel-control{
			border: none;
			background: none;
			top: 90%;
		}
	}
}

// end hero unit styling
// modal styling

.modal{
	width: 350px;
	background-color: rgba(255, 255, 255, 0.9);
	left: 60%;

	#myModalLabel{
		font-size: 15px;
		text-align: left;
		text-shadow: 1px 1px -1px #fff;	
	}
	.modal-header{
  		background-color: white;
  		background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#d4d4d4));
  		background-image: -webkit-linear-gradient(top, white, #d4d4d4);
  		background-image:    
  		-moz-linear-gradient(top, white, #d4d4d4);
  		background-image:      
  		-o-linear-gradient(top, white, #d4d4d4);
  		background-image:         
 		linear-gradient(to bottom, white, #d4d4d4);
 		-webkit-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
         -webkit-background-clip: padding-box; background-clip: padding-box;

	}
	.modal-body{
		padding: 0;
		text-align: left;
		margin: 10px 0 0 15px;
		p{
			margin-bottom: 5px;
		}
			.learn_more_link{
				color: $main_coral;
				a:hover{
					background-color: transparent;
					color: black;
					text-decoration: none;
				}
			}
	}
	input{
		font-size: 16px;
		height: 24px;
	}
	label{
		line-height: 32px;
		margin-left: 5px;
		font-size: 13px;
	}
}

.sign-up-text{
	margin-top: 15px;
}

.login_form{
	margin-top: 20px;
}

.strong{
	font-weight: 900;
}

.or-line{
	height: 1px;
	background: gray;
	width: 95%;
	margin-right: auto;
	border: 0;

  -webkit-box-shadow: 0px 2px 4px 0px gray;
          box-shadow: 0px 2px 4px 0px gray;

}

.login_form{
	background-color: gray;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

