// colors 

$main_orange: rgb(255, 178, 35);

// user card styling

.single-following{
	margin: -30px 7px 50px 7px;
}


// user profile styling

.user-profile{
	position: relative;
	z-index: 0;
	height: 625px;
	.btn#remove-image{
    	right: 5px;
		position: absolute;
		z-index: 50;
		background: rgba(0, 0, 0, 0.8);
		border: none;
		color: white;
    }
	#profile-carousel {
		position: absolute;
	    width: 100%;
	    z-index: -1;
	    .carousel-control{
		font-size: 40px;
		color: white;
		top: 40%;
		z-index: 50;
		background: rgba(0, 0, 0, 0.7);
		border: none;
		line-height: 33px;
		margin-top: 0;
		border-radius: 0;
		width: 30px;
		cursor: pointer;
		}
		.carousel-control.left{
			left: 0;
		}
		.carousel-control.right{
			right: 0;
		}
	    .carousel-control{
	    	font-size: 40px;
	    	line-height: 35px;
	    	z-index: 2;
	    }
		.carousel-inner{
			position: relative;
			z-index: 1;
			height: 625px;
			width: auto;
			img{
				width: 100%;
				background: no-repeat;
			}
			p{
				right: 50px;
				text-align: right;
				z-index: 5;
				font-weight: 100;
				font-size: 12px;
				top: 10px;
				position: absolute;
				color: white;
			}
		}
	}
	.user-overview{
		margin-top: 25px;
	    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		.profile-photo{
			vertical-align: middle;
			margin: 0;
			img{
				height: auto;
				width: 180px;
				min-width: 100px;
			}
		}
		.profile-summary-logistics-container{
			padding: 5px 0;
			margin: 15px -37px 25px -37px;
			background: white;
		}
		.profile-summary-logistics{
			background: white;
			padding: 10px 30px;
			margin: 0px;
		}
		.profile-button-group{
			margin: 20px auto 10px auto;
			display: table;
			width: 100%;
			p{
				text-align: left;
				margin-top: 2px;
			}
			li{
				float: left;
				display: table-cell;
				width: 24%;
				margin: 0 0.5%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
			}
			button{
				margin: 0;
			}
			.btn{
				width: 100%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box;
			}
			.active .btn{
				background: $main_orange;
				color: white;
				border-color: $main_orange;
			}
		}
		.user-profile-overview{
			background: rgba(255, 255, 255,.8);
		    padding: 30px;
		    -webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
		}
		.user-summary-edit{
			padding: 30px;
			background: rgba(255, 255, 255, 0.8);
		}
		.close{
			margin-top: -10px;
			margin-bottom: 10px;
			font-size: 16px;
		}
		.user-title{
			padding: 0 0 0 30px;
			vertical-align: top;
		}
		.user-summary{
			padding-top: 10px;
		}
	    .read-more{
	    	font-size: 10px;
	    }
	    a, a:visited, a:hover{
	    	color: black;
	    	text-decoration: none;
	    }
		h1{
			font-size: 30px;
			line-height: 1.2em;
			font-weight: 100;
			color: black;
			margin: 0;
		}
		h2{
			font-size: 20px;
			line-height: 1.5em;
			font-weight: 100;
			color: black;
			margin: 0;
		}
		h3{
			font-size: 16px;
			line-height: 1.5em;
			font-weight: 100;
			color: black;
			margin: 0;
		}
		hr{
			margin: 10px 0;
			border-bottom: none;
		}
		
		p{
		    text-align: right;
		    color: black;
		    margin-top: 10px;
		    font-size: 12px;
		}
		.user-social-stats{
			margin-top: 10px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			tr.icons{
				line-height: 50px;
				td{
					line-height: 50px;
					a{
						cursor: pointer;
					}
				}
			}
			td{
				text-align: center;
				width: 25%;
				font-weight: 100;
				line-height: 15px;
				.btn{
					width: 32px;
					height: 32px;
					border-radius: 50%;
					font-size: 12px;
					padding: 0;
					text-align: center;
					line-height: 32px;
					font-weight: 400;
				}
			}
		}
		.heart_this{
			margin: 0 auto;
			padding: 10px;
			background: rgba(255,255,255,0.8);
			width: 33px;
			height: 33px;
		}
	}
}

.badges .span10{
	margin: 0;
}

.user-summary, .user-title{
	.btn{
		width: 23%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box; 
		padding-left: 10px;
	}
}

.user-summary-edit{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	#profile-name{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
		width: 100%;
		height: 100%;
	}
	#profile-blurb{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
		width: 100%;
	}
	#neighborhoods{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
		width: 100%;
	}
	#profile-address{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
		width: 100%;
		height: 100%;
	}
	#profile-city{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
		width: 48%;
		height: 100%;
	}
	#state{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
		width: 24%;
	}
	#profile-zip{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
		width: 25%;
		height: 100%;
	}
	#submit, #cancel{
		float: right;
		margin: 5px 0 0 5px;
	}
	#yelp-connect{
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
	}
	#why-yelp{
		font-size: 10px;
		margin-left: 2px;
		color: black;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;    
	    box-sizing: border-box;
	}
	#profile-news{
		width: 100%;
	}
}

.container{
	.section-header{
		text-align: center;
		margin-left: 0;
/*		margin: 20px 0 20px -15px;*/
		h1{
			font-size: 30px;
			color: black;
			line-height: 1.5em;
			font-weight: 100;
		}
		ul{
			list-style: none;
			display: inline-block;
			vertical-align: middle;
			li{
				float: left;
				margin: 0 10px;
				a, a:visited{
					font-size: 16px;
					text-decoration: none;
					padding: 10px;
					color: black;
				}
				a:hover, a:active{
					background: $main_orange;
					text-decoration: none;
					color: white;
				}
			}
		}
		a:visited{
			color: black;
		}
	}
}

.user-news, .user-about, .badges, .user-events, .user-campaigns, .user-following, .user-chatter{
	background: rgb(230,230,230);
	padding: 0;
	margin: 0;
	.accordion{
		margin: 0;
		.accordion-inner{
			margin: 20px 0;
			padding: 4px 7px;
		}
	}
	p{
		font-size: 14px;
		line-height: 1em;
	}
	.conversants, .comments{
		img{
			width: 50px;
			height: auto;
			margin: 0 5px;
		}
	}
	.comments{
		margin-top: 10px;
		padding-top: 10px;
		img{
			margin-right: 10px;
		}
	}
}


#user-news, #user-about, #user-events, #user-campaigns, #user-following, #user-chatter{
	.caret{
		display: inline-block;
		vertical-align: middle;
		border-top: 6px solid gray;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		font-size: 60px;
	}
	.collapsed .caret{
		border-top: 6px solid $main_orange;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
	}
}

// dashboard stuff

.edit-button{
	background: rgba(255,255,255,0.8);
	margin-left: 0;
	width: auto;
	.btn{
		margin: 10px;
	}
}

.badges-row{
	margin: 10px 0;
}

.single-badge{
	img{
		width: 80px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) { 
	.single-campaign .campaign-first-row .join-button{
		margin: 0;
	}
	.single-campaign .campaign-first-row .campaign-title-and-blurb{
		margin: 0;
	}
	.single-event .event-first-row .event-price{
		margin: 0;
		p{
			font-size: 18px;
		}
	}
	.single-event .event-first-row .event-title{
		margin: 0;
	}
	.single-event .event-time-and-date{
		left:20px;
	}
	.single-campaign .campaign-status{
		left: 20px;
	}
	.single-following .user-kind{
		left: 20px;
	}
	.single-following .user-first-row .user-name-and-blurb{
		margin: 0;
	}
	.profiles .scroll-menu{
		margin: 105px 0 0 0;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.single-campaign .campaign-first-row .join-button{
		margin: 0;
	}
	.single-campaign .campaign-first-row .campaign-title-and-blurb{
		margin: 0;
	}
	.single-campaign .campaign-first-row .campaign-lead-image{
		margin: 0 10px 0 0;
		width: 40px;
	}
	.single-campaign .campaign-status{
		left: 20px;
	}
	.single-following .user-kind{
		left: 20px;
	}
	.single-following .user-first-row .user-name-and-blurb{
		margin: 0;
	}
	.single-following .user-first-row .user-profile-image{
		margin: 0 10px 0 0;
		width: 40px;
	}
	.single-event .event-time-and-date{
		left:20px;
	}
	.single-event .event-first-row .event-price{
		margin: 0 2px;
		p{
			font-size: 16px;
		}
	}
	.single-event .event-first-row .event-title{
		margin: 0 2px;
		p{
			font-size: 14px;
		}
	}
	.single-event .event-first-row .event-host-image{
		margin: 0 10px 0 0;
		width: 40px;
	}
	.user-profile .user-overview .profile-photo img {
		width: 60px;
		min-width: 60px;
		margin-top: 10px;
	}
	.profiles .scroll-menu{
		margin: 105px 0 0 0;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.single-campaign{
		margin: 0;
	}
	.single-event{
		margin: 0;
	}
	.single-event .event-time-and-date{
		left:0px;
		top: 60px;
	}
	.single-campaign .campaign-status{
		left: 0px;
		top: 60px;
	}
	.single-following .user-kind{
		left: 0px;
		top: 60px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}