// colors 

$main_orange: rgb(255, 178, 35);

// single event

.campaign-first-row{
	bottom: 76px;
	-webkit-transition-property:bottom;
	-webkit-transition-duration:250ms;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:250ms;
}	
.campaign-second-row{
	opacity: 0;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:250ms;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:250ms;
}

.user-first-row{
	bottom: 80px;
	-webkit-transition-property:bottom;
	-webkit-transition-duration:250ms;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:250ms;
}	
.user-second-row{
	opacity: 0;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:250ms;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:250ms;
}

.single-following:hover .user-first-row{
	bottom: 178px;
}

.single-following:hover .user-second-row{
	opacity: 1;
}

.single-campaign:hover .campaign-first-row{
	bottom: 175px;
}

.single-campaign:hover .campaign-second-row{
	opacity: 1;
}

.event-first-row{
	bottom: 77px;
	-webkit-transition-property:bottom;
	-webkit-transition-duration:250ms;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:250ms;
}	
.event-second-row{
	opacity: 0;
	-webkit-transition-property:opacity;
	-webkit-transition-duration:250ms;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:250ms;
}

.single-event:hover .event-first-row{
	bottom: 156px;
}

.single-event:hover .event-second-row{
	opacity: 1;
}

.single-event-actions li{
	background: rgba(0, 0, 0, 0.8);
	-webkit-transition-property:background;
	-webkit-transition-duration:250ms;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:250ms;
}

.single-event-actions li:hover{
	background: $main_orange;
}

.event-second-row{
	bottom: 156px;
	background: rgba(0,0,0,0.5);
	.event-progress{
		margin: 10px;
		font-size: 10px;
		}
	table{
		width: 100%;
	}
	.event-time-and-date{
		text-align: left;
	}
	.event-seats-left{
		text-align: right;
	}
	.go-button{
		margin-left: 0;
		.btn{
			width: 20px;
			margin: 20px 0;
			float: right;
		}
		a:visited{
			color: white;
		}
	}
}

.single-event, .single-following, .single-campaign{
	height: 280px;
	margin: 10px;
	z-index: 500;
	.event-image, .user-image, .campaign-image{
		height: 280px;
		max-width: 100%;
		img{
			height: 280px;
			min-width: 100%;
		}
	}
.event-first-row, .event-second-row, .user-first-row, .user-second-row, .campaign-first-row, .campaign-second-row{
	position: relative;
	margin: 0;
	color: white;
}

.unfollow-button{
	margin-left: 0;
	.btn{
		margin: 10px 0;
		float: right;
	}
}

.join-button, .promote-button{
	margin-left: 0;
	.btn{
		margin: 10px 0;
		float: right;
	}
	a:visited{
		color: white;
	}
}

.event-first-row, .user-first-row, .campaign-first-row{
	background: rgba(0,0,0,0.8);
	padding: 10px;
	position: relative;
	.event-host-image, .user-profile-image, .campaign-lead-image{
		width: 50px;
		-webkit-border-radius: 50%;
  		border-radius: 50%;
  		background-clip: padding-box;
	}
	.event-host-image, .event-title, .event-price, .event-progress, .event-go, .user-profile-image, .user-name-and-blurb, .campaign-lead-image, .campaign-title-and-blurb, .join-button{
		margin: 0 10px;
	}
	.event-title, .user-name-and-blurb, .campaign-title-and-blurb{
		font-size: 16px;
		line-height: 1.5em;
		position: relative;
		height: 60px;
		a{
			color: white;
			top: 10%;
		}
		p{
			font-size: 12px;
		}
	}
	.event-price p{
		font-size: 24px;
		font-weight: 500;
		line-height: 2em;
		height: 2em;
	}
}
}

.single-event-actions{
	ul{
		list-style: none;
		li{
			height: 91px;
			width: 91px;
			float: left;
			padding: 20px;
			margin: 10px;
			text-align: center;
			a{
				position: relative;
				top: 20%;
				color: white;
			}
			a:hover{
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
}

// user and campaign second row
.user-second-row{
	bottom: 178px;
}

.campaign-second-row{
	bottom: 175px;
}

.user-second-row, .campaign-second-row{
	background: rgba(0,0,0,0.5);
	padding: 10px 0;
	.social-stats{
		margin-left: 0;
	}
	table{
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		td{
			width: 25%;
			text-align: center;
			font-size: 12px;
		}
	}
}


// user profile styling

.user-profile{
	height: 550px;
	#profile-carousel {
		position: absolute;
	    width: 100%;
	    z-index: -1;
	    ol.carousel-indicators{
	    	z-index: 50;
	    }
		.carousel-inner{
			height: 550px;
			width: auto;
			img{
				width: 100%;
				background: no-repeat;
			}
		}
		.carousel-control{
			top: 90%;
		}
	}
	.user-overview{
		margin-top: 25px;
	    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		.user-summary, .user-summary-edit {
		    -webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;    
			box-sizing: border-box;
		    background: rgba(0,0,0,.8);
		    padding: 30px;
			h1{
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			h2{
				font-size: 20px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			h3{
				font-size: 16px;
				line-height: 1.5em;
				font-weight: 100;
				color: white;
				margin: 0;
			}
			hr{
				margin: 10px 0;
				border-bottom: none;
			}
			.btn{
				width: 23%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;    
				box-sizing: border-box; 
				padding-left: 10px;
			}
			.user-social-stats{
				margin-top: 25px;
				color: white;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				td{
					text-align: center;
				}
			}
			p{
			    text-align: right;
			    color: white;
			    margin-top: 10px;
			    font-size: 12px;
			}
		}
		.heart_this{
			margin: 0 auto;
			padding: 10px;
			background: rgba(0,0,0,0.8);
			width: 33px;
			height: 33px;
		}
	}
}

.container{
	.section-header{
		margin: 20px 0 20px 0;
		h1{
			font-size: 30px;
			color: black;
			line-height: 1.5em;
			font-weight: 100;
			display: inline-block;
		}
		ul{
			list-style: none;
			display: inline-block;
			vertical-align: middle;
			li{
				float: left;
				margin: 0 10px;
				a, a:visited{
					font-size: 16px;
					text-decoration: none;
					padding: 10px;
					color: black;
				}
				a:hover, a:active{
					background: $main_orange;
					text-decoration: none;
					color: white;
				}
			}
		}
		a:visited{
			color: black;
		}
	}
}

.user-announcements, .user-about, .user-events, .user-campaigns, .user-following, .user-chatter{
	background: rgb(230,230,230);
	padding: 0;
	.accordion{
		margin: 0;
	}
	p{
		font-size: 14px;
		line-height: 2em;
	}
	.conversants, .comments{
		img{
			width: 50px;
			height: auto;
			margin: 0 5px;
		}
	}
	.comments{
		margin-top: 10px;
		padding-top: 10px;
		img{
			margin-right: 10px;
		}
	}
}

#user-announcements, #user-about, #user-events, #user-campaigns, #user-following, #user-chatter{
	.caret{
		display: inline-block;
		vertical-align: middle;
		border-top: 6px solid gray;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
		font-size: 60px;
	}
	.caret.collapsed{
		border-top: 6px solid $main_orange;
		border-right: 6px solid transparent;
		border-left: 6px solid transparent;
	}
}

// dashboard stuff

.edit-button{
	background: rgba(0,0,0,0.8);
	margin-left: 0;
	width: auto;
	.btn{
		margin: 10px;
	}
}