// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors 

$trans_black: rgba(54,54,54,0.9);
$dark_gray: rgb(54, 54, 54);
$trans_black_more: rgba(54, 54, 54, 0.7);
$trans: rgba(0,0,0,0);
$main_orange: rgb(255, 178, 35);

// body and universal styling

body.staticpages {
	font-family: 'Open Sans', sans-serif !important; 
	background-image: url("black-Linen_@2X.png");
	.container.main{
		width: 1290px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	a, a:hover{
		background-color: transparent;
	}
}

// hero unit styling
.staticpages{
	.hero-unit{
	    background-color: transparent;
		color: white;
		padding: 0;
		margin: 0;
		height: 500px;
		line-height: 20px;
		.darkbox{
			z-index: 2;
			background-color: $trans_black_more;
			position: relative;
			left: 90px;
			-webkit-border-radius: 12px;
	          border-radius: 12px;
	          background-clip: padding-box;
			.copy{
				padding-left: 15px;
				padding-top: 5px;
				width: auto;
				margin: 0 auto 0 auto;
				h1{
					font-family: 'Satisfy', cursive;
					font-size: 70px;
					line-height: 1em;
					font-weight: 500;
					display: inline-block;
				}
				h2{
					font-size: 30px;
					font-weight: 200;
				}
				.contact{
					width: 250px;
					margin: 0 5px;
					float: left;
					h3{
					    font-family: 'Satisfy', cursive;
						font-size: 40px;
						font-weight: 900;
					}
					p{
						font-size: 16px;
					}
					a{
						color: white;
						font-size: 16px;
						font-weight: normal;
					}
				}
			}
		}
		.darkbox.howitworks{
			width: 700px;
			height: 300px;
			top: 120px;
	    }
	    .darkbox.teamandjobs{
			width: 480px;
			height: 220px;
			top: 120px;
	    }
	    .darkbox.tos{
			width: 480px;
			height: 220px;
			top: 120px;
	    }

	    .darkbox.contactus{
			width: 800px;
			height: 260px;
			top: 120px;
	    }

		#myCarousel{
			position: relative;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			z-index: 1;
			-webkit-box-shadow: 0px 0px 20px 0px #000;
	          box-shadow: 0px 0px 20px 0px #000;
			.carousel-inner{
				height: 500px;
				width: 1165px;
				.item > img{
					width: 100%;
				}
			}
			.carousel-control{
				font-size: 50px;
				color: white;
				top: 90%;
			}
		}

		#myCarousel.howitworks{
	        top: -235px;
	    }
		#myCarousel.teamandjobs{
	        top: -155px;
	    }
	    #myCarousel.teamandjobs{
	        top: -155px;
	    }
	    #myCarousel.contactus{
	        top: -195px;
	    }
	}
}

// begin infographic area styling
.staticpages{
	.infographic{
		padding-top: 90px;
		width: 1200px;
		margin: 0 auto;
		h1{
			font-family: 'Satisfy', cursive;
			font-size: 70px;
			line-height: 1em;
			font-weight: 500;
			color: white;
			text-align: center;
		}
		h2{
			padding-top: 20px;
			color: white;
			font-weight: 200;
			text-align: center;
			font-size: 30px;
		}
		a{
			color: $main_orange;
			font-weight: 900;
		}
		.number{
			background: $main_orange;
  			border-radius: 0.8em;
  			-moz-border-radius: 0.8em;
  			-webkit-border-radius: 0.8em;
  			color: #ffffff;
  			display: inline-block;
  			font-weight: bold;
  			font-size: 30px;
  			line-height: 1.6em;
  			margin-right: 5px;
  			text-align: center;
  			width: 1.6em;
		}
		.infographiccontent{
			width: 260px;
			margin: 0 20px;
			float: left;
			h1{
			  	font-family: 'Satisfy', cursive;
				font-size: 40px;
				font-weight: 900;
				color: white;
				text-align: center;
				padding-left: 10px;
				line-height: 1em;
			}
			p{
				color: white;
				font-size: 16px;
				text-align: justify;
				text-justify:distribute;
				padding: 0 2px;
				line-height: 1.25em;
			}
		}
		.infographiccontent.howitworks{
			h1{
				display:inline-block;
			}
		}
	}
}

// begin wendy and neeharika image styling

.wendyandnee{
	width: 70%;
	padding-top: 80px;
	margin: 0 auto;
}

// begin tos area styling

.toscontent{
	padding-top: 90px;
	width: 1200px;
	margin: 0 auto;
	h1{
		font-family: 'Satisfy', cursive;
		font-size: 70px;
		line-height: 1em;
		font-weight: 500;
		color: white;
		text-align: center;
	}
	p{
		color: white;
		font-size: 16px;
		padding: 0 30px;
	}
}