// colors 

$main_orange: rgb(255, 178, 35);

a.why-zip, a.why-zip:hover, a.why-zip:visited{
	color: $main_orange;
	text-decoration: none;
}

a#yelp-explanation, a#yelp-explanation:hover, a#yelp-explanation:visited{
	color: $main_orange;
	text-decoration: none;
}

.foodie-quiz{
	.title{
		margin-bottom: 60px;
	}
	.profile-images{
		p{
			text-align: center;
		}
	}
	h1{
		font-size: 50px;
		line-height: 1.2em;
		font-weight: 100;
		margin: 0;
		text-align: center;
	}
	p{
		font-size: 20px;
		font-weight: 100;
		text-align: center;
	}
}

.question{
	margin-top: 50px;
	h2{
		font-size: 24px;
		line-height: 1.2em;
		font-weight: 100;
		text-align: center;
	}
}

.answer{
	background: rgba(0, 0, 0, 0.8);
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	.answer-caption{
		margin-left: 0;
	}
	h3{
		color: white;
		font-size: 18px;
		line-height: 1.2em;
		font-weight: 100;
	}
}

.single-visual-answer{
	height: 280px;
	margin-top: 10px;
}

.single-visual-answer-range{
	height: 280px; // will be 400px
	margin-top: 10px;
}

.single-visual-answer{
	.answer{
		bottom: 40px;
	}
}

.single-visual-answer-range{
	.answer{
		bottom: 140px; // will be 200px
	}
}

.answer-slider{
	margin-top: 135px;
}

.navigation-buttons{
	border-top: 1px solid black;
	padding-top: 20px;
	.btn-warning{
		margin-left: 10px;
	}
}

.quiz-progress{
	.progress{
  		-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
        box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
	}
}

.create-profile #neighborhoods, .create-profile #state{
	display: block;
}

slider span.bubble {
	top: -30px;
}

slider span.pointer.active:after{
	background: $main_orange;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.single-visual-answer-range .answer {
		bottom: 100px;
	}
	.single-visual-answer {
		height: 200px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.single-visual-answer-range .answer {
		bottom: 300px;
	}
	.single-visual-answer-range {
		height: 580px;
	}
	.answer-slider{
		margin-top: 0;
		margin-bottom: 80px;
	}

	.single-visual-answer {
		height: 580px;
	}
}

.profile-image-row, .cover-image-row{
	height: 150px;
}

.default{
	margin: 0 40px;
}

.default img, .cover-image img, .profile-image img{
	max-width: 100%;
	height: 150px;
}

 
/* Landscape phones and down */
@media (max-width: 480px) {
	.single-visual-answer-range .answer {
		bottom: 140px;
	}
	.single-visual-answer-range {
		height: 320px;
	}
	.answer-slider{
		margin-top: 0;
		margin-bottom: 40px;
	}

	.single-visual-answer {
		height: 320px;
	}
}

