// colors 

$main_orange: rgb(255, 178, 35);

a.why-zip, a.why-zip:hover, a.why-zip:visited{
	color: $main_orange;
	text-decoration: none;
}

a#yelp-explanation, a#yelp-explanation:hover, a#yelp-explanation:visited{
	color: $main_orange;
	text-decoration: none;
}

.foodie-quiz{
	.title{
		margin-bottom: 60px;
	}
	.profile-images{
		p{
			text-align: center;
		}
	}
	h1{
		font-size: 50px;
		line-height: 1.2em;
		font-weight: 100;
		margin: 0;
		text-align: center;
	}
	p{
		font-size: 20px;
		font-weight: 100;
		text-align: center;
	}
}

.question{
	margin-top: 50px;
	h2{
		font-size: 24px;
		line-height: 1.2em;
		font-weight: 100;
		text-align: center;
	}
}

.answer{
	background: rgba(0, 0, 0, 0.8);
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	.answer-caption{
		margin-left: 0;
	}
	h3{
		color: white;
		font-size: 18px;
		line-height: 1.2em;
		font-weight: 100;
	}
}

.single-visual-answer{
	height: 280px;
	margin-top: 10px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	.answer{
		bottom: 40px;
	}
	.answer-image{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		img{
		min-height: 100%;
		min-width: 340px;
		width: 100%;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		}
	}
}

.single-visual-answer-range{
	height: 280px; // will be 400px
	margin-top: 10px;
	.answer{
		bottom: 140px; // will be 200px
	}
	.answer-image{
		img{
		min-height: 100%;
		min-width: 340px;
		width: 100%;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;    
		box-sizing: border-box;
		}
	}
}

.answer-slider{
	margin-top: 135px;
}

.navigation-buttons{
	border-top: 1px solid black;
	padding-top: 20px;
	.btn-warning{
		margin-left: 10px;
	}
}

.quiz-progress{
	.progress{
  		-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
        box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
	}
}

.create-profile #neighborhoods, .create-profile #state{
	display: block;
}

.create-profile input#vegetarian{
	margin-top: 0px;
}

p#vegetarian{
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
}

slider span.bubble {
	top: -30px;
}

slider span.pointer.active:after{
	background: $main_orange;
}

#profile-image-button, #cover-image-button{
	width: 100%;
}

#submit-button{
	width: 50%;
	height: 40px;
	font-size: 20px;
	font-weight: 200;
	margin: 40px 0;
}


.default img, .cover-image img, .profile-image img{
	width: 100%;
	overflow: hidden;
}