// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors 

$trans_black: rgba(54,54,54,0.9);
$dark_gray: rgb(54, 54, 54);
$trans_black_more: rgba(54, 54, 54, 0.7);
$trans: rgba(0,0,0,0);
$main_orange: rgb(255, 178, 35);

body.users {
	font-family: 'Open Sans', sans-serif !important; 
	background-image: url("black-Linen_@2X.png");
	color: white;
}

h2{
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 0 5px;
	display: block;
	color: white;
}

// user profile styling

.userProfile{
	margin-top: 100px;
	.profilePic {
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		-ms-border-radius: 40px;
		-o-border-radius: 40px;
		border-radius: 40px;
	}
	.userInfo{
		h1{
			font-size: 30px;
			font-weight: 100;
			line-height: 1em;
		}
		p{
			font-size: 16px;
			line-height: 1em;
		}
		p.userBlurb{
			font-style: italic;
		}
		.userStats{
			margin-top: 20px;
			tr.Numbers{
				font-weight: 900;
			}
		}
		.userStats td{
			padding: 0 10px 0 10px;
			border-right: 1px solid white;
		}
		.userStats .first{
			padding-left: 0;
		}
		.userStats .last{
			border-right: none;
		}
	}
}

// events list styling

.userEvents{
	margin-top: 40px;
	.eventlisting {
		margin: 0;
		li {
			list-style: none;
			float: left;
			margin: 10px 0;
			width: 525px;
			height: 350px;
			}
		.listing-card-text{	
			z-index: 10;
			background-color: rgba(50, 50, 50, 0.8);
			color: white;
			width: 525px;
			position: relative;
			bottom: 92px;
			td{
				font-size: 14px;
			}
			.listing-card-avatar > img{
				height: 50px;
				-webkit-border-radius: 40px;
				-moz-border-radius: 40px;
				-ms-border-radius: 40px;
				-o-border-radius: 40px;
				border-radius: 40px;
			}
			td.listing-card-avatar{
				height: 50px;
				width: 50px;
				padding: 8px;
			}
			.listing-card-event{
				line-height: 20px;
				padding: 8px 4px;
				font-size: 13px;
				a, a:hover, a:visited{
					color: white;
				}
			}
			.listing-card-price{
				padding: 8px;
				font-size: 18px;
				font-weight: 800;
			}
			tr.bottom{
				display:none;
				min-height: 0;
			}
			.progress{
				height: 10px;
				padding: 0;
				margin: 0 0 0 10px;
				.bar{
					height: 10px;
				}
			}
			td.action{
				padding: 5px 14px;
			}
			.seatsleft{
				font-size: 12px;
				text-align: right;
			}
		}
	}
} 

// restaurants followed styling
.restaurantsFollowed{
	h2{
		margin-top: 20px;
	}
	.userCard {
		list-style: none;
		float: left;
		margin: 10px 0 50px 0;
		width: 525px;
		height: 350px;
		.user-card-text{	
			z-index: 10;
			background-color: rgba(50, 50, 50, 0.8);
			color: white;
			width: 525px;
			position: relative;
			bottom: 70px;
			td{
				font-size: 14px;
			}
			.user-card-avatar > img{
				height: 50px;
				-webkit-border-radius: 40px;
				-moz-border-radius: 40px;
				-ms-border-radius: 40px;
				-o-border-radius: 40px;
				border-radius: 40px;
			}
			td.user-card-avatar{
				height: 50px;
				width: 50px;
				padding: 8px;
			}
			.user-card-blurb{
				line-height: 20px;
				padding: 8px 4px;
				font-size: 13px;
			}
			tr.bottom{
				display: none;
				min-height: 0;
				.socialButtons.sb.text > a{
					padding: 9px 14px 3px 9px;
					float: left;
				}
			}
		}
	}
}