%form#new_charge.simple_form.new_charge{"accept-charset" => "UTF-8", :action => "/charges", :method => "post", :name => "stripe"}
  %div{:style => "margin:0;padding:0;display:inline"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}
    %input{:name => "authenticity_token", :type => "hidden", :value => "AOfcJWtiQMtPYck5bWTV5mlMRUf/q11ktoJXs5942to="}
  %h2 You will not be charged until the event tilts
  %h3 Credit Card Information
  
  %input#full_name{'ng-model' => "buyer.name", :placeholder => "Full Name", :type => "string", :required => "required", :name => "name", 'ng-class' => "{error: stripe.name.$invalid}"}

  %input#credit_card_number{'ng-model' => "card.number", :placeholder => "CC Number", :type => "text", :required => "required", :name => "card_number", :autofocus => "", 'ng-pattern' => '/^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$/', 'ng-class' => "{error: stripe.card_number.$invalid}"}
  
  #security_code
    %p.cvc-explanation{:"data-toggle" => 'tooltip', :title => 'explaining CVC'} What is?
    %input{'ng-model' => "card.cvc", :placeholder => "CVC", :type => "text", :required => "required", :name => "card_cvc", 'ng-pattern' => '/^[0-9]{3,4}$/', :maxlength => "4", 'ng-class' => "{error: stripe.card_cvc.$invalid}"}

  
  #expiration
    %p Expiration
    %select#expiration_month{'ng-model' => "card.expMonth", :required => "required", :name => "card_expMonth"}
      %option{:value => ""} M
      %option{:value => 1} 01
      %option{:value => 2} 02
      %option{:value => 3} 03
      %option{:value => 4} 04
      %option{:value => 5} 05
      %option{:value => 6} 06
      %option{:value => 7} 07
      %option{:value => 8} 08
      %option{:value => 9} 09
      %option{:value => 10} 10
      %option{:value => 11} 11
      %option{:value => 12} 12

    %select#expiration_year{'ng-model' => "card.expYear", :required => "required", :name => "card_expYear"}
      %option{:value => ""} Y
      %option{:value => 2013} 13
      %option{:value => 2014} 14
      %option{:value => 2015} 15
      %option{:value => 2016} 16
      %option{:value => 2017} 17
      %option{:value => 2018} 18
      %option{:value => 2019} 19
      %option{:value => 2020} 20
      %option{:value => 2021} 21
      %option{:value => 2022} 22
      %option{:value => 2023} 23
      %option{:value => 2024} 24

  .help-block-white{'ng-show' => 'stripe.card_number.$error.pattern'} Please enter a valid credit card number
  .help-block-white{'ng-show' => 'stripe.card_cvc.$error.pattern'} Please enter a valid credit card security code
    
  %h3 Billing Address
    
  %input#address1{'ng-model' => "buyer.billingAddress", :placeholder => "Address", :type => "text", :required => "required", :name => "billing_address", 'ng-class' => "{error: stripe.billing_address.$invalid}"}
  -#%input#address2{:placeholder => "Address Line 2", :type => "string"}/
    
  %input#city{'ng-model' => "buyer.billingCity", :placeholder => "City", :type => "text", :required => "required", :name => "billing_city", 'ng-class' => "{error: stripe.billing_city.$invalid}"}
    
  %select#state{'ng-model' => "buyer.billingState", :required => "required", :name => "billing_state", 'ng-class' => "{error: stripe.billing_state.$invalid}"}
    
  %input#zipcode{'ng-model' => "buyer.billingZip", :placeholder => "Zip Code", :type => "text", :required => "required", :name => "billing_zip", :maxlength => "5", 'ng-pattern' => '/^[0-9]{5}$/', 'ng-class' => "{error: stripe.billing_zip.$invalid}"}

  .help-block-white{'ng-show' => 'stripe.name.$error.required || stripe.card_number.$error.required || stripe.card_cvc.$error.required || stripe.billing_address.$error.required || stripe.billing_city.$error.required || stripe.billing_state.$error.required || stripe.billing_zip.$error.required'} All fields are required
  .help-block-white{'ng-show' => 'stripe.billing_zip.$error.pattern'} Please enter a valid zip code
    
  %input#charge_last4{:name => "charge[last4]", :type => "hidden"}
    
  %input#charge_token{:name => "charge[token]", :type => "hidden"}
  -#%input#new_charge{:name => "commit", :type => "submit", :value => "Create Charge"}