.footer.row
  .container
    .span1
    .span2.about-links
      %ul
        %li
          %h3 About
        %li
          %a{:href => "/home/blog"} Blog
        %li
          %a{:href => "/home/teamandjobs"} Team & Jobs
        %li
          %a{:href => "/home/tos"} Terms of Service
    .span2.connect-with-us
      %ul
        %li
          %h3 Connect
          %table.social-media
            %tr
              %td
                %a.sb.facebook.circle.no-border.no-shadow.orange{:href=>"https://www.facebook.com/simmrco"}
              %td
                %a.sb.twitter.circle.no-border.no-shadow.orange{:href=>"https://twitter.com/simmrco"}
    .span2.contact-us
      %h3 Contact
      %p 144 2nd Street
      %p San Francisco, CA
      %p 415-939-4152
    .span2
    .span2.footer-logo
      =image_tag("white_simmr.png")
    .span1