.container.nav-container-footer
  .row.footer
    .span5.footer-content
      %ul
        %li
          %a{:href => "/home/philosophy"} Philosophy
        %li.bizsignup
          = link_to "Become a Host", "#sign_up_business", :"data-toggle" => "modal"
        %li
          %a{:href => "/home/teamandjobs"} Team & Jobs
        %li
          %a{:href => "/home/tos"} Terms
        %li
          %a{:href => "/home/privacy"} Privacy
        %li
          %a{:href => "mailto:hello@simmr.co"} Email Us!
        %li
          %a.blog{:href => "http://simmrco.wordpress.com",:target=>"_blank"} Blog
    .span7.footer-content
      %ul.pull-right
        %li
          made with &#x2665 in SF, CA
        %li.social
          .fb-like{"data-href" => "http://www.facebook.com/simmrco", "data-layout" => "button_count", "data-show-faces" => "true", "data-width" => "100"}
        %li.social#fb-share-button
          .fb-share-button{"data-href" => "http://www.facebook.com/simmrco", "data-type" => "icon_link", "data-width" => "100"}
        %li.social#twitter-share
          %a.twitter-share-button{"data-text" => "be the first to find out about unique food events!", "data-url" => "http://www.simmr.co", "data-via" => "simmrco", "data-count" => "none", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        %li.social#twitter-follow
          %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/simmrco"} Follow @simmrco
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        %li.social#yelp-logo
          =link_to (image_tag 'YelpLogo.png'), 'http://www.yelp.com', :target=>"_blank"
        