.footer.row
  .container
    .span1
    .span2.about-links
      %ul
        %li
          %h3 About
        %li
          %a{:href => "/home/blog"} Blog
        %li
          %a{:href => "/home/teamandjobs"} Team & Jobs
        %li
          %a{:href => "/home/tos"} Terms of Service
      %br
      %h3 Contact
      %p 144 2nd Street
      %p San Francisco, CA
      %p 415-939-4152
    .span6.connect-with-us
      %ul
        %li
          %h3 Connect
          %table.social-media
            %tr#facebook-footer
            %tr#twitter-footer
              %a.twitter-timeline{:href => "https://twitter.com/simmrco", :'data-widget-id' => "354072241715175424", :"data-chrome" => "noborders transparent", :"data-tweet-limit" => "2"} Tweets by @simmrco
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    .span2.footer-logo
      =image_tag("white_simmr.png")
      %p made {lovingly} in San Francisco
    .span1