%ul.nav.nav-pills
  %li
    %a.footerlink{:href => "#"} FAQ
  %li
    %a.footerlink{:href => "#"} About
  %li
    %a.footerlink{:href => "#"} Jobs
  %li
    %a.footerlink{:href => "#"} Press
  %li
    %a.footerlink{:href => "#"} Privacy
  %li
    %a.footerlink{:href => "#"} Terms
  %li
    %a.footerlink{:href => "#"} Blog

%p.credits Made in San Francisco | Copyright © 2013