.container.nav-container-footer
  .row.footer
    .span5.footer-content
      %ul
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} How It Works
        %li
          %a{:href => "/home/teamandjobs"} Team & Jobs
        %li
          %a{:href => "/home/tos"} Terms of Service
        %li
          %a{:href => "mailto:hello@simmr.co"} Contact
    .span7.footer-content
      %ul.pull-right
        %li
          made (lovingly) in San Francisco, CA
        %li.social
          .fb-like{"data-href" => "http://www.facebook.com/simmrco", "data-layout" => "button_count", "data-send" => "true", "data-show-faces" => "true", "data-width" => "100"}
        %li.social
          %a.twitter-share-button{"data-text" => "become &gt; a customer by engaging with your fave food businesses and being the 1st to discover new ones :)", "data-url" => "http://www.simmr.co", "data-via" => "simmrco", "data-count" => "none", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        %li.social
          %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/simmrco"} Follow @simmrco
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        