.mastfoot.clearfix
  %ul.bottomnav
    %li
      %a{:href => "#"} FAQ
    %li
      %a{:href => "#"} About
    %li
      %a{:href => "#"} Jobs
    %li
      %a{:href => "#"} Press
    %li
      %a{:href => "#"} Privacy
    %li
      %a{:href => "#"} Terms
    %li.blog
      %a{:href => "#"} Blog

  .bottomnav.socialmedia
    %a{:href => "#"} <img src='facebook.png'>
