%form.guests{:name => "guest_registration", 'ng-repeat' => 'guest in guests'}
  %input.guest-name{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.name', :type=>'text', :placeholder =>"Guest Full Name", :required => "required", :name => "guest", 'ng-class' => "{error: guest_registration.guest.$invalid}"}
  %input.guest-email{'ng-disabled' => 'guest.id > 0','ng-model' => 'guest.email',:type=>'email', :placeholder =>"Guest Email", :required => "required", :name => "guest_email", 'ng-class' => "{error: guest_registration.guest_email.$invalid}"}
  .help-block-white{'ng-show' => 'guest_registration.guest_email.$error.email'} Please enter a valid email
  .help-block-white{'ng-show' => 'guest_registration.guest_email.$error.required || guest_registration.guest.$error.required'} All fields are required
%button.btn.btn-warning.standalone-button{'ng-click' => 'gotoPayment()', 'ng-disabled' => "guest_reservation.$invalid"} Next