.navbar-inner.clearfix
  = link_to image_tag("white_simmr.png", :border=>0), '..', :class => 'brand'
  %ul.nav
    %li.pull-right
      %a{:href => ".."} Sign Up
    %li
      %a{:href => "/home/howitworks"} How It Works
    %li
      %a{:href => "/home/teamandjobs"} Team & Jobs
    %li
      %a{:href => "/home/contactus"} Contact Us 