.nav-container
  .row.nav
    .span4.logo-and-location
      = link_to image_tag("logo_orange_text.png", :border=>0), '../home/index', :class => "logo"
      %ul
        %li.dropdown
          %a{:href => "#", "data-toggle" => "dropdown"}
            San Francisco
            %span.caret
          %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
            %li.dropitem
              %a{:href => "#", :tabindex => "-1"} Other City 1
            %li.dropitem
              %a{:href => "#", :tabindex => "-1"} Other City 2
            %li.divider
            %li.dropitem 
              %p Don't see your city? Enter your zip code or city name
              %form.navbar-form
                %input.span2{:type => "text", :placeholder => "City or Zip"}
    .span8.nav-right
      %ul
        %ul.user-nav-control.pull-right
          %li.dropdown
            %a{:href => "#", "data-toggle" => "dropdown"}
              =current_user.first_name + " " + current_user.last_name
              %span.caret
            %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
              %li.dropitem
                %a{:href => "#", :tabindex => "-1"} Dashboard
              %li.dropitem
                = link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?", :tabindex => "-1"
        %li.pull-right
          %a{:href =>"#"}Request an Event
        %li.pull-right
          =link_to "Create an Event", new_event_path
        %input.pull-right{:type => 'text', :placeholder => "Search Events"}
      