.navbar-inner.clearfix
  = link_to image_tag("white_simmr.png", :border=>0), '../home/index', :class => 'brand'
  %ul.nav
    %li.dropdown
      %a{:href => "#", "data-toggle" => "dropdown"} San Francisco <span class="caret color=white"></span>
      %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
        %li.dropitem
          %a{:href => "#", :tabindex => "-1"} Other City 1
        %li.dropitem
          %a{:href => "#", :tabindex => "-1"} Other City 2
        %li.divider
        %li.dropitem 
          %p Don't see your city? Enter your zip code or city name
          %form.navbar-form
            %input.span2{:type => "text"}/
    -if user_signed_in? == false
      %li.pull-right
        = link_to "Sign Up", "#sign_up", :"data-toggle" => "modal"
      %li.pull-right
        = link_to "Log In", "#sign_in", :"data-toggle" =>"modal"
    -if user_signed_in?
      %li.pull-right
        = link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?"        
    %li.dropdown.pull-right
      %a{:href => "#", "data-toggle" => "dropdown"} About <span class="caret color=white"></span>
      %ul.dropdown-menu{"aria-labeledby" => "dLabel", :role => "menu"}
        %li.dropitem
          %a{:href => "#", :tabindex => "-1"} About
        %li.dropitem
          %a{:href => "#", :tabindex => "-1"} Jobs
        %li.dropitem
          %a{:href => "#", :tabindex => "-1"} Legal
        %li.dropitem
          %a{:href => "#", :tabindex => "-1"} Contact Us 
    %li.pull-right
      %a{:href => "#"} Create an Event