.row
  .event-time-and-date
    July 8
  .span5.event-image
    =link_to image_tag("Food 17.jpg"), "#"
.row.event-first-row
  .span1.event-host-image
    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Host Name", "class" => "event-card-host-name"
  .span3.event-title
    %a{:href => "#"} 4 Course "Liberty Duck" Dinner 
  .span1.event-price
    %p $120
.row.event-second-row
  .span4.event-progress
    %table
      %tr
        %td.event-seats-left 5 seats left
    .progress.progress-warning
      .bar{:style => "width: 60%;"}
  .span1.go-button
    %a.btn.btn-warning{:href => "#"} Go
    