.row
  .span5.event-image
    =link_to image_tag("Food 17.jpg"), "#"
.row.event-first-row
  .span1.event-host-image
    =link_to image_tag("Favicon.png"), "#", "data-toggle" => "tooltip", "title" => "Host Name", "class" => "event-card-host-name"
  .span3.event-title
    %a{:href => "#"} 4 Course "Liberty Duck" Dinner with Chefs
  .span1.event-price
    %p $120
.row.event-second-row
  .span5.event-progress
    %table
      %tr
        %td.event-time-and-date time and date of event
        %td.event-seats-left 5 seats left
    .progress.progress-warning
      .bar{:style => "width: 60%;"}
    