!!!
%html
  %head
    %title MVP
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield

- if alert or notice
  .alert
    %p.alert = alert
    %p.notice = notice